//——————————————————————————————————————————————————————————————————————————————
// Common Design: Layout
//——————————————————————————————————————————————————————————————————————————————

html {
  height: 100%;

  @include desktop {
    padding: 0 $cd-site-padding;
  }
}

body {
  background: $cd-site-bg-color;
  min-height: 100%;

  &:not(.user-logged-in) {
    //@supports (display: grid) {
    //  display: grid;
    //  grid-template-rows: 1fr auto;
    //}
  }
}

.cd-layout-container {
  background: $cd-white;
  margin: 0 auto;
  max-width: $cd-max-body-width;
  min-height: 100%;
  padding: 0;

  // helper for @support testing. Enable background for colours.
  //background: rgba(255, 0, 0, 0.1);

  // sass-lint:disable no-empty-rulesets
  @supports (display: flex) {
    //background: rgba(0, 255, 0, 0.1);
  }

  // Grid is used to fix the footer to the bottom of the screen, regardless of page min-height.
  @supports (display: grid) {
    //background: rgba(0, 0, 255, 0.1);
    @include tablet {
      display: grid;
      grid-template-rows: 98px 1fr auto; // Height of header.
    }
  }
}

.cd-container {
  @include clearfix;
  box-sizing: border-box;
  padding: 0 $cd-container-padding;
  margin: 0 auto;
  width: 100%;
  max-width: $cd-max-width;

  @include tablet {
    padding: 0 $cd-container-padding-tablet;
  }

  @include xlarge {
    padding: 0 $cd-container-padding-xlarge;
  }
}

.cd-container[role='main'] {
  padding-bottom: 2rem;

  @include desktop {
    padding-bottom: 4rem;
  }
}

// Sidebar
.cd-layout-container main.cd-container {
  padding-top: 2rem;

  @include tablet {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.cd-layout-container main.cd-container .cd-layout-sidebar-first {
  flex-basis: 285px;
  flex-grow: 1;
}

.cd-layout-container main.cd-container .cd-layout-content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.cd-layout-with-sidebar .cd-layout-content {
  @include tablet {
    margin-right: 3rem;
  }
}
