/**
 * Arabic fonts.
 *
 * @see https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts-1/arabic
 *
 * @todo Noto Kufi is missing some codepoints, see https://github.com/googlefonts/noto-fonts/issues/1870
 */

/* Import the font(s). */
@import url('//fonts.googleapis.com/earlyaccess/notokufiarabic.css');

/* Set the css variable(s) for the font(s). */
:root {
  --cd-font--noto-kufi-arabic: 'Noto Kufi Arabic', sans-serif;
}

/* Body. */
html[lang='ar'] body {
  font-family: var(--cd-font--noto-kufi-arabic);
}

/* Headings. */
html[lang='ar'] h1,
html[lang='ar'] h2,
html[lang='ar'] h3,
html[lang='ar'] h4,
html[lang='ar'] h5,
html[lang='ar'] h6 {
  font-family: var(--cd-font--noto-kufi-arabic);
}

/* Header, footer. */
html[lang='ar'] .cd-header,
html[lang='ar'] .cd-footer {
  font-family: var(--cd-font--noto-kufi-arabic);
}
