/**
 * Common Design: Content Layouts
 */

/**
 * Universal layout
 *
 * This layout is designed for browsers that support CSS 2.1 and basic media
 * queries as defined in https://www.w3.org/TR/mediaqueries-3/ which itself is
 * totally optional to render content legibly.
 *
 * Any advanced enhancements will be defined later in this file, but the rules
 * in this section suffice to create a minimal layout that any browser handles.
 */
.cd-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1220px; /* --cd-max-width */
  margin: 0 auto;
  padding: 0 0.75rem; /* --cd-container-padding */
}

@media (min-width: 768px) {
  .cd-container {
    padding: 0 1.5rem; /* --cd-container-padding-tablet */
  }
}

@media (min-width: 1200px) {
  .cd-container {
    padding: 0 2.5rem; /* --cd-container-padding-xlarge */
  }
}

/**
 * Since the universal layout is linear, add some space in between each section.
 */
.cd-layout__sidebar {
  margin: 2rem 0;
}


/**
 * Modern layout
 *
 * The remainder of this CSS file uses modern CSS to provide a flexible, RTL
 * layout using flex-box, logical properties, and CSS Vars. The @supports block
 * explicitly requires all three for the layout to apply. Any browser which
 * doesn't meet these requirements will still utilize the basic layout provided
 * unconditionally in the section above.
 */
@supports (display: flex) and (padding-inline: 1rem) and (color: var(--supports-test)) {
  /**
   * <main> content container
   */
  .cd-container[role=main] {
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }

  @media (min-width: 1024px) {
    .cd-container[role=main] {
      padding-block-start: 3rem;
      padding-block-end: 4rem;
    }
  }

  /**
   * Use flex-box once window can accomodate columns.
   */
  @media (min-width: 1024px) {
    .cd-layout__content-wrapper {
      display: flex;
      flex-flow: row nowrap;
      gap: 2rem;
    }
  }

  /**
   * Remove margins from the universal layout since flex gap handles it now.
   */
  .cd-layout__sidebar {
    margin: 0;
  }

  /**
   * Prevent sidebar from displaying when region is empty.
   */
  .cd-layout__sidebar:empty {
    display: none;
  }

  /**
   * Define sidebar styles
   */
  @media (min-width: 1024px) {
    .cd-layout__sidebar {
      flex: 1 0 285px;
      max-width: 400px;
      background-color: var(--brand-grey);
      padding: var(--cd-container-padding);
    }
  }

  /**
   * Content area is intentionally undefined, so that it fills available space
   * without enforcing any additional constraints on the layout.
   */
  .cd-layout-content {}
}

/**
 * Faux sidebar in Node content.
 * Requires markup in node-full.html.twig.
 */
.cd-layout-two-col .cd-layout-main-content {
  /* These override the main layout rules based on which sidebar is enabled.
  The status of those sidebars are not important to this inner layout. */
  margin-left: 0;
}

@media (min-width: 1024px) {
  .cd-layout-two-col .cd-layout-main-content {
    flex-basis: 0;
    flex-grow: 999;
  }

  [dir=ltr] .cd-layout-two-col .cd-layout-main-content {
    margin-right: 2rem;
  }

  [dir=rtl] .cd-layout-two-col .cd-layout-main-content {
    margin-left: 2rem;
  }
}

.cd-layout-two-col .cd-layout__sidebar--first {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--brand-grey);
}

@media (min-width: 1024px) {
  .cd-layout-two-col .cd-layout__sidebar--first {
    flex-basis: 285px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .cd-layout-two-col {
    display: flex;
    flex-wrap: wrap;
  }
}

.region-sidebar-first:empty,
.region-facets:empty {
  display: none;
}

.region-facets + .region-sidebar-first {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .region-facets + .region-sidebar-first {
    margin-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .cd-page-title .cd-layout-with-sidebar {
    /* --cd-max-width minus padding, minus --cd-max-content-width. */
    padding-inline-end: 320px;
  }

  .cd-layout--sidebar-first .cd-page-title,
  .cd-layout--sidebar-second .cd-page-title,
  .cd-layout--sidebar-both .cd-page-title {
    padding-right: 0;
    padding-left: 0;
  }
}
