{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes }}>
  <svg class="cd-icon cd-icon--search">
    <use xlink:href="#cd-icon--search"></use>
  </svg>
  <span class="visually-hidden">Search</span>
</button>
