<a href="#cd-toc" class="cd-button cd-button--bold cd-button--uppercase cd-button--small cd-button--icon">
  <span class="cd-button__text">TOC</span>
  <svg class="cd-icon cd-icon--arrow-up">
    <use xlink:href="#cd-icon--arrow-up"></use>
  </svg>
</a>
