<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
  <link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
  <link rel=stylesheet href="../cd-utilities/cd-utilities.css" type="text/css" media=screen>
  <link rel=stylesheet href="../cd-button/cd-button.css" type="text/css" media=screen>
  <link rel=stylesheet href="cd-toc.css" type="text/css" media=screen>
</head>
<body>
<div class="cd-page-layout-container">
  <div class="cd-container">
    <div class="cd-toc cd-toc--float-left [ cd-flow ]">
      <h3 class="cd-toc__title" id="table-of-contents-title">Table of Contents</h3>
      <ol id="cd-toc" class="cd-toc__list cd-toc__list--roman" aria-labelledby="table-of-contents-title">
        <li><a href="#heading-one">Example heading one</a></li>
        <li><a href="#heading-two">Example heading two</a>
          <ol>
            <li><a href="#heading-two-point-one">Example heading two point one</a></li>
            <li><a href="#heading-two-point-two">Example heading two point two  Mauris velit lacus, malesuada consectetur tortor quis</a></li>
          </ol>
        </li>
        <li><a href="#heading-three">Example heading three</a></li>
      </ol>
    </div>

    <article class="cd-article">
      <h2>This is an example article with a table of contents</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue a arcu sed aliquet. Vestibulum pretium lacus dolor, vitae luctus magna rhoncus eget. Fusce suscipit porttitor euismod. Vivamus turpis augue, sagittis ac risus in, dignissim posuere velit. Duis vestibulum dui non tellus luctus dignissim. Cras semper vitae magna vitae egestas. Aliquam erat volutpat. Ut neque arcu, euismod nec laoreet et, scelerisque vel tortor. Integer ut ligula eros. Sed in enim bibendum, dictum metus et, vehicula ante. Aliquam vitae vulputate odio, vel pretium mi. Integer dapibus pharetra eros, at placerat ante bibendum in.</p>

      <h3 id="heading-one">This is an example heading</h3>

      <p>Etiam fermentum sit amet metus sed hendrerit. Aenean quis hendrerit augue, in congue enim. Aenean at nisi nec tortor mollis vehicula et at nulla. Pellentesque sodales, sapien a congue placerat, enim purus blandit neque, non mattis ex magna eu enim. Maecenas sed lobortis tortor, ut tristique libero. Fusce laoreet eros et tristique hendrerit. Fusce non augue ac libero consequat molestie ac sed diam. Ut sed sodales orci. In hac habitasse platea dictumst. Ut ut justo eget lectus bibendum viverra eu sit amet velit. Vivamus non diam nec lorem pulvinar tempor. Cras non ante libero.</p>

      <h3 id="heading-two">This is an example heading</h3>

      <p>In hac habitasse platea dictumst. Sed semper metus erat, vel consectetur nisi fermentum sed. Nulla vulputate, ipsum in auctor ullamcorper, sapien erat sollicitudin purus, quis pellentesque magna tortor ac magna. Vivamus massa diam, sollicitudin id fermentum ut, pretium eu tortor. Praesent in tortor velit. Ut a leo quis tortor dignissim ultricies ut vel lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin auctor, mauris eu ultrices porttitor, enim ex ultricies quam, sed lobortis dolor ligula vel lectus. Duis commodo neque a molestie aliquam.</p>

      <h4 id="heading-two-point-one">This is an example heading</h4>

      <p>Cras venenatis erat eu congue cursus. Sed suscipit elementum volutpat. Mauris velit lacus, malesuada consectetur tortor quis, scelerisque mattis elit. Pellentesque ipsum purus, malesuada sit amet purus non, posuere maximus ligula. Integer eu est a leo egestas scelerisque nec ut lacus. Proin lectus risus, sagittis ac accumsan semper, condimentum id ligula. Suspendisse potenti. Mauris dictum placerat dignissim. Cras tortor nulla, sodales quis urna ac, blandit ultrices urna. Donec lectus nisl, molestie ut vulputate rutrum, sollicitudin molestie lectus.</p>

      <h4 id="heading-two-point-two">This is an example heading</h4>

      <p>Cras venenatis erat eu congue cursus. Sed suscipit elementum volutpat. Mauris velit lacus, malesuada consectetur tortor quis, scelerisque mattis elit. Pellentesque ipsum purus, malesuada sit amet purus non, posuere maximus ligula. Integer eu est a leo egestas scelerisque nec ut lacus. Proin lectus risus, sagittis ac accumsan semper, condimentum id ligula. Suspendisse potenti. Mauris dictum placerat dignissim. Cras tortor nulla, sodales quis urna ac, blandit ultrices urna. Donec lectus nisl, molestie ut vulputate rutrum, sollicitudin molestie lectus.</p>

      <ol>
        <li>first item</li>
        <li>second item  <!-- closing </li> tag not here! -->
          <ol>
            <li>second item first subitem</li>
            <li>second item second subitem</li>
            <li>second item third subitem</li>
          </ol>
        </li>            <!-- Here's the closing </li> tag -->
        <li>third item</li>
      </ol>


      <h3 id="heading-three">This is an example heading</h3>

      <p>Donec porttitor maximus ligula. Quisque id gravida ante. Praesent nec leo ac nibh condimentum aliquet. Duis accumsan accumsan sagittis. Maecenas fermentum nulla et purus scelerisque finibus. Pellentesque egestas dignissim hendrerit. Sed pulvinar viverra libero ac rhoncus. Nunc pretium semper nisi, a viverra quam pulvinar non. Integer laoreet malesuada rhoncus. Aenean quis gravida justo. Proin faucibus mi justo, eget auctor nisi dapibus ac. Donec congue lorem quis odio venenatis ultrices.</p>

      <div class="cd-toc__back-to-toc">
        <a href="#cd-toc" class="cd-button cd-button--bold cd-button--uppercase cd-button--small cd-button--icon">
          <span class="cd-button__text">Back to TOC</span>
          <svg class="cd-icon cd-icon--arrow-up" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--arrow-up"></use>
          </svg>
        </a>
      </div>

    </article>

  </div>
</div>
</body>
</html>
