<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-utilities/cd-utilities.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-typography/cd-typography.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-author.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">
    <article class="cd-article">

      <footer class="cd-author [ cd-bumper ]">
        <div class="cd-author__image cd-author__image--rounded">
          <img src="../cd-byline/mark-lowcock.jpg" alt="Mark Lowcock">
        </div>

        <div class="cd-author__content">
          Submitted by <a title="View user profile." href="#" class="username">username</a>
          on 19 August 2009
        </div>
      </footer>

      <hr>

      <footer class="cd-author [ cd-bumper ]">
        <div class="cd-author__image cd-author__image--rounded">
          <img src="../cd-byline/mark-lowcock.jpg" alt="Mark Lowcock">
        </div>

        <div class="cd-author__content">
          Submitted by <a title="View user profile." href="#" class="username">username</a>
          on 19 August 2009
        </div>
      </footer>

    </article>
  </div>
</div>
