.cd-author {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem;
}

.cd-author__image {
  flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;
}

.cd-author__image--rounded {
  margin: 0;
}

.cd-author__image img {
  width: 3rem;
  height: 3rem;
}
