<link rel=stylesheet href="cd-alert.css" type="text/css" media=screen>

<div class="cd-alert cd-alert--attn">
  <svg class="cd-icon cd-icon--help">
    <use xlink:href="#cd-icon--help"></use>
  </svg>
  <div class="cd-alert__message">
    <div class="cd-alert__title">
      Pay attention to me
    </div>
    <p>
      I am an alert.
    </p>
  </div>
</div>

<div class="cd-alert">
  <div class="cd-alert__message">
    <div class="cd-alert__title">
      I'm not as important.
    </div>
    <p>
      I am an alert.
    </p>
  </div>
</div>
