.cd-alert {
  padding: 1rem;
  margin: 1rem 0 2rem;
  display: flex;
  align-items: flex-start;
}

.cd-alert__title {
  font-weight: bold;
}

.cd-alert svg {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.cd-alert {
  border: 1px solid var(--cd-bright-blue);
  border-left: 8px solid var(--cd-bright-blue);
}

.cd-alert svg {
  fill: var(--cd-bright-blue);
}

.cd-alert a {
  color: inherit;
}

.cd-alert--danger {
  background: var(--cd-red--light);
  border: 1px solid var(--cd-red);
  border-left: 8px solid var(--cd-red);
}

.cd-alert--danger svg {
  fill: var(--cd-red);
}

.cd-alert--attention {
  background: var(--cd-orange--light);
  border: 1px solid var(--cd-orange);
  border-left: 8px solid var(--cd-orange);
}

.cd-alert--attention svg {
  fill: var(--cd-orange);
}

.cd-alert--success {
  background: var(--cd-green--light);
  border: 1px solid var(--cd-green);
  border-left: 8px solid var(--cd-green);
}

.cd-alert--success svg {
  fill: var(--cd-green);
}
