<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-hero.css" type="text/css" media=screen>

<figure class="cd-hero cd-full-width">
  <!-- <img class="cd-hero__image" src="https://via.placeholder.com/1920x687" alt="hero placeholder"> -->
  <img class="cd-hero__image" src="locusts.png" alt="hero placeholder">
  <figcaption class="cd-hero__container">
    <h3 class="cd-hero__title">
     Locust upsurge in East Africa
    </h3>
    <div class="cd-hero__description">The desert locusts have swarmed in Kenya from Somalia and Ethiopia, destroying farmlands. Ravenous swarms threaten entire East Africa subregion. FAO scales up its emergency response with a massive, border-spanning campaign needed to combat locust upsurge in East Africa.</div>
    <div class="cd-hero__footer">
      <a class="cd-hero__link" href="#">
        Learn more
      </a>
    </div>
  </figcaption>
</figure>
<div class="cd-hero__caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>
