{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://example.com">{{ 'This is Customizable'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://example.com">{{ 'Customizable'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://example.com">{{ 'Customizable'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://example.com">{{ 'Customizable'|t }}</a></li>
  {% endblock %}

{% endembed %}
