{% include '@common_design/cd/cd-icons/cd-icons.html.twig' %}

{# Uncomment the code below to add an additional icon sprite #}
{# <div class="hidden">
  {% include '@common_design_subtheme/../img/icons/cd-icons-sprite.svg' %}
</div> #}
