.cd-link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cd-link-list__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid var(--cd-blue-grey);
  border-width: 1px 0 1px 0;
  padding: 1rem 0;
}

.cd-link-list__item + .cd-link-list__item {
  border-width: 0 0 1px 0;
  padding: 0 0 1rem;
}

.cd-link-list__image {
  display: flex;
  align-items: center;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 3rem;
  max-height: 3rem;
}

.cd-link-list__image--rounded {
  margin-top: 0;
}

.cd-link-list__image img {
  width: 100%;
}

.cd-link-list__image svg {
  width: 100%;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 3rem;
  max-height: 3rem;
  fill: var(--cd-ocha-blue);
}

.cd-link-list__container {
  flex: 1 1 0%;
}

.cd-link-list__title {
  margin: 0;
}

.cd-link-list__title-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cd-link-list__title {
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .cd-link-list__title {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

.cd-link-list__title-link .cd-icon {
  display: block;
  flex: 0 0 auto;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.25rem 0 1rem;
  fill: var(--cd-ocha-blue);
}

.cd-link-list__description {
  padding-right: 1.75rem; /* Match icon width */
}

.cd-link-list__footer {
  display: flex;
  align-items:center;
  flex: 0 1 auto;
  text-align: right;
}

/* Ensure large clickable area */
.cd-link-list__link {
  padding: 1rem;
}

.cd-link-list__container p {
  margin: 0;
}

.cd-link-list__link .cd-icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--cd-ocha-blue);
}

[dir='rtl'] .cd-link-list__link .cd-icon {
  margin: 0 1rem 0 0.25rem;
  transform: scale(-1, 1);
}

@media (min-width: 576px) {
  .cd-link-list__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .cd-link-list__image {
    max-width: 3rem;
    max-height: 3rem;
  }

  .cd-link-list__image svg {
    max-width: 3rem;
    max-height: 3rem;
  }
}
