/* Media widget */
form .js-media-library-widget .fieldset-wrapper {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--cd-blue-grey);
}

form .js-media-library-widget .field-prefix,
form .js-media-library-widget .field-suffix {
  display: block;
}
form .js-media-library-widget .field-prefix {
  margin-bottom: 1rem;
}
form .js-media-library-widget .field-suffix + .description {
  margin-top: 1rem;
}

form .image-widget {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (min-width: 576px) {
  form .image-widget {
    flex-direction: row;
    align-items: center;
  }
}

.js-media-library-add-form .cd-form__item .image-widget {
  display: block;
}

form .image-widget article {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  order: 1;
}
@media (min-width: 576px) {
  form .image-widget article {
    flex: 1 0 220px;
  }
}
/* File name */
@media (min-width: 576px) {
  form .image-widget span.file,
  form .image-widget span.file-size {
    margin-inline-start: 0.5rem;
  }
  form .image-widget span.file-size {
    margin-inline-end: 0.5rem;
  }
}

form .image-widget article > div {
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  form .image-widget span.file,
  form .image-widget article > div {
    margin-bottom: 0;
  }
}
form .image-widget .js-media-library-item-preview {
  max-width: 220px;
  max-height: 147px;
  margin: 0 0 1rem;
}
form .image-widget .js-media-library-item-preview img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}
form .image-widget .form-submit {
  order: 2;
}
/* Show/Hide media item weight button */
.js-media-library-widget-toggle-weight {
  position: absolute;
  right: 0.25rem;
  padding: 0.25rem;
  font-size: var(--cd-font-size--small);
}
/* Media item weight */
form .image-widget .form-type-number {
  flex: 0 1 auto;
  order: 3;
}
form .image-widget .form-type-number input {
  width: 100%;
}
@media (min-width: 576px) {
  form .image-widget .form-type-number {
    flex: 0 1 100px;
    margin-top: 0;
    padding: 0 0 0 1rem;
  }
}
/* Media library dialog */
ul.js-media-library-add-form-added-media {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.js-media-library-add-form-added-media li {
  margin: 0;
  padding: 0;
}
.js-media-library-add-form-added-media .form-submit {
  margin-top: 1rem;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: 0;
  border-width: 2px;
  border-color: inherit;
}

.view-media-library .cd-form--inline,
.view-media-library .cd-form--inline .cd-form__item {
  display: block;
}
/* File name */
.view-media-library .field-content article > div {
  word-wrap: break-word;
}
/* Pagination */
.view-media-library .js-pager__items {
  margin: 1rem 0 0;
  padding: 0;
  list-style-type: none;
}
.view-media-library .js-pager__items li {
  display: inline-block;
  padding: 0 0.5rem 0 0;
}

/* CD form overrides */
@media (min-width: 768px) {
  .view-media-library .cd-form--inline {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
  }
  .view-media-library .cd-form--inline > div {
    margin-right: 1rem;
  }
  .view-media-library .cd-form--inline .cd-form__item {
    display: flex;
    flex-direction: column;
  }
}
