/* Drupal specific from Classy */
.field__label {
  font-weight: 700;
}
.field--label-above .field__label {
  margin-bottom: 0.5em;
}
.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /* LTR */
}
.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
  padding-right: 0;
  padding-left: 0.5em;
}
.field--label-inline .field__label::after {
  content: ":";
}
.form-required {
  display: flex;
}
.form-required::after {
  width: 6px;
  height: 6px;
  margin: 0.3em 0.3em 0;
  content: "";
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url("../../img/icons/form-required.svg");
  background-repeat: no-repeat;
  background-size: 6px 6px;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid var(--cd-contrast-red);
}
/* Inline error messages. */
.form-item--error-message::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  vertical-align: sub;
  background: url("../../img/icons/form-error.svg") no-repeat;
  background-size: contain;
}

/* Date and time field */
.field--type-datetime .fieldset-wrapper > div {
  display: flex;
}
.field--type-datetime .fieldset-wrapper > div > .cd-form__item {
  margin-inline-end: 0.5rem;
}

h4.label {
  margin: 0;
  font-size: 1rem;
}

/* Checkboxes */
.field--widget-boolean-checkbox > .cd-form__item {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-inline-end: 1rem;
}

.field--widget-boolean-checkbox > .cd-form__item > .cd-form__description {
  flex: 1 0 100%;
}

/* Details element for Vertical tabs */
.vertical-tabs details {
  padding: 1rem;
}

/* Form styles for Drupal User forms */
.cd-form--user {
  --cd-flow-space: 3rem;
}

.cd-form--user .cd-form__item.form-item-current-pass,
.cd-form--user .cd-form__item.form-type-textfield,
.cd-form--user .cd-form__item.form-type-email,
.cd-form--user .cd-form__item.form-type-managed-file,
.cd-form--user #password-policy-status,
.cd-form--user details {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--cd-grey--light);
}
.cd-form--user #password-policy-status {
  --cd-flow-space: 1.5rem;
}
