{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-button') }}
{{ attach_library('common_design/cd-form') }}

<form class="cd-form [ cd-flow ]">
  <h2 class="visually-hidden">Filter results</h2>

  <p class="cd-max-width">Additional elements can go here. These are outside the flexbox rules, but can be inside the collapsible element if cd-dropdown is also used.</p>

  <label for="published-date">Date</label>
  <input type="text" name="published_date" value="" size="20" maxlength="30" id="published-date" placeholder=" E.g., Sep 10 2019">


  <label for="mySelect">Select element</label>
  <select id="mySelect" name="options">
    <option value="opt1">Option one</option>
    <option value="opt2">Option two with a really long option title</option>
    <option value="opt3">Option three</option>
  </select>

  <div class="spinner disabled">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

  <fieldset>
    <legend>Title</legend>
    <ul>
      <li>
        <label for="optionOne">
          <input type="radio" id="optionOne" name="title" value="optionOne">
          Option one
        </label>
      </li>
      <li>
        <label for="optionTwo">
          <input type="radio" id="optionTwo" name="title" value="optionTwo">
          Option two
        </label>
      </li>
    </ul>
  </fieldset>

  <label for="keyword-search">Keyword search</label>
  <input title="Enter search term" placeholder="Enter search term" type="text" id="keyword-search" class="cd-filter__input" name="keys" value="" size="15" maxlength="128">


  <button type="submit" class="cd-button cd-button--uppercase cd-button--export cd-button--icon">
    <span class="cd-button__text">Export</span>
    <svg class="cd-icon cd-icon--arrow-down" aria-hidden="true" focusable="false" width="16" height="16">
      <use xlink:href="#cd-icon--arrow-down"></use>
    </svg>
  </button>

  <input type="submit" id="edit-submit" name="op" value="Send message" class="cd-button form-submit">
  <input type="submit" id="edit-preview" name="op" value="Preview" class="cd-button cd-button--outline form-submit">

</form>
