input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="file"],
textarea,
select {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0.75rem;
  color: var(--cd-grey--dark);
  font-size: 1rem;
  border: 2px solid var(--cd-blue-grey);
  background: white;
}

textarea {
  resize: vertical;
  /* Better readability similar to paragraphs. */
  line-height: 1.5;
}
@media (min-width: 576px) {
  select {
    width: auto;
  }
}

@media (min-width: 768px) {
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  input[type="date"],
  input[type="file"] {
    max-width: 50ch;
  }
}

label,
fieldset legend {
  display: block;
  color: var(--cd-black);
  font-weight: 700;
}

input.error,
textarea.error,
select.error {
  border-color: var(--cd-highlight-red);
}

input:focus,
select:focus,
textarea:focus {
  outline: 3px solid var(--cd-blue--bright);
  outline-offset: -2px;
}

input::-webkit-input-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

input:-ms-input-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

input::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

/* Safari fix */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

details > summary + .cd-form__item {
  margin-top: 1.5rem;
}

form fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
form fieldset legend {
  margin: 0;
  padding: 0;
}

.cd-form {
  --cd-flow-space: 1rem;
}

.cd-form--inline {
  margin-bottom: 1rem;
}

.cd-form--inline,
.cd-form--inline .cd-form__item {
  display: flex;
}

.cd-form--inline label {
  margin-top: 0.25rem;
  margin-inline-end: 0.5rem;
}

.cd-form__item > label {
  margin-inline-end: 0.5rem;
}

/* Nested fields */
.cd-form__item .cd-form__item {
  padding-bottom: 1rem;
  border-bottom: 0 none;
}

.cd-form__item h4.label {
  margin-bottom: 0;
}

.cd-form__description,
form .description {
  padding-top: 0.5rem;
  font-size: var(--cd-font-size--small);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  [dir="ltr"] .cd-form--inline label {
    margin-right: 0.5rem;
  }

  [dir="rtl"] .cd-form--inline label {
    margin-left: 0.5rem;
  }
}

.cd-form--inline select {
  width: auto;
}

form .form-checkboxes .form-type-checkbox,
form .form-radios .form-type-radio,
.field--widget-boolean-checkbox {
  margin-inline-end: 1rem;
  display: inline-flex;
  align-items: center;
}

form .form-type-checkbox label,
form .form-type-radio label {
  font-weight: normal;
  margin-inline-start: 0.5rem;
}

/* Form styles for Drupal User forms */

.cd-form--user {
  --cd-flow-space: 3rem;
}

.cd-form--user .cd-form__item.form-item-current-pass,
.cd-form--user .cd-form__item.form-type-textfield,
.cd-form--user .cd-form__item.form-type-email,
.cd-form--user .cd-form__item.form-type-managed-file,
.cd-form--user #password-policy-status,
.cd-form--user details {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--cd-grey--light);
}
.cd-form--user #password-policy-status {
  --cd-flow-space: 1.5rem;
}
