//——————————————————————————————————————————————————————————————————————————————
// Common Design: Drupal main menu dropdown display rules for nested menus
//——————————————————————————————————————————————————————————————————————————————

.menu-item--expanded {
  // Hide child nav.
  [aria-expanded="false"] + ul {
    display: none;
  }

  [aria-expanded="true"] + ul {
    display: block;
  }
}

ul[data-cd-hidden="true"] > ul {
  z-index: var(--cd-z-dropdown);
  display: block;
}

.menu--main button[aria-expanded] .cd-icon--arrow-down {
  fill: var(--brand-highlight);
  margin-top: 4px;

  [dir="ltr"] & {
    margin-left: 4px;
  }

  [dir="rtl"] & {
    margin-right: 4px;
  }

  @include desktop {
    margin-top: -2px;
  }
}

.no-js .menu-item--expanded > [aria-expanded="false"] + ul {
  display: block;
}
