//——————————————————————————————————————————————————————————————————————————————
// Common Design: Main Navigation
//——————————————————————————————————————————————————————————————————————————————

.cd-nav__btn {
  height: $cd-site-header-height;
  padding: 0 20px;
  transition: background 0.3s ease;
  text-transform: uppercase;
  color: $cd-default-text-color;
  border: 0 none $cd-blue-grey;
  background: transparent;
  //border-left: 1px solid $cd-blue-grey;
  //border-right: 1px solid $cd-blue-grey;
  font-size: $cd-font-size--small;

  @include desktop {
    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on nav container is not recognised
    // so the cd-dropdown.js creates a toggler button on desktop
    // This hides it when that happens.
    @media all and (-ms-high-contrast: none) {
      display: none;
    }
  }

  .cd-nav__btn-label {
    font-weight: 700;
  }

  &[aria-expanded] .cd-icon--arrow-down {
    margin-left: 4px;
    fill: $cd-highlight-red;
  }

  &[aria-expanded='true'] {
    position: relative;
    z-index: 101;
    color: $cd-black;

    &::before {
      position: absolute;
      right: -1px;
      bottom: -6px;
      left: -1px;
      width: calc(100% + 1px);
      height: 6px;
      content: '';
      transition: background 0.3s ease;
      background: $cd-highlight-red;
    }

    &:focus {
      background: $cd-white;
    }
  }

  &:hover,
  &:focus {
    color: $cd-black;
    outline: none; // default browser outline is replaced by background colour change.
    background: $cd-blue-grey;
  }
}

// Hide default block titles
.cd-site-header__nav-holder .block-menu h2 {
  @extend .visually-hidden;
}

.cd-site-header__nav-holder {
  float: left;

  .cd-nav {
    @include z-index(main-menu); // zindex may need adjusting depending on other site content.

    @include max-width(lg) {
      &[data-cd-hidden='false'] {
        position: absolute;
        top: calc(#{$cd-global-header-height} + #{$cd-site-header-height} + 6px);
        right: 0;
        left: 0;
        height: calc(100vh - (#{$cd-global-header-height} + #{$cd-site-header-height} + 6px));
        padding: 20px 0 36px;
        background: $cd-white;
      }

      &[data-cd-hidden='false'] > ul {
        display: block;
      }
    }

    @include desktop {
      --dropdown: false;

      position: relative;
      top: auto;
      right: auto;
      left: 0;
      width: auto;
      max-width: none;
      height: $cd-site-header-height;
      padding: 0;

      // This is needed for IE11
      // No support for CSS custom properties means
      // --dropdown: false; property on nav container is not recognised
      // so the cd-dropdown.js does not run the updateToggler function
      // which toggles the data-cd-hidden attribute.
      // This displays the nav regardless of that attribute value.
      @media all and (-ms-high-contrast: none) {
        &[data-cd-hidden='true'] {
          display: block;
        }
      }
    }

    > ul {
      display: none;
      background: $cd-white;

      @include desktop {
        display: flex;
        background: transparent;
      }
    }

    .no-js & > ul {
      display: block;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a,
    button {
      display: block;
      padding: 15px 30px;
      text-align: left;
      text-decoration: none;
      color: $cd-default-text-color;

      @supports (display: flex) {
        display: flex;
      }

      html[dir='rtl'] & {
        text-align: right;
      }

      &:hover,
      &:focus {
        color: $cd-black;
        outline: none; // default browser outline is replaced by background colour change.
        background: $cd-blue-grey;
      }
    }

    button {
      width: 100%;
      border: 0 none;
      background: transparent;
    }

    // First level.
    > .menu > .menu-item > a,
    > .menu > .menu-item > button {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .menu-item {
    > a::before,
    > button::before {
      background: $cd-highlight-red;
    }
  }

  // Second level.
  .cd-nav > .menu > li > .menu {
    background: $cd-white;

    @include desktop {
      @include z-index(dropdown);

      position: absolute;
      top: calc(#{$cd-site-header-height} + 6px); // border-bottom height
      min-width: 200px;
      max-width: 300px;
      //left: -1px;
      margin: 0;
      padding: 20px 0;
      box-shadow: 0 1px 8px rgba($cd-rgb-blue-grey--dark, 0.8);
    }
  }

  .menu .menu {
    a {
      display: flex;
      color: $cd-black;
      font-weight: 700;

      &:hover {
        background: $cd-blue-grey;
      }
    }
  }

  // Active trail for mobile menu.
  @include max-width(lg) {
    .cd-nav > ul > li {

      a,
      button {
        position: relative;

        &::before {
          position: absolute;
          top: 0;
          left: 15px; // Half of the left padding.
          width: 6px;
          height: 48px; // Height of menu item.
          content: '';
          background: transparent;
        }
      }

      > a.is-active::before,
      > button.is-active::before {
        background: $cd-highlight-red;
      }

      // First level menu item with children.
      // Classes based on Drupal menu item configuration.
      &.menu-item--collapsed,
      &.menu-item--expanded {
        > a.is-active::before,
        > button.is-active::before {
          background: rgba($cd-rgb-highlight-red, 0.2);
        }
      }

      &.menu-item--active-trail {
        a,
        button {
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 15px; // Half of the left padding.
            width: 6px;
            height: 48px; // Height of menu item.
            content: '';
            background: rgba($cd-rgb-highlight-red, 0.2);

            // sass-lint:disable nesting-depth
            [dir='rtl'] & {
              right: 15px; // Half of the left padding.
              left: auto;
            }
          }

          &.is-active::before {
            background: $cd-highlight-red;
          }
        }
      }

      > ul > li.menu-item--active-trail {
        a::before,
        button::before {
          background: rgba($cd-rgb-highlight-red, 0.6);
        }

        a.is-active::before,
        button.is-active::before {
          background: $cd-highlight-red;
        }
      }
    }
  }

  @include desktop {
    .cd-nav > .menu {
      @supports (display: flex) {
        flex: 1 0 auto;
      }

      // sass-lint:disable nesting-depth
      > .menu-item {
        &:last-child {
          > ul.menu {
            right: -1px;
            left: auto;

            [dir='rtl'] & {
              right: auto;
              left: -1px;
            }
          }
        }

        &.menu-item--active-trail a::before,
        &.menu-item--active-trail button::before {
          background: $cd-highlight-red;
        }

        > a,
        button {
          position: relative;
          display: flex;
          align-items: center;
          height: $cd-site-header-height;
          padding: 0 14px;
          transition: background 0.3s ease;
          background: transparent;

          &::before {
            position: absolute;
            right: -1px;
            bottom: -6px;
            left: -1px;
            width: calc(100% + 2px);
            height: 6px;
            content: '';
            transition: background 0.3s ease;
            background: transparent;
          }

          &:hover {
            background: $cd-blue-grey;
          }

          &:focus {
            background: $cd-white;
          }

          &.is-active,
          &:focus {
            &::before {
              background: $cd-highlight-red;
            }
          }
        }

        // Prevent SVG icon from shrinking if menu item text is long.
        svg {
          flex: 1 0 auto;
        }
      }

      > li > ul {
        a,
        button {
          &:hover {
            background: $cd-blue-grey;
          }

          &.menu-item--active-trail {
            border-left: 6px solid $cd-highlight-red;

            [dir='rtl'] & {
              border-right: 6px solid $cd-highlight-red;
              border-left-width: 0;
            }
          }
        }

        > li.menu-item--active-trail {
          border-left: 6px solid $cd-highlight-red;

          [dir='rtl'] & {
            border-right: 6px solid $cd-highlight-red;
            border-left-width: 0;
          }
        }
      }
    }
  }
}

.no-js .cd-site-header__nav-holder .cd-nav {
  position: relative;
  top: auto;
  right: 0;
  left: 0;
  display: block;
  padding: 0;
  background: $cd-white;
}

.no-js .cd-site-header__nav-holder .cd-nav > .menu > li > .menu {
  position: relative;
  top: 0;
  min-width: unset;
  max-width: unset;
  margin: 0;
  padding: 0;
  box-shadow: unset;
}

.no-js .cd-site-header__nav-holder .cd-nav > .menu > li.menu-item--expanded button {
  display: none;
}

// Style all menu items the same, regardless of their level.
.no-js .menu-item--expanded li {
  @include desktop {
    height: $cd-site-header-height;

    a {
      align-items: center;
      height: $cd-site-header-height;
      padding: 0 14px;
    }
  }
}
