/**
 * Common Design Search form in header.
 */

.cd-search--inline {
  @include z-index(search);

  float: left;

  [dir="rtl"] & {
    float: right;
  }

  @supports (display: flex) {
    float: none;
  }
}

.cd-search--inline__btn {
  display: flex;
  align-items: center;
  height: var(--cd-site-header-height);
  padding: 0 20px;
  transition: background 0.3s ease;
  color: var(--brand-primary);
  border: 0;
  background: transparent;
  font-size: 24px;

  svg {
    width: 26px;
    height: 26px;
    fill: var(--brand-primary);
  }

  &:hover,
  &:focus {
    color: var(--brand-primary--dark);
    outline: none;
    background: var(--cd-white);

    svg {
      fill: var(--brand-primary--dark);
    }
  }

  &:focus {
    color: var(--brand-highlight);

    svg {
      fill: var(--brand-primary--dark);
    }
  }

  &[aria-expanded="true"] {
    position: relative;
    color: var(--brand-highlight);

    &::before {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      content: "";
      border-width: 0 6px 6px;
      border-style: solid;
      border-color: transparent transparent var(--brand-grey);

      [dir="ltr"] & {
        left: 50%;
        margin-left: -6px;
      }

      [dir="rtl"] & {
        right: 50%;
        margin-right: -6px;
      }
    }

    svg {
      fill: var(--brand-highlight);
    }

    &:hover,
    &:focus {
      outline: none;
      background: var(--cd-white);
    }
  }
}

.cd-search--inline__btn-label {
  display: none;
  text-transform: uppercase;
  font-size: var(--cd-font-size--tiny);
  font-weight: 700;
}

.cd-search--inline__form {
  position: absolute;
  right: 0;
  left: 0;
  height: var(--cd-site-header-height);
  background: var(--brand-grey);

  label {
    @extend .visually-hidden;
  }

  .no-js & {
    position: relative;
    display: block;
  }
}

.cd-search--inline__form form {
  padding: 8px var(--cd-container-padding);
}

.cd-search--inline__input[type="search"],
.cd-search--inline__input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: calc(var(--cd-site-header-height) - 16px); //padding.
  padding: 0 45px 0 25px;
  color: var(--cd-default-text-color);
  border: 0;
  border-radius: 0;
  background: var(--cd-white);
  box-shadow: none;
  font-size: var(--cd-font-size--base);
  -webkit-appearance: none;

  [dir="rtl"] & {
    padding: 0 25px 0 45px;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 4px rgba(var(--cd-rgb-grey--mid), 0.7);
  }
}

.cd-search--inline__input::-webkit-input-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-search--inline__input::-moz-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-search--inline__input:-ms-input-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-search--inline__input:-moz-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-search--inline__input::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

// Safari fix.
.cd-search--inline__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.cd-search--inline__submit {
  position: absolute;
  top: 8px;
  display: flex;
  align-items: center;
  width: 46px;
  height: calc(var(--cd-site-header-height) - 16px); //padding.
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--cd-white);
  border: 0;
  background: var(--cd-grey--dark);
  font-size: var(--cd-font-size--medium);
  font-weight: 700;

  [dir="ltr"] & {
    right: var(--cd-container-padding);
  }

  [dir="rtl"] & {
    left: var(--cd-container-padding);
  }

  svg {
    box-sizing: content-box;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    fill: var(--cd-white);
  }

  &:focus {
    background-color: var(--brand-highlight);
  }
}

// Start inline search for desktop only.
@include desktop {

  // This is needed for IE11
  // No support for CSS custom properties means
  // --dropdown: false; property on nav container is not recognised
  // so the cd-dropdown.js creates a toggler button on desktop
  // This hides it when that happens.
  .cd-search--inline__btn {
    @media all and (-ms-high-contrast: none) {
      display: none;
    }
  }

  .cd-search--inline {
    flex: 0 1 400px;
    border-right: 1px solid var(--brand-grey);
    border-left: 1px solid var(--brand-grey);

    [dir="ltr"] & {
      float: left;
      margin-left: 30px;
    }

    [dir="rtl"] & {
      float: right;
      margin-right: 30px;
    }
  }

  .cd-search--inline__form {
    --dropdown: false;

    position: relative;
    background: var(--cd-white);

    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on search container is not recognised
    // so the cd-dropdown.js does not run the updateToggler function
    // which toggles the data-cd-hidden attribute.
    // This displays the search regardless of that attribute value.
    @media all and (-ms-high-contrast: none) {
      &[data-cd-hidden="true"] {
        display: block;
      }
    }
  }

  .cd-search--inline__form form {
    padding: 0;
  }

  .cd-search--inline__input[type="search"],
  .cd-search--inline__input[type="text"] {
    box-sizing: content-box;
    height: var(--cd-site-header-height);
    padding: 0 72px 0 16px;
    color: var(--cd-default-text-color);
    border: 0;
    border-radius: 0;
    background: var(--cd-white);
    box-shadow: none;
    font-size: var(--cd-font-size--small);
    -webkit-appearance: none;

    [dir="rtl"] & {
      padding: 0 16px 0 72px;
    }

    &:focus {
      border-bottom: 6px solid var(--brand-highlight);
      outline: 0;
      box-shadow: none;
    }
  }

  .cd-search--inline__input::-webkit-search-cancel-button {
    position: relative;
    right: -10px;
  }

  .cd-search--inline__input::-webkit-input-placeholder {
    color: var(--cd-grey--mid);
    font-style: italic;
  }

  .cd-search--inline__input::-moz-placeholder {
    color: var(--cd-grey--mid);
    font-style: italic;
  }

  .cd-search--inline__input:-ms-input-placeholder {
    color: var(--cd-grey--mid);
    font-style: italic;
  }

  .cd-search--inline__input:-moz-placeholder {
    color: var(--cd-grey--mid);
    font-style: italic;
  }

  // Safari fix.
  .cd-search--inline__input::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  .cd-search--inline__submit {
    position: absolute;
    top: 0;
    width: unset;
    height: var(--cd-site-header-height);
    padding: 0;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--cd-black);
    border: 0;
    background: var(--cd-white);
    font-size: var(--cd-font-size--medium);
    font-weight: 700;

    [dir="ltr"] & {
      right: 0;
    }

    [dir="rtl"] & {
      left: 0;
    }

    svg {
      box-sizing: content-box;
      width: 22px;
      height: 22px;
      padding: 0 16px;
      fill: var(--cd-grey--mid);
    }

    &:hover,
    &:focus {
      outline: 0;
      background-color: var(--brand-grey);
      box-shadow: none;

      svg {
        fill: var(--brand-highlight);
      }
    }
  }

  // Submit button treatment for modern browsers.
  @supports (display: flex) {
    .cd-search--inline__submit {
      display: flex;
      align-items: center;
      border: 0;

      &::before {
        position: absolute;
        width: 2px;
        height: 24px;
        content: "";
        background: var(--brand-grey);
      }
    }
  }

  @media all and (-ms-high-contrast: none) {
    // Removes search cancel x on IE 11 only.
    input[type="search"]::-ms-clear,
    input[type="search"]::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    .cd-search--inline__submit svg {
      padding: 0;
    }
  }
}
