//——————————————————————————————————————————————————————————————————————————————
// Common Design: Drupal dropdowns for nested menus
//——————————————————————————————————————————————————————————————————————————————

[hidden] {
  display: none;
}

.menu--main {
  .menu-item--expanded {
    // Hide child nav.
    [aria-expanded='false'] + ul {
      display: none;
    }

    [aria-expanded='true'] + ul {
      display: block;
    }

    .cd-icon--arrow-down {
      fill: $cd-highlight-red;
      margin-left: 4px;
      margin-top: 4px;
      @include desktop {
        margin-top: -2px;
      }
    }
  }

  ul[data-hidden='true'] > ul {
    display: block;
    @include z-index(dropdown);
  }

  [aria-expanded='true'] > .cd-icon--arrow-down {
    transform: rotate(180deg);
  }
}

.no-js .menu-item--expanded> [aria-expanded='false'] + ul {
  display: block;
}
