//——————————————————————————————————————————————————————————————————————————————
// Common Design: Drupal dropdowns for nested menus
//——————————————————————————————————————————————————————————————————————————————
.menu--main {
  .menu-item--expanded {

    // Hide child nav.
    > ul {
      display: none;
    }

    // Add down arrow.
    > a {
      position: relative;
      &:after {
        position: relative;
        content: "";
        height: 10px;
        width: 10px;
        margin-left: 4px;
        top: 3px;
        background-image: url(../img/icons/arrow-down--highlighted.svg);
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 10px 10px;

        @include desktop {
          top: -2px;
        }
      }
    }
    // IE11 specific styles.
    @media all and (-ms-high-contrast:none) {
      > a {
        padding-right: 24px;
        &:after {
          position: absolute;
          right: 10px;
          margin-left: 0;
        }
      }
    }

    &.open {

      > ul {
        display: block;
        @include z-index(dropdown);
      }

      // Change to up arrow.
      > a {
        &:after {
          background-image: url(../img/icons/arrow-up--highlighted.svg);
        }
      }
    }

    // Second level.
    .menu-item--expanded {
      // Add down arrow.
      > a:after {
        top: 3px;
      }
    }
  }
}
