//——————————————————————————————————————————————————————————————————————————————
// Common Design: Main Navigation
//——————————————————————————————————————————————————————————————————————————————

.cd-nav__btn {
  background: transparent;
  border: 0 none $cd-border-color;
  border-left: 1px solid $cd-border-color;
  border-right: 1px solid $cd-border-color;
  @include font-size($cd-font-size-small);
  color: $cd-default-text-color;
  height: $cd-site-header-height;
  padding: 0 20px;
  text-transform: uppercase;
  transition: background 0.3s ease;

  @include desktop {
    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on nav container is not recognised
    // so the cd-dropdown.js creates a toggler button on desktop
    // This hides it when that happens.
    @media all and (-ms-high-contrast: none) {
      display: none;
    }
  }

  .cd-nav__btn-label {
    font-weight: 600;
  }

  &[aria-expanded] .cd-icon--arrow-down {
    margin-left: 4px;
    fill: $cd-highlight-red;
  }

  &[aria-expanded='true'] {
    position: relative;
    z-index: 101;
    color: $cd-dark-text-color;

    &::before {
      bottom: -3px;
      content: '';
      background: $cd-highlight-red;
      height: 3px;
      left: -1px;
      position: absolute;
      right: -1px;
      transition: background 0.3s ease;
      width: calc(100% + 1px);
    }

    &:focus {
      background: $cd-white-bg-color;
    }
  }

  &:hover,
  &:focus {
    color: $cd-dark-text-color;
    background: $cd-mid-bg-color;
    outline: none; // default browser outline is replaced by background colour change.
  }
}

// Hide default block titles
.cd-site-header__nav-holder .block-menu h2 {
  @extend .visually-hidden;
}

.cd-site-header__nav-holder {
  float: left;

  .cd-nav {
    @include z-index(main-menu); // zindex may need adjusting depending on other site content.

    @include max-width(lg) {
      &[data-cd-hidden='false'] {
        background: $cd-white;
        height: calc(100vh - (#{$cd-global-header-height} + #{$cd-site-header-height} + 3px));
        padding: 20px 0 36px;
        position: absolute;
        right: 0;
        left: 0;
        top: calc(#{$cd-global-header-height} + #{$cd-site-header-height} + 3px);
      }

      &[data-cd-hidden='false'] > ul {
        display: block;
      }
    }

    @include desktop {
      --dropdown: false;
      height: $cd-site-header-height;
      max-width: none;
      padding: 0;
      position: relative;
      left: 0;
      right: auto;
      top: auto;
      width: auto;

      // This is needed for IE11
      // No support for CSS custom properties means
      // --dropdown: false; property on nav container is not recognised
      // so the cd-dropdown.js does not run the updateToggler function
      // which toggles the data-cd-hidden attribute.
      // This displays the nav regardless of that attribute value.
      @media all and (-ms-high-contrast: none) {
        &[data-cd-hidden='true'] {
          display: block;
        }
      }
    }

    > ul {
      display: none;
      background: $cd-white;

      @include desktop {
        background: transparent;
        display: flex;
      }
    }

    .no-js & > ul {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a,
    button {
      color: $cd-default-text-color;
      padding: 15px 30px;
      text-decoration: none;
      text-align: left;
      display: block;

      @supports (display: flex) {
        display: flex;
      }

      &:hover,
      &:focus {
        background: $cd-mid-bg-color;
        color: $cd-dark-text-color;
        outline: none; // default browser outline is replaced by background colour change.
      }
    }

    button {
      border: 0 none;
      width: 100%;
      background: transparent;
    }

    // First level.
    > .menu > .menu-item > a,
    > .menu > .menu-item > button {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .menu-item {
    > a::before,
    > button::before {
      background: $cd-highlight-red;
    }
  }

  // Second level.
  .cd-nav > .menu > li > .menu {
    background: $cd-white-bg-color;

    @include desktop {
      box-shadow: 0 1px 8px rgba($cd-dark-bluey-grey, 0.8);
      //left: -1px;
      margin: 0;
      max-width: 300px;
      min-width: 200px;
      padding: 20px 0;
      top: calc(#{$cd-site-header-height} + 3px); // border-bottom height
      position: absolute;
    }
  }

  .menu .menu {
    a {
      display: flex;
      color: $cd-dark-text-color;
      font-weight: 600;

      &:hover {
        background: $cd-mid-bg-color;
      }
    }
  }

  // Active trail for mobile menu.
  @include max-width(lg) {
    .cd-nav > ul > li {

      a,
      button {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 3px;
          top: 0;
          height: 48px; // Height of menu item.
          left: 15px; // Half of the left padding.
          background: transparent;
        }
      }

      > a.is-active::before,
      > button.is-active::before {
        background: $cd-highlight-red;
      }

      // First level menu item with children.
      // Classes based on Drupal menu item configuration.
      &.menu-item--collapsed,
      &.menu-item--expanded {
        > a.is-active::before,
        > button.is-active::before {
          background: rgba($cd-highlight-red, 0.2);
        }
      }

      &.menu-item--active-trail {
        a,
        button {
          position: relative;

          &::before {
            position: absolute;
            content: '';
            width: 3px;
            top: 0;
            height: 48px; // Height of menu item.
            left: 15px; // Half of the left padding.
            background: rgba($cd-highlight-red, 0.2);
          }

          &.is-active::before {
            background: $cd-highlight-red;
          }
        }
      }

      > ul > li.menu-item--active-trail {
        a::before,
        button::before {
          background: rgba($cd-highlight-red, 0.6);
        }

        a.is-active::before,
        button.is-active::before {
          background: $cd-highlight-red;
        }
      }

    }
  }

  @include desktop {
    .cd-nav > .menu {
      @supports (display: flex) {
        flex: 1 0 auto;
      }

      > .menu-item {
        border-right: 1px solid $cd-border-color;

        &:first-child {
          border-left: 1px solid $cd-border-color;
        }

        &:last-child {
          > ul.menu {
            left: auto;
            right: -1px;
          }
        }

        &.menu-item--active-trail a::before,
        &.menu-item--active-trail button::before {
          background: $cd-highlight-red;
        }

        > a,
        button {
          align-items: center;
          background: transparent;
          display: flex;
          height: $cd-site-header-height;
          padding: 0 14px;
          position: relative;
          transition: background 0.3s ease;

          &::before {
            bottom: -3px;
            content: '';
            background: transparent;
            height: 3px;
            left: -1px;
            position: absolute;
            right: -1px;
            transition: background 0.3s ease;
            width: calc(100% + 2px);
          }

          &:hover {
            background: $cd-mid-bg-color;
          }

          &:focus {
            background: $cd-white-bg-color;
          }

          &.is-active,
          &:focus {
            &::before {
              background: $cd-highlight-red;
            }
          }
        }
      }

      > li > ul {
        a,
        button {
          &:hover {
            background: $cd-mid-bg-color;
          }

          &.is-active {
            border-left: 3px solid $cd-highlight-red;
          }
        }

        > li.menu-item--active-trail .is-active {
          border-left: 3px solid $cd-highlight-red;
        }
      }
    }
  }
}

.no-js .cd-site-header__nav-holder .cd-nav {
  display: block;
  background: $cd-white;
  padding: 0;
  position: relative;
  right: 0;
  left: 0;
  top: auto;
}

.no-js .cd-site-header__nav-holder .cd-nav > .menu > li > .menu {
  box-shadow: unset;
  margin: 0;
  max-width: unset;
  min-width: unset;
  padding: 0;
  top: 0;
  position: relative;
}

.no-js .cd-site-header__nav-holder .cd-nav > .menu > li.menu-item--expanded button {
  display: none;
}

// Style all menu items the same, regardless of their level.
.no-js .menu-item--expanded li {
  @include desktop {
    height: $cd-site-header-height;

    a {
      padding: 0 14px;
      height: $cd-site-header-height;
      align-items: center;
    }
  }
}
