//——————————————————————————————————————————————————————————————————————————————
// Common Design: Global Header
//——————————————————————————————————————————————————————————————————————————————

.cd-global-header__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 8px;

  & .cd-ocha {
    order: -1;
  }

  // Remove the clearfix applied by `cd-container` on this element.
  &::after {
    content: unset;
  }
}

.cd-global-header__actions {
  display: flex;
  flex-flow: row nowrap;
  gap: 0;
}

// If there are multiple menus, separate them with pipes and margins.
// This should correspond with the dropdown menu breakpoint.
.js {
  .cd-global-header__actions > * + nav {
    position: relative;
  }

  .cd-global-header__actions > * + nav::before {
    position: absolute;
    top: 50%;
    left: -1px;
    width: 2px;
    height: calc(var(--cd-global-header-height) / 3);
    content: "";
    transform: translateY(-50%);
    background: var(--brand-grey);
  }

  &[dir="rtl"] .cd-global-header__actions > * + nav::before {
    right: -1px;
    left: auto;
  }
}
