//——————————————————————————————————————————————————————————————————————————————
// Common Design: Dropdowns
//——————————————————————————————————————————————————————————————————————————————
[data-cd-toggable] {
  --dropdown: true;
}

// Initial hidden state used to prevent flash of content. Once processed by
// the cd-dropdown.js script, the visibility will be controlled by the
// data-cd-hidden attribute.
.js [data-cd-toggable]:not([data-cd-processed]) {
  display: none;
}

[data-cd-hidden="false"] {
  display: block;
}

[data-cd-hidden="true"] {
  display: none;
}

.cd-dropdown {
  display: none;

  &[data-cd-hidden="false"] {
    display: block;
  }

  .no-js & {
    position: relative;
    display: block;
  }
}

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown {
  @include z-index(dropdown);

  position: absolute;
  left: 0;
  color: var(--cd-white);
  background: var(--brand-primary);

  .no-js & {
    position: relative;
  }

  .js & {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  }
}

// Triangle on toggle when active.
.cd-global-header button[aria-expanded="true"] {
  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -6px;
    content: "";
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent var(--brand-primary);
  }
}

button[aria-expanded] {
  .cd-icon--arrow-down {
    fill: var(--cd-white);
    width: 9px;
    height: 9px;

    [dir="ltr"] & {
      margin-left: 4px;
    }

    [dir="rtl"] & {
      margin-right: 4px;
    }
  }
}

button[aria-expanded="true"] .cd-icon--arrow-down {
  transform: rotate(180deg);
}

// Hide label on mobile.
//button[aria-expanded] span[class*='__btn-label'] {
//  @include max-width(md) {
//    @include visually-hidden;
//  }
//}
