//——————————————————————————————————————————————————————————————————————————————
// Common Design: User Menu
//
// Includes user-centered settings and/or actions.
//
//——————————————————————————————————————————————————————————————————————————————

.cd-user-menu {
  margin: 0;
  list-style: none;

  svg {
    fill: var(--cd-white);
  }

  // Logo icon before the button/link label.
  // @todo add proper classes to make it more robust.
  svg + span {
    margin-inline-start: 10px;
  }

  // Vertical centering fallback for when flex is not supported.
  // @see .cd-user-menu__item below.
  .cd-icon {
    display: inline-block;
    vertical-align: middle;
  }

  // Other icons, for example user or help icon.
  .cd-icon:not(.cd-icon--arrow-down) {
    width: 14px;
    height: 14px;
  }

  li {
    position: relative;
    float: left;
  }
}

.cd-user-menu__item {
  position: relative;
  display: block;
  height: var(--cd-global-header-height);
  padding-inline: 1rem;
  transition: background 0.3s ease;
  white-space: nowrap;
  text-decoration: none;
  color: var(--cd-white);
  background: transparent;
  line-height: var(--cd-global-header-height);
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid var(--brand-primary--light);
    outline-offset: -2px;
  }

  .cd-user-menu__btn-label {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 60px;
    text-overflow: ellipsis;

    @include tablet {
      max-width: unset;
    }
  }

  @include tablet {
    max-width: none;
  }
}

.cd-user-menu__dropdown {
  min-width: 125px;
  margin: 0;
  padding: 12px 24px;
}

//——————————————————————————————————————————————————————————————————————————————
// Drupal selectors
//——————————————————————————————————————————————————————————————————————————————

// Hide default block titles
.cd-global-header .block--language h2,
.cd-global-header .block-menu h2 {
  @extend .visually-hidden;

  color: var(--cd-white);
}

.cd-global-header__user-menu > .menu {
  padding-inline-start: 0;
}

.cd-global-header .menu {
  @extend .cd-user-menu;
}

.cd-global-header .menu > li a,
.cd-global-header .menu > li button {
  @extend .cd-user-menu__item;
}

.no-js .cd-global-header .menu > li button {
  @extend .visually-hidden;
}

// Hides the Log out menu item from the Drupal User module, when it is beside the expanded menu item.
.cd-global-header__user-menu .menu-item--expanded + .menu-item {
  display: none;
}

// Second level reset.
.cd-global-header .menu > li li {
  float: none;
}

.cd-global-header .menu > li li a,
.cd-global-header .menu > li li button {
  padding: 0 !important;
}

// Last block in Global Header should have its dropdown right aligned
.cd-global-header .cd-global-header__user-menu:last-child .cd-global-header__dropdown {
  right: 0;
  left: initial;

  [dir="rtl"] & {
    right: initial;
    left: 0;
  }
}

.cd-global-header .menu > .menu-item:last-child > ul.menu {
  right: -1px;
  left: auto;
}

.no-js .cd-user-menu__dropdown {
  width: unset;
  margin-inline-start: 12px;
  padding: 0;

  li {
    display: inline-block;
    padding-inline: 0 12px;
  }

  a {
    height: var(--cd-global-header-height);
    padding: 0;
    line-height: var(--cd-global-header-height);
  }
}
