//——————————————————————————————————————————————————————————————————————————————
// Common Design: Language Switcher
//——————————————————————————————————————————————————————————————————————————————

.cd-language-switcher {
  position: relative;
}

// Language Switcher button.
.cd-language-switcher__btn {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  height: var(--cd-global-header-height);
  padding: 0;
  padding-inline: 1rem;
  line-height: var(--cd-global-header-height);

  &:focus {
    outline: 3px solid var(--brand-primary--light);
  }
}

// Language Switcher list.
.cd-language-switcher__dropdown {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cd-language-switcher__dropdown li a {
  position: relative;
  display: block;
  height: var(--cd-global-header-height);
  padding-inline: 0.75rem;
  text-decoration: none;
  color: var(--cd-white);
  line-height: var(--cd-global-header-height);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid var(--brand-primary--light);
  }

  &.is-active {
    font-weight: 700;
  }
}

// Pipe separator.
.cd-language-switcher__dropdown li a::before {
  position: absolute;
  top: 50%;
  left: -1px;
  width: 1px;
  height: calc(var(--cd-global-header-height) / 3);
  content: "";
  transform: translateY(-50%);
  background: var(--brand-grey);

  [dir="rtl"] & {
    right: -1px;
    left: auto;
  }
}
// No pipe on first child.
.cd-language-switcher__dropdown li:first-child a::before {
  background: transparent;
}

// If there are menus in the Global Header
// and the Language Switcher is displayed in full,
// separate with pipes and margins.
.cd-global-header__language-switcher + .cd-global-header__user-menu {
  position: relative;
  // Margin value matches the padding of the other buttons in the Global Header
  // and takes into account the right padding from the last Language Item.
  margin-inline-start: 0.5rem;

  @include tablet {
    margin-inline-start: 1rem;
  }
}
// Pipe separator between Language Switcher and following menu.
.cd-global-header__language-switcher + .cd-global-header__user-menu::before {
  position: absolute;
  top: 50%;
  left: -1px;
  width: 2px;
  height: calc(var(--cd-global-header-height) / 3);
  content: "";
  transform: translateY(-50%);
  background: var(--brand-grey);

  [dir="rtl"] & {
    right: -1px;
    left: auto;
  }
}

// Adjust breakpoints for when the Language Switcher displays as a dropdown.
// This depends on other elements present in the .cd-global-header__actions.
//
// Copy the following rules into the sub theme and override breakpoint value.
@include max-width(sm) {
  .js {
    .cd-language-switcher__dropdown {
      @include z-index(dropdown);

      position: absolute;
      right: 0;
      left: auto;
      display: block;
      min-width: 125px;
      padding: 12px;
      color: var(--cd-white);
      background-color: var(--brand-primary);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);

      a::before {
        content: none;
      }
    }

    // No horizontal separation when Language Switcher displays in a dropdown.
    .cd-global-header__language-switcher + .cd-global-header__user-menu {
      margin-inline-start: 0;
    }
  }

  [dir="rtl"] {
    .cd-language-switcher__dropdown {
      right: auto;
      left: 0;
    }
  }
}

// Display the full Language Switcher on > mobile.
.cd-language-switcher {
  @include mobile {
    --dropdown: false;
  }

  @include tablet {
    --dropdown: false;
  }
}

// Override the .cd-dropdown display rules to correspond with breakpoints above.
.cd-language-switcher.cd-dropdown {
  @include mobile {
    display: block;
  }

  @include tablet {
    display: block;
  }
}
