//——————————————————————————————————————————————————————————————————————————————
// Common Design: Dropdowns
//——————————————————————————————————————————————————————————————————————————————
[data-cd-toggable] {
  --dropdown: true;
}

[data-cd-hidden='false'] {
  display: block;
}

[data-cd-hidden='true'] {
  display: none;
}

.cd-dropdown {
  display: none;

  &[data-cd-hidden='false'] {
    display: block;
  }

  .no-js & {
    display: block;
    position: relative;
  }
}

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown {
  @include z-index(dropdown);
  background: $cd-primary-bg-color;
  left: 0;
  position: absolute;
  color: $cd-white-text-color;

  .no-js & {
    position: relative;
  }

  .js & {
    box-shadow: 0 3px 6px 0 rgba(0, 0 , 0, 0.3);
  }
}

// Triangle on toggle when active.
.cd-global-header button[aria-expanded='true'] {
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: transparent transparent $cd-primary-bg-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
  }
}

button[aria-expanded] {
  .cd-icon--arrow-down {
    fill: $cd-white;
    width: 9px;
    height: 9px;
    margin-left: 4px;
  }
}

button[aria-expanded='true'] .cd-icon--arrow-down {
  transform: rotate(180deg);
}

// Hide label on mobile.
//button[aria-expanded] span[class*='__btn-label'] {
//  @include max-width(md) {
//    @include visually-hidden;
//  }
//}
