//——————————————————————————————————————————————————————————————————————————————
// Common Design: Dropdowns for nested menus
//——————————————————————————————————————————————————————————————————————————————

[data-hidden='false'] {
  display: block;
}

[data-hidden='true'] {
  display: none;
}

.cd-dropdown {
  display: none;

  .js-open > &,
  &[data-hidden='false'] {
    display: block;
  }

  .no-js & {
    display: block;
    position: relative;
  }
}

.cd-icon--arrow-down {
  fill: $cd-white;
  width: 9px;
  height: 9px;
}

.js-open {
  > [data-toggle='dropdown'] > .cd-icon--arrow-down {
    transform: rotate(180deg);
  }
}

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown {
  background: $cd-primary-bg-color;
  box-shadow: 0 3px 6px 0 rgba(0, 0 , 0, 0.3);
  left: 0;
  position: absolute;
  color: $cd-white-text-color;
  @include z-index(dropdown);
}

.cd-global-header__dropdown-btn {
  .js-open & {
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px;
      border-color: transparent transparent $cd-primary-bg-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -6px;
    }
  }
}
