//——————————————————————————————————————————————————————————————————————————————
// Common Design: Dropdowns
//——————————————————————————————————————————————————————————————————————————————
[data-cd-toggable] {
  --dropdown: true;
}

// Initial hidden state used to prevent flash of content. Once processed by
// the cd-dropdown.js script, the visibility will be controlled by the
// data-cd-hidden attribute.
.js [data-cd-toggable]:not([data-cd-processed]) {
  display: none;
}

[data-cd-hidden='false'] {
  display: block;
}

[data-cd-hidden='true'] {
  display: none;
}

.cd-dropdown {
  display: none;

  &[data-cd-hidden='false'] {
    display: block;
  }

  .no-js & {
    display: block;
    position: relative;
  }
}

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown {
  @include z-index(dropdown);
  background: $cd-primary;
  left: 0;
  position: absolute;
  color: $cd-white;

  .no-js & {
    position: relative;
  }

  .js & {
    box-shadow: 0 3px 6px 0 rgba(0, 0 , 0, 0.3);
  }
}

// Triangle on toggle when active.
.cd-global-header button[aria-expanded='true'] {
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: transparent transparent $cd-primary;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
  }
}

button[aria-expanded] {
  .cd-icon--arrow-down {
    fill: $cd-white;
    width: 9px;
    height: 9px;
    margin-left: 4px;
  }
}

button[aria-expanded='true'] .cd-icon--arrow-down {
  transform: rotate(180deg);
}

// Hide label on mobile.
//button[aria-expanded] span[class*='__btn-label'] {
//  @include max-width(md) {
//    @include visually-hidden;
//  }
//}



// This compliments the cd-filter component.
// The CSS Custom property needs to be set in SASS in order to work, due to load order.

.cd-filter[data-cd-toggable] {
  @include desktop {
    --dropdown: false;

    // This is needed for IE11
    // No support for CSS custom properties means
    // --dropdown: false; property on the dropdown container is not recognised
    // so the cd-dropdown.js does not run the updateToggler function
    // which toggles the data-cd-hidden attribute.
    // This displays the dropdown regardless of that attribute value.
    @media all and (-ms-high-contrast: none) {
      &[data-cd-hidden='true'] {
        display: block;
      }
    }
  }
}
