//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————

.cd-ocha {
  float: left;

  .no-js & {
    float: none;
  }
}

.cd-ocha__btn {
  align-items: center;
  background: transparent;
  color: $cd-white-text-color;
  display: flex;
  @include font-size($cd-font-size-tiny);
  height: $cd-global-header-height;
  padding: 0;
  position: relative;
  transition: background 0.3s ease;

  @include tablet {
    display: flex;
    width: auto;

    &:hover,
    &:focus {
      .cd-ocha__btn-label {
        text-decoration: underline;
      }
    }
  }

  .cd-icon--arrow-down {
    margin: auto; // Center vertically in macOS 10

    @include tablet {
      margin-left: 4px;
    }
  }
}

.cd-ocha__logo {
  display: inline-block;
  flex-shrink: 0;
  height: 21px;
  margin-right: 4px;
  width: 21px;

  svg {
    width: 21px;
    height: 21px;
  }
}

.cd-ocha__btn-label {
  @include max-width(md) {
    @include visually-hidden;
  }
}

.cd-ocha-dropdown {
  padding: 22px 0;
  width: 100%;
}

.cd-ocha-dropdown__inner {
  padding: 0 $cd-container-padding;
  max-width: $cd-max-width;

  @include tablet {
    margin: 0 auto;
    padding: 0 $cd-container-padding-tablet;
  }

  @include xlarge {
    padding: 0 $cd-container-padding-xlarge;
  }

  @supports (display: grid) {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 12px;
    }

    @include xlarge {
      grid-gap: 100px;
    }
  }

}

.cd-ocha-dropdown__section {
  @include clearfix;

  // On mobile the link sections need space.
  margin-bottom: $cd-base-unit * 3;

  // For the see-all link
  position: relative;

  //
  // Grid not supported, fall back to floats on desktop
  //
  @include tablet {
    float: left;
    width: 21.25%;
    margin-right: 5%;

    // remove space between sections
    margin-bottom: 0;

    // ensure a min-height for IE11
    min-height: 120px;

    &:last-child {
      margin-right: 0;
    }
  }

  // on mobile, the two middle columns should look like one list.
  &:nth-child(2) {
    @include max-width(md) {
      margin-bottom: 0;
    }
  }

  @supports (display: grid) {
    @include tablet {
      float: none;
      width: unset;
      margin-right: 0;
    }
  }

}

.cd-ocha-dropdown__heading {
  color: $cd-lighter-blue;
  margin: 0 0 10px;
  padding-bottom: 2px;

  // there's an invisible heading in the third column to keep the links inside
  // column 2/3 in line with each other. it's hidden on mobile.
  .cd-ocha-dropdown__section:nth-child(3) & {
    @include max-width(md) {
      display: none;
      margin: 0;
      padding: 0;
    }
  }
}

.cd-ocha-dropdown__list {
  margin: 0;
  padding: 0;
}

.cd-ocha-dropdown__link {
  display: block;
  font-weight: 600;
  margin: 0 0 12px;
  padding: 0;

  a {
    color: $cd-white-text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $cd-white-text-color;
      text-decoration: underline;
    }

    &:focus {
      outline: 3px solid $cd-bright-blue;
      outline-offset: 8px;
    }
  }

  @include xlarge {
    white-space: nowrap;
  }
}

.cd-ocha-dropdown__see-all {
  display: block;
  width: 100%;
  @include font-size($cd-font-size-small);
  font-weight: 700;
  padding: 12px;
  background: $cd-bright-blue;
  color: $cd-dark-blue;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    outline: 3px $cd-black solid;
  }

  @include tablet {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
