//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

// Wrap the logo in a h1 if it's the main heading for the page (e.g. on homepage).
.cd-site-header h1 {
  margin: 0;
}

.cd-site-logo {
  display: block;
  float: left;
  width: 52px;
  height: $cd-site-header-height;

  @supports (display: flex) {
    float: none;
  }

  // Hides logo set in info.yml on mobile, in favour of background image.
  img {
    display: none;
  }
}

// Logo for mobile.
@include max-width(md) {
  .cd-site-logo {
    background: url('../img/logos/ocha-logo-blue@53x37.png') center no-repeat;
    background: linear-gradient(transparent, transparent),url('../img/logos/ocha-logo-blue.svg') center no-repeat;
  }
}

@include tablet {
  .cd-site-logo {
    width: 186px; // width may need to be adjusted depending on logo width.
    padding-top: 0;
    background: none;

    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    // Displays logo set in info.yml on larger viewports.
    img {
      display: block;
      width: 100%;
    }
  }
}


.cd-site-logo {
  float: left;

  @supports(display: grid) {
    grid-column: 1 / 1;
  }
}
