//——————————————————————————————————————————————————————————————————————————————
// Common Design: Language Switcher
//——————————————————————————————————————————————————————————————————————————————

.cd-language-switcher {
  position: relative;

  @include mobile {
    --dropdown: false;
  }
  @include tablet {
    --dropdown: false;
  }
}

.cd-language-switcher.cd-dropdown {
  @include mobile {
    display: block;
  }
  @include tablet {
    display: block;
  }
}

// Language switcher button
.cd-language-switcher__btn {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  height: var(--cd-global-header-height);
  padding: 0;
  padding-inline: 1rem;
  line-height: var(--cd-global-header-height);

  // Place toggle indicator on edge of Global Header
  .cd-icon--arrow-down {
    min-height: 100%; // IE11 fix.
    margin: auto; // Center vertically in macOS 10
  }

  &:focus {
    outline: 3px solid var(--brand-primary--light);
  }
}

.cd-language-switcher__dropdown {
  margin: 0;
  padding: 0;
  list-style: none;

  @include mobile {
    display: flex;
  }
}
.cd-language-switcher__dropdown li a {
  text-decoration: none;
  color: var(--cd-white);
  line-height: var(--cd-global-header-height);
  position: relative;
  display: block;
  height: var(--cd-global-header-height);
  text-decoration: none;
  color: var(--cd-white);
  line-height: var(--cd-global-header-height);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid var(--brand-primary--light);
  }

  &.is-active {
    font-weight: 700;
  }
}

@include mobile {
  .cd-language-switcher__dropdown li a {
    padding-inline: 0.75rem;

    &::before {
      position: absolute;
      top: 50%;
      left: -1px;
      width: 1px;
      height: calc(var(--cd-global-header-height) / 3);
      content: "";
      transform: translateY(-50%);
      background: var(--brand-grey);
    }
  }

  .cd-language-switcher__dropdown li a.is-active {
    font-weight: 700;
  }

  .cd-language-switcher__dropdown li:first-child a {
    border-inline-start: 0 none;
  }

  .cd-language-switcher__dropdown li:first-child a::before {
    background: transparent;
  }
}

@include max-width(sm) {
  .cd-language-switcher__dropdown {
    @include z-index(dropdown);
    position: absolute;
    left: 0;
    color: var(--cd-white);
    background-color: var(--brand-primary);
    padding: 12px 24px;

    .no-js & {
      position: relative;
    }

    .js & {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    }

    .cd-language-switcher & {
      right: 0;
      left: auto;
      width: 125px;
    }
  }
}

.no-js .cd-user-menu__dropdown {
  width: unset;
  margin-inline-start: 12px;
  padding: 0;

  li {
    display: inline-block;
    padding-inline: 0 12px;
  }

  a {
    height: var(--cd-global-header-height);
    padding: 0;
    line-height: var(--cd-global-header-height);
  }
}

// If there are multiple menus, separate them with pipes and margins */
.cd-global-header__language-switcher + .cd-global-header__user-menu {
  margin-inline-start: 1rem;
  position: relative;
}
.cd-global-header__language-switcher + .cd-global-header__user-menu::before {
  position: absolute;
  top: 50%;
  left: -1px;
  width: 2px;
  height: calc(var(--cd-global-header-height) / 3);
  content: "";
  transform: translateY(-50%);
  background: var(--brand-grey);
}
