//——————————————————————————————————————————————————————————————————————————————
// Common Design: Language Switcher
//——————————————————————————————————————————————————————————————————————————————

.cd-language-switcher {
  position: relative;
}

// Language switcher button
.cd-language-switcher__btn {
  font-weight: 600;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  line-height: $cd-global-header-height;
  height: $cd-global-header-height;

  @include tablet {
    padding: 0 0 0 20px;
  }

  // Language switcher is always on the far edge of the global header.
  // Cancel the border that we render for other elements.
  &::after {
    content: none;
  }

  // Place toggle indicator on edge of Global Header
  .cd-icon--arrow-down {
    min-height: 100%; // IE11 fix.
    margin: auto; // Center vertically in macOS 10
  }

  &:focus {
    outline: 3px solid $cd-bright-blue;
  }
}

.cd-user-menu__dropdown {
  list-style: none;
  margin: 0;
  padding: 12px 24px;

  .cd-language-switcher & {
    width: 125px;
    left: auto;
    right: 0;
  }

  li {
    display: block;
    float: none;
  }

  li a {
    @extend .cd-user-menu__dropdown-link;
    color: $cd-white;

    &:hover,
    &:focus {
      color: $cd-bright-blue;
    }

    &:focus {
      color: $cd-white;
      text-decoration: underline;
      outline: 3px solid $cd-bright-blue;
    }
  }
}

.cd-user-menu__dropdown-link {
  display: block;
  padding: 12px 0;
  text-decoration: none;

  &.is-active {
    font-weight: bold;
    padding-right: 12px;
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      content: '';
      width: 14px;
      height: 14px;
      background-image: url('../img/icons/selected--highlighted.svg');
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 14px 14px;
    }
  }
}

.no-js .cd-user-menu__dropdown {
  width: unset;
  padding: 0;
  margin-left: 12px;

  li {
    display: inline-block;
    padding: 0 12px;
  }

  a {
    height: $cd-global-header-height;
    line-height: $cd-global-header-height;
    padding: 0;
  }

  // Reposition checkmark icon.
  .is-active::after {
    top: 9px;
    right: -6px;
  }
}
