//——————————————————————————————————————————————————————————————————————————————
// Common Design: Main Navigation
//——————————————————————————————————————————————————————————————————————————————


.cd-nav__btn {
  background: transparent;
  border: 0 none $cd-border-color;
  border-left: 1px solid $cd-border-color;
  border-right: 1px solid $cd-border-color;
  @include font-size($cd-font-size-small);
  color: $cd-default-text-color;
  height: $cd-site-header-height;
  padding: 0 20px;
  text-transform: uppercase;
  transition: background 0.3s ease;

  @include desktop {
    display: none;
  }

  .cd-nav__btn-label {
    font-weight: 600;
  }

  .cd-icon--arrow-down {
    margin-left: 2px;
    fill: $cd-highlight-red;
  }

  .js-open & {
    position: relative;
    z-index: 101;
    color: $cd-dark-text-color;

    &::before {
      bottom: -3px;
      content: '';
      background: $cd-highlight-red;
      height: 3px;
      left: -1px;
      position: absolute;
      right: -1px;
      transition: background 0.3s ease;
      width: calc(100% + 1px);
    }

    &:focus {
      background: $cd-white-bg-color;
    }

    .cd-icon--arrow-down {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    color: $cd-dark-text-color;
    background: $cd-mid-bg-color;
    outline: none; // default browser outline is replaced by background colour change.
  }
}

[hidden] {
  display: none;
}

.cd-site-header__nav-holder {
  float: left;

  .cd-nav {
    @include max-width(lg) {
      &[data-hidden='false'] {
        background: $cd-white;
        height: calc(100vh - (#{$cd-global-header-height} + #{$cd-site-header-height} + 3px));
        padding: 20px 0 36px;
        position: absolute;
        right: 0;
        left: 0;
        top: calc(#{$cd-global-header-height} + #{$cd-site-header-height} + 3px);
        z-index: 101; // zindex may need adjusting depending on other site content.
      }

      &[data-hidden='false'] > ul {
        display: block;
      }
    }

    @include desktop {
      height: $cd-site-header-height;
      max-width: none;
      padding: 0;
      position: relative;
      left: 0;
      right: auto;
      top: auto;
      width: auto;
    }

    > ul {
      display: none;
      background: $cd-white;
      @include desktop {
        background: transparent;
        display: flex;
      }

      .no-js & {
        display: block;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: $cd-default-text-color;
      padding: 15px 30px;
      text-decoration: none;
      display: block;
      @supports (display: flex) {
        display: flex;
      }

      &:hover,
      &:focus {
        background: $cd-mid-bg-color;
        color: $cd-dark-text-color;
        outline: none; // default browser outline is replaced by background colour change.
      }
    }

    // First level.
    > .menu > .menu-item > a {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .menu-item {
    &.js-open {
      background: $cd-white-bg-color;
    }

    > a::before {
      background: $cd-highlight-red;
    }
  }

  // Second level.
  .cd-nav > .menu > li > .menu {
    background: $cd-white-bg-color;

    @include desktop {
      box-shadow: 0 1px 8px rgba($cd-dark-bluey-grey, 0.8);
      //left: -1px;
      margin: 0;
      max-width: 300px;
      min-width: 200px;
      padding: 20px 0;
      top: calc(#{$cd-site-header-height} + 3px); // border-bottom height
      position: absolute;
    }
  }

  .menu .menu {
    a {
      display: flex;
      color: $cd-dark-text-color;
      font-weight: 600;

      &:hover {
        background: $cd-mid-bg-color;
      }
    }
  }

  // Third level.
  .menu .menu .menu {
    a {
      font-weight: 200;
      padding: 10px 30px;
    }
  }

  // Active trail for mobile menu.
  @include max-width(lg) {

    .cd-nav > ul > li {

      a {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 3px;
          top: 0;
          height: 48px; // Height of menu item.
          left: 15px; // Half of the left padding.
          background: transparent;
        }
      }

      > a.is-active::before {
        background: $cd-highlight-red;
      }

      // First level menu item with children.
      // Classes based on Drupal menu item configuration.
      &.menu-item--collapsed,
      &.menu-item--expanded {
        > a.is-active::before {
          background: rgba($cd-highlight-red, 0.2);
        }
      }

      &.menu-item--active-trail {

        a {
          position: relative;

          &::before {
            position: absolute;
            content: '';
            width: 3px;
            top: 0;
            height: 48px; // Height of menu item.
            left: 15px; // Half of the left padding.
            background: rgba($cd-highlight-red, 0.2);
          }

          &.is-active::before {
            background: $cd-highlight-red;
          }
        }
      }

      > ul > li.menu-item--active-trail {

        a::before {
          background: rgba($cd-highlight-red, 0.6);
        }

        a.is-active::before {
          background: $cd-highlight-red;
        }
      }

    }

    // Grandchild items have different top/bottom padding and therefore height.
    .cd-nav > ul > li.menu-item--active-trail > ul > li > ul > li a::before,
    .cd-nav > ul > li > ul > li.menu-item--active-trail > ul > li a::before {
      height: 38px; // Height of menu item.
    }
  }


  @include desktop {

    .cd-nav > .menu {

      @supports (display: flex) {
        flex: 1 0 auto;
      }

      > .menu-item {
        border-right: 1px solid $cd-border-color;

        &:first-child {
          border-left: 1px solid $cd-border-color;
        }

        &:last-child {
          > ul.menu {
            left: auto;
            right: -1px;
          }
        }

        &.menu-item--active-trail a::before {
          background: $cd-highlight-red;
        }

        &.js-open {
          position: relative;

          > a {

            &::before {
              background: $cd-highlight-red;
            }

            &:hover {
              background: $cd-mid-bg-color;
            }

            &:focus {
              &::before {
                background: $cd-highlight-red;
              }
            }
          }
        }

        > a {
          align-items: center;
          background: transparent;
          display: flex;
          height: $cd-site-header-height;
          padding: 0 14px;
          position: relative;
          transition: background 0.3s ease;

          &::before {
            bottom: -3px;
            content: '';
            background: transparent;
            height: 3px;
            left: -1px;
            position: absolute;
            right: -1px;
            transition: background 0.3s ease;
            width: calc(100% + 2px);
          }

          &:hover {
            background: $cd-mid-bg-color;
          }

          &:focus {
            background: $cd-white-bg-color;
          }

          &.is-active,
          &:focus {
            &::before {
              background: $cd-highlight-red;
            }
          }
        }
      }

      > li > ul {

        a {
          &:hover {
            background: $cd-mid-bg-color;
          }

          &.is-active {
            border-left: 3px solid $cd-highlight-red;
          }
        }

        > li.menu-item--active-trail .is-active {
          border-left: 3px solid $cd-highlight-red;
        }
      }

      > li > ul > li {
        &.js-open {
          background: $cd-white-bg-color;
        }
      }

      > li > ul > li > ul {
        padding-bottom: 0;

        a {
          &:hover,
          &:focus {
            background: $cd-mid-bg-color;
          }
        }
      }

    }

  }

}

.no-js .cd-site-header__nav-holder {
  float: left;
}

.no-js .cd-site-header__nav-holder .cd-nav[data-hidden='false'] {
  background: $cd-white;
  height: auto;
  padding: 20px 0 36px;
  position: relative;
  right: 0;
  left: 0;
  top: auto;
  z-index: 101; // zindex may need adjusting depending on other site content.
}

.no-js .cd-site-header__nav-holder .cd-nav > .menu > li > .menu {
  box-shadow: unset;
  margin: 0;
  max-width: unset;
  min-width: unset;
  padding: 0;
  top: 0;
  position: relative;
}
