//——————————————————————————————————————————————————————————————————————————————
// Common Design: Drupal main menu dropdown display rules for nested menus
//——————————————————————————————————————————————————————————————————————————————

.menu-item--expanded {
  // Hide child nav.
  [aria-expanded='false'] + ul {
    display: none;
  }

  [aria-expanded='true'] + ul {
    display: block;
  }
}

ul[data-cd-hidden='true'] > ul {
  display: block;
  @include z-index(dropdown);
}

.menu--main button[aria-expanded] .cd-icon--arrow-down {
  fill: $cd-highlight-red;
  margin-left: 4px;
  margin-top: 4px;
  @include desktop {
    margin-top: -2px;
  }
}

.no-js .menu-item--expanded> [aria-expanded='false'] + ul {
  display: block;
}
