.cd-hero--style-one .cd-hero__container {
  background: rgba(0,0,0,0.85);
}

.cd-hero--style-one .cd-hero__container .cd-hero__title,
.cd-hero--style-one .cd-hero__container .cd-hero__description {
  color: var(--cd-white);
}

.cd-hero--style-one .cd-hero__title {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.cd-hero--style-one .cd-hero__description {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1024px) {
  .cd-hero--style-one::after {
    display: block;
    content: "";
    height: 28.125rem; /* 450px */
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 85%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 85%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 85%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
  }

  .cd-hero--style-one .cd-hero__container {
    background-color: transparent;
    text-align: center;
    position: relative;
    z-index: 2;
    max-width: var(--cd-max-content-width);
  }

}
