/**
 * CD Hero: Style One
 */

.cd-hero--style-one .cd-hero__container {
  background: rgba(0, 0, 0, 0.85);
}

.cd-hero--style-one .cd-hero__container .cd-hero__title,
.cd-hero--style-one .cd-hero__container .cd-hero__description {
  color: var(--cd-white);
}

.cd-hero--style-one .cd-hero__title {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.cd-hero--style-one .cd-hero__description {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 1024px) {
  .cd-hero--style-one::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 28.125rem; /* 450px */
    content: "";
    /**
     * Permalink - use to edit and share this gradient:
     * https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100
     */
    /* stylelint-disable-next-line max-line-length */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.7) 100%); /* FF3.6-15 */
    /* stylelint-disable-next-line max-line-length */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.7) 100%); /* Chrome10-25, Safari5.1-6 */
    /* stylelint-disable-next-line max-line-length */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 85%, rgba(0, 0, 0, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .cd-hero--style-one .cd-hero__container {
    position: relative;
    z-index: 2;
    max-width: var(--cd-max-content-width);
    text-align: center;
    background-color: transparent;
  }
}
