//——————————————————————————————————————————————————————————————————————————————
// Common Design: Variables
//——————————————————————————————————————————————————————————————————————————————

//——————————————————————————————————————————————————————————————————————————————
// Google fonts
//——————————————————————————————————————————————————————————————————————————————

// Multilingual
// https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/multi-language-typefaces-1
@import url("//fonts.googleapis.com/css2?family=Noto+Sans:wght@400%3B500%3B700&display=swap");

// Roboto
// https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/advanced-users
@import url("//fonts.googleapis.com/css?family=Roboto:ital,wght@0,300%3B0,400%3B0,500%3B0,700%3B0,900%3B1,400%3B1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400%3B700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Roboto+Slab:wght@400%3B700&display=swap");

// sass-lint:enable no-url-domains no-url-protocols

//——————————————————————————————————————————————————————————————————————————————
// Colours
//——————————————————————————————————————————————————————————————————————————————
:root {
  /* Color palette */
  /* OCHA blue is one colour ramp darker than brand blue */
  --cd-ocha-blue: #1f69b3;
  /* Dark blue is two colour ramps darker than brand blue */
  --cd-blue--dark: #144372;
  /* Bright blue is one colour ramp lighter than brand blue */
  --cd-blue--bright: #82b5e9;
  --cd-blue--light: #d4e5f7;
  --cd-highlight-red: #e56a54;
  // This shade of red has been selected based on WCAG AAA requirements for contrast.
  --cd-contrast-red: #e00000;
  --cd-white: #fff;
  --cd-grey--light: #f2f2f2;
  --cd-grey--mid: #595959;
  --cd-grey--dark: #4a4a4a;
  --cd-default-text-color: var(--cd-grey--dark);
  --cd-black: #000;
  --cd-blue-grey: #e6ecf1;
  --cd-blue-grey--dark: #d3dde5;
  --cd-blue-grey--light: #ebf0f4;

  // Colours used with rgba().
  // https://stackoverflow.com/questions/40010597/how-do-i-apply-opacity-to-a-css-color-variable
  --cd-rgb-ocha-blue: 2, 108, 182;
  --cd-rgb-grey--mid: 89, 89, 89;
  --cd-rgb-grey--dark: 74, 74, 74;
  --cd-rgb-highlight-red: 229, 106, 84;
  --cd-rgb-blue-grey--dark: 211, 221, 229;

  /* Measurements */
  --cd-max-content-width: 820px;
  --cd-max-body-width: 1400px;
  --cd-max-width: 1220px;
  --cd-container-padding: 0.75rem; /* 12px */
  --cd-container-padding-tablet: 1.5rem; /* 24px */
  --cd-container-padding-xlarge: 2.5rem; /* 40px */

  /* Vertical Rhythm */
  --cd-flow-space: 1rem;
  --cd-bumper-space: 1rem;

  // Adjust this depending on number of rows in .cd-layout-container.
  // This ensures the footer is always the last element.
  --cd-footer-row-number: 5;

  /* From https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/colours */
  --cd-red: #cd3a1f;
  --cd-red--light: #f8d8d3;
  --cd-orange: #db7b18;
  --cd-orange--light: #fae6d1;
  --cd-yellow: #d5de26;
  --cd-yellow--light: #f7f8d3;
  --cd-green: #7fb92f;
  --cd-green--light: #e8f5d6;

  /* Fonts sizes in REMs */
  --cd-font-size--tiny: 0.75rem;      /* 12px */
  --cd-font-size--small: 0.875rem;    /* 14px */
  --cd-font-size--base: 1.125rem;     /* 18px */
  --cd-font-size--medium: 1.375rem;   /* 22px */
  --cd-font-size--large: 1.625rem;    /* 26px */
  --cd-font-size--2xbase: 1.875rem;   /* 30px */
  --cd-font-size--2xmedium: 2.375rem; /* 38px */
  --cd-font-size--2xlarge: 2.875rem;  /* 46px */

  /* Fonts */
  --cd-font: helvetica, arial, sans-serif;
  --cd-font--system: system-ui;

  // Multilingual
  // https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/multi-language-typefaces-1
  --cd-font--noto: "Noto Sans", sans-serif;
  --cd-font--noto-kufi: "Noto Kufi Arabic", sans-serif;

  // Roboto
  // https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/advanced-users
  --cd-font--roboto: "Roboto", helvetica, arial, sans-serif;
  --cd-font--roboto-condensed: "Roboto Condensed", helvetica, arial, sans-serif;
  --cd-font--roboto-slab: "Roboto Slab", helvetica, arial, sans-serif;
}

//——————————————————————————————————————————————————————————————————————————————
// Measurements
//——————————————————————————————————————————————————————————————————————————————
$cd-max-body-width: var(--cd-max-body-width);
$cd-max-width: var(--cd-max-width);

$cd-container-padding: var(--cd-container-padding);
$cd-container-padding-tablet: var(--cd-container-padding-tablet);
$cd-container-padding-xlarge: var(--cd-container-padding-xlarge);

$cd-global-header-height: 35px;
$cd-site-header-height: 60px;

// Colour palette
$cd-ocha-blue: var(--cd-ocha-blue);
$cd-blue--dark: var(--cd-blue--dark);
$cd-blue--bright: var(--cd-blue--bright);
$cd-blue--light: var(--cd-blue--light);

$cd-grey--light: var(--cd-grey--light);
$cd-grey--mid: var(--cd-grey--mid);
$cd-grey--dark: var(--cd-grey--dark);

// Default text colour.
$cd-default-text-color: var(--cd-default-text-color);

$cd-white: var(--cd-white);
$cd-black: var(--cd-black);

// Site background colour.
$cd-blue-grey--dark: var(--cd-blue-grey--dark);
$cd-blue-grey: var(--cd-blue-grey);
$cd-blue-grey--light: var(--cd-blue-grey--light);

$cd-highlight-red: var(--cd-highlight-red);
$cd-contrast-red: var(--cd-contrast-red);

$cd-rgb-ocha-blue: var(--cd-rgb-ocha-blue);
$cd-rgb-grey--mid: var(--cd-rgb-grey--mid);
$cd-rgb-grey--dark: var(--cd-rgb-grey--dark);
$cd-rgb-highlight-red: var(--cd-rgb-highlight-red);
$cd-rgb-blue-grey--dark: var(--cd-rgb-blue-grey--dark);

// Brand colours
$cd-primary: $cd-ocha-blue;
$cd-primary--dark: $cd-blue--dark;

//——————————————————————————————————————————————————————————————————————————————
// Fonts
//——————————————————————————————————————————————————————————————————————————————

$cd-font: var(--cd-font);
$cd-font--system:  var(--cd-font--system);
$cd-font--noto: var(--cd-font--noto);
$cd-font--noto-kufi: var(--cd-font--noto-kufi);
$cd-font--roboto: var(--cd-font--roboto);
$cd-font--roboto-condensed: var(--cd-font--roboto-condensed);
$cd-font--roboto-slab: var(--cd-font--roboto-slab);

//——————————————————————————————————————————————————————————————————————————————
// Font sizes
//——————————————————————————————————————————————————————————————————————————————

$cd-font-size--tiny: var(--cd-font-size--tiny);
$cd-font-size--small: var(--cd-font-size--small);
$cd-font-size--base: var(--cd-font-size--base);
$cd-font-size--medium: var(--cd-font-size--medium);
$cd-font-size--large: var(--cd-font-size--large);
$cd-font-size--2xbase: var(--cd-font-size--2xbase);
$cd-font-size--2xmedium: var(--cd-font-size--2xmedium);
$cd-font-size--2xlarge: var(--cd-font-size--2xlarge);

//——————————————————————————————————————————————————————————————————————————————
// Don't use any maps directly. Please refer to `_cd-mixins.scss` partial.
//——————————————————————————————————————————————————————————————————————————————

//
// Grid Breakpoints
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
) !default;

//
// CD Breakpoints correspond to the following grid breakpoints:
//
$cd-breakpoints: (
  tablet: #{map-get($grid-breakpoints, "md")},
  desktop: #{map-get($grid-breakpoints, "lg")},
  xlarge: #{map-get($grid-breakpoints, "xl")},
  xxlarge: #{map-get($grid-breakpoints, "xxl")}
);

//——————————————————————————————————————————————————————————————————————————————
// z-indices
//——————————————————————————————————————————————————————————————————————————————

$zindex: (
  default: 1,
  hidden: -1,
  sidebar: 110,
  sidebar-underlay: 100,
  main-menu: 199,
  search: 200,
  dropdown: 201,
  skip-link: 1000
);

//——————————————————————————————————————————————————————————————————————————————
// Implementation colours
//——————————————————————————————————————————————————————————————————————————————

$implementation-primary: $cd-ocha-blue;
$implementation-primary-dark: $cd-blue--dark;
$implementation-secondary: $cd-blue--bright;
$implementation-highlight: $cd-highlight-red;
