//——————————————————————————————————————————————————————————————————————————————
// Common Design: Mixins
//——————————————————————————————————————————————————————————————————————————————

//
// Standard clearfix.
//
// Drupal 7.59 system.base.css
//
@mixin clearfix {
  &::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

//
// from Drupal v8.6.2 see _cd-extends.scss
//
@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

//——————————————————————————————————————————————————————————————————————————————
// Breakpoints
//
// `min-width` and `max-width` mixins are supplied, with convenience functions
// for CD dimensions. All CD convenience functions are `min-width`.
//——————————————————————————————————————————————————————————————————————————————
@mixin min-width($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (min-width: #{map-get($grid-breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "`#{$breakpoint}` not found in `$grid-breakpoints` map.";
  }
}

@mixin max-width($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media (max-width: #{map-get($grid-breakpoints, $breakpoint)-1}) {
      @content;
    }
  }

  @else {
    @warn "`#{$breakpoint}` not found in `$grid-breakpoints` map.";
  }
}

//
// Grid breakpoints
//
@mixin xs {
  @include min-width("xs") {
    @content;
  }
}

@mixin sm {
  @include min-width("sm") {
    @content;
  }
}

@mixin md {
  @include min-width("md") {
    @content;
  }
}

@mixin lg {
  @include min-width("lg") {
    @content;
  }
}

@mixin xl {
  @include min-width("xl") {
    @content;
  }
}

@mixin xxl {
  @include min-width("xxl") {
    @content;
  }
}

//
// CD breakpoints
//
@mixin mobile {
  @include sm {
    @content;
  }
}

@mixin tablet {
  @include md {
    @content;
  }
}

@mixin desktop {
  @include lg {
    @content;
  }
}

@mixin xlarge {
  @include xl {
    @content;
  }
}

@mixin xxlarge {
  @include xxl {
    @content;
  }
}

//——————————————————————————————————————————————————————————————————————————————
// Common Design: z-index
//
// Provides syntactic sugar for common z-index values.
//
// Usage: @include z-index(dropdown);
//——————————————————————————————————————————————————————————————————————————————
@mixin z-index($value: 0) {
  @if map-has-key($zindex, $value) {
    z-index: #{map-get($zindex, $value)};
  }

  @else {
    @warn "`#{$value}` not found in `$zindex` map.";
  }
}
