//——————————————————————————————————————————————————————————————————————————————
// Common Design: Variables
//——————————————————————————————————————————————————————————————————————————————

//——————————————————————————————————————————————————————————————————————————————
// Don't use any maps directly. Please refer to `_cd-mixins.scss` partial.
//——————————————————————————————————————————————————————————————————————————————

//
// Grid Breakpoints
//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
) !default;

//
// CD Breakpoints correspond to the following grid breakpoints:
//
$cd-breakpoints: (
  tablet: #{map-get($grid-breakpoints, "md")},
  desktop: #{map-get($grid-breakpoints, "lg")},
  xlarge: #{map-get($grid-breakpoints, "xl")},
  xxlarge: #{map-get($grid-breakpoints, "xxl")}
);

//——————————————————————————————————————————————————————————————————————————————
// z-indices
//——————————————————————————————————————————————————————————————————————————————

$zindex: (
  default: 1,
  hidden: -1,
  sidebar: 110,
  sidebar-underlay: 100,
  main-menu: 199,
  search: 200,
  dropdown: 201,
  skip-link: 1000
);
