/* Utlilty classes */

/* Alignment */
.cd-align--center,
*[class*="--align-center"]  {
  text-align: center;
}

.cd-align--right,
*[class*="--align-right"] {
  text-align: right;
}

/* Floating */
.cd-float--left,
*[class*="--float-left"] {
  float: left;
}

.cd-float--right,
*[class*="--float-right"] {
  float: right;
}

/* Rounded image */
/* Requires square image */
*[class*="__image--rounded"] {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  /* For IE11 */
  width: 100%;
}


/* To reset headings inside title divs */
div[class*="__title"] > * {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Remove bottom border from last child of list */
*[class*="__remove-border"]:last-child {
  border-bottom: 0 none;
}
