//——————————————————————————————————————————————————————————————————————————————
// Common Design: Search
//——————————————————————————————————————————————————————————————————————————————
.cd-search__btn {
  color: var(--implementation-primary);

  svg {
    fill: var(--implementation-primary);
  }

  &:hover,
  &:focus {
    color: var(--implementation-primary-dark);

    svg {
      fill: var(--implementation-primary-dark);
    }
  }

  &:focus {
    color: var(--implementation-highlight);

    svg {
      fill: var(--implementation-highlight);
    }
  }

  &[aria-expanded="true"] {
    color: var(--implementation-highlight);

    svg {
      fill: var(--implementation-highlight);
    }
  }
}

.cd-search__submit {
  &:focus {
    background-color: var(--implementation-highlight);
  }
}
