/**
 * Common Design Search form in header.
 */

.cd-search--inline__btn {
  svg {
    fill: $implementation-primary;
  }

  &:hover,
  &:focus {
    color: $implementation-primary-dark;

    svg {
      fill: $implementation-primary-dark;
    }
  }

  &:focus {
    color: $implementation-highlight;

    svg {
      fill: $implementation-primary-dark;
    }
  }

  &[aria-expanded="true"] {
    color: $implementation-highlight;

    svg {
      fill: $implementation-highlight;
    }
  }
}

.cd-search--inline__submit {
  &:hover,
  &:focus {
    background: $implementation-highlight;

    svg {
      fill: $cd-white;
    }
  }
}

// Start inline search for desktop only.
@include desktop {
  .cd-search--inline__input {
    &:focus {
      border-bottom: 3px solid $cd-blue--bright;
    }
  }

  .cd-search--inline__submit {
    &:hover,
    &:focus {
      svg {
        fill: $implementation-highlight;
      }
    }
  }
}
