/**
 * Common Design Search form in header.
 */

.cd-search--inline__btn {
  svg {
    fill: var(--implementation-primary);
  }

  &:hover,
  &:focus {
    color: var(--implementation-primary-dark);

    svg {
      fill: var(--implementation-primary-dark);
    }
  }

  &:focus {
    color: var(--implementation-highlight);

    svg {
      fill: var(--implementation-primary-dark);
    }
  }

  &[aria-expanded="true"] {
    color: var(--implementation-highlight);

    svg {
      fill: var(--implementation-highlight);
    }
  }
}

.cd-search--inline__submit {
  &:hover,
  &:focus {
    background: var(--implementation-highlight);

    svg {
      fill: var(--cd-white);
    }
  }
}

// Start inline search for desktop only.
@include desktop {
  .cd-search--inline__input {
    &:focus {
      border-bottom: 3px solid var(--cd-blue--bright);
    }
  }

  .cd-search--inline__submit {
    &:hover,
    &:focus {
      svg {
        fill: var(--implementation-highlight);
      }
    }
  }
}
