//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  width: 52px;

  &:focus {
    outline: 3px solid $cd-blue--bright;
  }

  // Logo for mobile.
  // sass-lint:disable no-duplicate-properties
  @include max-width(md) {
    background: url("../../../../../contrib/common_design/img/logos/ocha-logo-blue@53x37.png") center no-repeat;
    background: linear-gradient(transparent, transparent), url("../../../../../contrib/common_design/img/logos/ocha-logo-blue.svg") center no-repeat;
  }

  @include tablet {
    width: 186px; // width may need to be adjusted depending on logo width.
  }
}
