//——————————————————————————————————————————————————————————————————————————————
// Common Design: Sites Menu ('OCHA Services')
//——————————————————————————————————————————————————————————————————————————————

.cd-ocha {
  float: left;
  text-align: left;

  [dir="rtl"] & {
    text-align: right;
  }

  .no-js & {
    float: none;
  }

  h2 {
    color: $cd-white;
  }
}

.cd-ocha__btn {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--cd-global-header-height);
  padding: 0;
  transition: background 0.3s ease;
  color: $cd-white;
  background: transparent;
  font-size: $cd-font-size--tiny;

  .cd-icon--arrow-down {
    margin: auto; // Center vertically in macOS 10

    @include tablet {
      [dir="ltr"] & {
        margin-left: 4px;
      }

      [dir="rtl"] & {
        margin-right: 4px;
      }
    }
  }

  @include tablet {
    display: flex;
    width: auto;

    &:hover,
    &:focus {
      .cd-ocha__btn-label {
        text-decoration: underline;
      }
    }
  }
}

.cd-ocha__logo {
  display: inline-block;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  fill: $cd-white;

  @include tablet {
    [dir="ltr"] & {
      margin-right: 4px;
    }

    [dir="rtl"] & {
      margin-left: 4px;
    }
  }
}

.cd-ocha__btn-label {
  @include max-width(md) {
    @include visually-hidden;
  }
}

.cd-ocha-dropdown {
  width: 100%;
  padding: 22px 0;
}

.cd-ocha-dropdown__inner {
  max-width: var(--cd-max-width);
  padding: 0 var(--cd-container-padding);

  @include tablet {
    margin: 0 auto;
    padding: 0 var(--cd-container-padding-tablet);
  }

  @include xlarge {
    padding: 0 var(--cd-container-padding-xlarge);
  }

  @supports (display: grid) {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
    }

    @include xlarge {
      gap: 32px;
    }
  }
}

.cd-ocha-dropdown__section {
  @include clearfix;

  // For the see-all link
  position: relative;

  // On mobile the link sections need space.
  margin-bottom: 1.5rem;

  // on mobile, the two middle columns should look like one list.
  &:nth-child(2) {
    @include max-width(md) {
      margin-bottom: 0;
    }
  }

  //
  // Grid not supported, fall back to floats on desktop
  //
  @include tablet {
    float: left;
    width: 21.25%;

    // ensure a min-height for IE11
    min-height: 120px;
    margin-right: 5%;

    // remove space between sections
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @supports (display: grid) {
    @include tablet {
      float: none;
      width: unset;
      margin-right: 0;
    }
  }
}

.cd-ocha-dropdown__heading {
  margin: 0 0 10px;
  padding-bottom: 2px;
  color: var(--cd-blue--light);

  // there's an invisible heading in the third column to keep the links inside
  // column 2/3 in line with each other. it's hidden on mobile.
  .cd-ocha-dropdown__section:nth-child(3) & {
    @include max-width(md) {
      display: none;
      margin: 0;
      padding: 0;
    }
  }
}

.cd-ocha-dropdown__list {
  margin: 0;
  padding: 0;
}

.cd-ocha-dropdown__link {
  display: block;
  margin: 0 0 12px;
  padding: 0;
  font-weight: 700;

  a {
    text-decoration: none;
    color: $cd-white;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $cd-white;
    }

    &:focus {
      outline: 3px solid var(--cd-blue--bright);
      outline-offset: 8px;
    }
  }

  @include xlarge {
    white-space: nowrap;
  }
}

.cd-ocha-dropdown__see-all {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: $cd-font-size--small;

  @include tablet {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// When JS is disabled, OCHA Services moves to the footer.
// This prevents the .cd-footer anchor rule from affecting the link colour.
.no-js .cd-footer .cd-ocha-dropdown__see-all {
  color: initial;
}
