//——————————————————————————————————————————————————————————————————————————————
// Common Design: Soft Footer
//
// Optional space for a CTA, newsletter sign-up, etc
//——————————————————————————————————————————————————————————————————————————————

.cd-soft-footer {
  position: relative;
  padding: 24px 0;
  text-align: center;
  color: var(--cd-white);

  h2 {
    color: var(--cd-white);
  }

  a {
    color: var(--cd-white);

    &:hover,
    &:focus {
      color: var(--cd-white);
    }

    &:focus {
      outline: 3px solid var(--brand-primary--dark);
    }
  }

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    opacity: 0.9;
    background: var(--brand-primary);
  }
}

@include tablet {
  // Override container layout so flexbox justify-content works.
  .cd-soft-footer .cd-container::after {
    content: none;
  }

  .cd-soft-footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@include desktop {
  .cd-soft-footer {
    padding: 2rem 0;
  }
}
