//——————————————————————————————————————————————————————————————————————————————
// Common Design: OCHA mandate
//——————————————————————————————————————————————————————————————————————————————

.cd-mandate {
  width: 100%;

  @include desktop {
    margin: 0;
  }
}

.cd-mandate__logo {
  display: block;
  width: 149px;
  height: 37px;
  margin: 0 auto 16px;
  background: url("../img/logos/ocha-lockup.svg") 0 center no-repeat;

  [dir="rtl"] & {
    background-position: 100% 0;
  }

  .no-svg & {
    background: url("../img/logos/ocha-lockup@149x37.png") 0 center no-repeat;
  }

  @include desktop {
    float: left;
    box-sizing: content-box;
    margin: -4px var(--cd-container-padding) 0 auto;
    padding-right: var(--cd-container-padding);
    border-right: 1px solid $cd-blue-grey;

    [dir="rtl"] & {
      float: right;
      margin: -4px auto 0 var(--cd-container-padding);
      padding-right: 0;
      padding-left: var(--cd-container-padding);
      border-right-width: 0;
      border-left: 1px solid $cd-blue-grey;
    }
  }
}

.cd-mandate__heading {
  display: block;
  margin-bottom: 16px;
  padding: 0 var(--cd-container-padding);

  @include desktop {
    padding: 0;
    text-align: left;

    [dir="rtl"] & {
      text-align: right;
    }
  }
}

.cd-mandate__text {
  display: block;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 var(--cd-container-padding);

  @include desktop {
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-right: var(--cd-container-padding-xlarge);
    padding-left: 173px; // Width of logo.
    text-align: left;

    [dir="rtl"] & {
      padding-right: 173px; // Width of logo.
      padding-left: var(--cd-container-padding-xlarge);
      text-align: right;
    }
  }
}
