<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-article-list.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">
    <ul class="cd-article-list cd-article-list--icon [ cd-flow ]">
      <li>
        <a href="#">
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
          Omnis ut quia animi rerum sit tempore quaerat qui.
        </a>
      </li>

      <li>
        <a href="#">
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
          Dicta consequatur voluptates occaecati nihil consequatur iste suscipit.
        </a>
      </li>

      <li>
        <a href="#">
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
          Labore possimus tempore consequatur nam sunt unde.
        </a>
      </li>
    </ul>

    <ul class="cd-article-list [ cd-flow ]">
      <li>
        <a href="#">
          Omnis ut quia animi rerum sit tempore quaerat qui.
        </a>
      </li>

      <li>
        <a href="#">
          Dicta consequatur voluptates occaecati nihil consequatur iste suscipit.
        </a>
      </li>

      <li>
        <a href="#">
          Labore possimus tempore consequatur nam sunt unde.
        </a>
      </li>
    </ul>

  </div>
</div>
