.cd-filters {
  margin-bottom: 1rem;
}

.cd-filters__btn {
  width: 100%;
  background: var(--cd-light-grey);
  color: var(--cd-dark-grey);
}

.cd-filters__btn svg {
  fill: var(--cd-dark-grey);
}

.cd-filters__btn:hover {
  background: var(--cd-dark-grey);
  color: var(--cd-light-grey);
}

.cd-filters__btn:hover svg {
  fill: var(--cd-white);
}

.cd-filters__btn:focus,
.js-filtersOpen .cd-filters__btn {
  color: var(--cd-white);
  background: var(--cd-dark-grey);
}

.js-filtersOpen .cd-filters__btn svg,
.cd-filters__btn:focus svg {
  fill: var(--cd-white);
}

.js-filtersOpen .cd-filters__btn .cd-icon--arrow-down {
  transform: rotate(180deg);
}

.cd-filters__form {
  display: none;
  background: var(--cd-light-grey);
  width: 100%;
  padding: 1rem;
}

.js-filtersOpen .cd-filters__form {
  display: block;
}

.cd-filters__form label {
  display: block;
  margin: 0 0 0.5rem;
}

.cd-filters__group {
  margin: 0 0 1rem;
}

.cd-filters__form select {
  width: 100%;
  max-width: 100%;
}

.cd-filters__form fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cd-filters__input[type='search'],
.cd-filters__input[type='text'] {
  color: var(--cd-dark-grey);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.cd-filters__input[type='search']:focus,
.cd-filters__input[type='text']:focus {
  outline: 0;
  /* RGBA and custom properties? */
  box-shadow: 0 0 4px rgba(var(--cd-mid-grey), 0.7);
  box-shadow: 0 0 4px var(--cd-highlight-red);
}

.cd-filters__input::-webkit-input-placeholder {
  color: var(--cd-dark-grey);
  font-style: italic;
}

.cd-filters__input::-moz-placeholder {
  color: var(--cd-dark-grey);
  font-style: italic;
}

.cd-filters__input:-ms-input-placeholder {
  color: var(--cd-dark-grey);
  font-style: italic;
}

.cd-filters__input:-moz-placeholder {
  color: var(--cd-dark-grey);
  font-style: italic;
}

.cd-filters__input::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

/* Safari fix */
.cd-filters__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  .cd-filters {
    margin-bottom: 2rem;
  }

  .cd-filters__form {
    display: block;
  }

  .cd-filters__btn.cd-button {
    display: none;
  }

  .cd-filters__form form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .cd-filters__group {
    padding-right: 1rem;
  }

  .cd-export {
    margin-left: auto;
    margin-bottom: 1rem;
    text-align: right;
  }

  /* Quantity queries */
  /* https://alistapart.com/article/quantity-queries-for-css */

  /* If one element */
  .cd-filters__group:only-of-type,
  /* If two elements */
  .cd-filters__group:nth-last-child(2):first-child,
  .cd-filters__group:nth-last-child(2):first-child ~ .cd-filters__group,
  .cd-filters__group:nth-last-child(2):first-child ~ .cd-export,
  /* If three elements */
  .cd-filters__group:nth-last-child(3):first-child,
  .cd-filters__group:nth-last-child(3):first-child ~ .cd-filters__group,
  .cd-filters__group:nth-last-child(3):first-child ~ .cd-export {
    flex: 1 0 33%;
    max-width: 33%;
  }

  .cd-filters__group:nth-last-child(2):first-child ~ .cd-filters__group:last-child,
  .cd-filters__group:nth-last-child(3):first-child ~ .cd-filters__group:last-child {
    padding-right: 0;
  }

  /* If four elements */
  .cd-filters__group:nth-last-child(4):first-child,
  .cd-filters__group:nth-last-child(4):first-child ~ .cd-filters__group,
  .cd-filters__group:nth-last-child(4):first-child ~ .cd-export {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .cd-filters__group:nth-last-child(4):first-child ~ .cd-filters__group:last-child {
    padding-right: 0;
  }

  /* If five elements */
  .cd-filters__group:nth-last-child(5):first-child,
  .cd-filters__group:nth-last-child(5):first-child ~ .cd-filters__group,
  .cd-filters__group:nth-last-child(5):first-child ~ .cd-export {
    flex: 1 0 20%;
    max-width: 20%;
  }

  .cd-filters__group:nth-last-child(5):first-child ~ .cd-filters__group:last-child {
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .cd-filters__btn svg {
    width: 22px;
    height: 22px;
    padding: 0 0 0 4px;
  }

  .cd-filters__btn-text {
    display: block;
  }
}

.no-js .cd-filter__form {
  display: block;
}

.no-js .cd-filter__btn.cd-button {
  display: none;
}
