.cd-list {
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}

.cd-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--cd-site-bg-color);
}

.cd-list__image {
  display: flex;
  align-items: center;
  width: 3rem;
  max-height: 3rem;
  padding-right: 1rem;
}

.cd-list__image svg {
  max-width: 3rem;
  max-height: 3rem;
  fill: var(--cd-ocha-blue);
}

.cd-list__container {
  flex: 1;
  padding-right: 1rem;
}

.cd-list__title {
  margin: 0 0 0.5rem;
}

.cd-list__description {
  margin: 0 0 1rem;
}

.cd-list__date {
  padding: 0 0 1rem;
}

.cd-list__footer {
  flex: 1 0 100%;
  padding-right: 1rem;
}

.cd-list__link {
  text-align: right;
  padding-left: 1rem;
}

.cd-list__link a {
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
}

.cd-list__link:hover,
.cd-list__link:focus {
  text-decoration: underline;
}

.cd-list__link svg {
  fill: var(--cd-highlight-red);
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  margin-left: 1rem;
}


@media (min-width: 576px) {

  .cd-list li {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .cd-list__image {
    width: 4rem;
    max-height: 4rem;
  }

  .cd-list__image svg {
    max-width: 4rem;
    max-height: 4rem;
  }

  .cd-list__date {
    flex: 0 0 50%;
    padding: 0.5rem 1rem 0.5rem 0;
  }

  .cd-list__footer {
    display: flex;
    align-items:center;
    flex: 0 1 auto;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .cd-list__container {
    padding-right: 2rem;
  }
}

@media (min-width: 767px) {
  .cd-layout-sidebar-first .cd-list li {
    flex-wrap: wrap;
  }

  .cd-layout-sidebar-first .cd-list__image {
    width: 3rem;
    max-height: 3rem;
    padding-right: 1rem;
  }

  .cd-layout-sidebar-first .cd-list__footer {
    flex: 1 0 100%;
    display: block;
  }

  .cd-layout-sidebar-first .cd-list__link {
    text-align: right;
    padding-left: 0;
  }
}
