{{ attach_library('common_design/cd-list') }}

<ul class="cd-list">
  <li>
    <div class="cd-list__image">
      <img src="https://via.placeholder.com/100" alt="placeholder image">
    </div>
    <div class="cd-list__container">
      <h3 class="cd-list__title">
        Donec tempus tempus tellus
      </h3>
      <div class="cd-list__description">
        <p>Aliquam nisl enim&hellip; tristique tempus placerat at, posuere in lectus. Aliquam tincidunt velit sit amet <a href='#'>ante hendrerit</a> tempus.</p>
      </div>
      <div class="cd-list__date">
        31 May 2018
      </div>
    </div>
    <div class="cd-list__footer">
      <div class="cd-list__link node__read-more">
        <a href="#" rel="tag">More <span class="visually-hidden">about</span>
          <svg class="cd-icon cd-icon--arrow-right">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </li>

  <li>
    <div class="cd-list__container">
      <h3 class="cd-list__title">
        <a href="#">Aliquam tincidunt velit sit amet ante hendrerit tempus</a>
      </h3>
      <div class="cd-list__description">
        <p>Aliquam nisl enim, tristique tempus placerat at, posuere in lectus. Nunc iaculis risus vel orci ornare dignissim sed vitae nulla. Nulla lobortis tempus commodo? Donec tempus tempus tellus, ac lacinia turpis mattis ac! Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh, iaculis pretium sem orci aliquet mauris.       </p>
      </div>
      <div class="cd-list__date">
        05 Sep 2017
      </div>
    </div>
    <div class="cd-list__footer">
      <div class="cd-list__link node__read-more">
        <a href="#" rel="tag">More <span class="visually-hidden">about</span>
          <svg class="cd-icon cd-icon--arrow-right">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </li>

  <li>
    <div class="cd-list__image">
      <svg class="cd-icon cd-icon--user">
        <use xlink:href="#cd-icon--user"></use>
      </svg>
    </div>
    <div class="cd-list__container">
      <h3 class="cd-list__title">
        Aliquam tincidunt velit sit amet ante hendrerit tempus
      </h3>
      <div class="cd-list__description">
        <p>Nulla vel magna sit &mdash; amet dui lobortis commodo &mdash.</p>
      </div>
      <div class="cd-list__date">
        17 Jan 2017
      </div>
    </div>
    <div class="cd-list__footer">
      <div class="cd-list__link node__read-more">
        <a href="#" rel="tag">More <span class="visually-hidden">about</span>
          <svg class="cd-icon cd-icon--arrow-right">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </li>

</ul>
