.cd-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cd-list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cd-site-bg-color);
}

.cd-list__image {
  display: flex;
  align-items: center;
  max-width: 4rem;
  max-height: 4rem;
}

.cd-list__image--rounded {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 4rem;
  max-height: 4rem;
}

.cd-list__image img {
  width: 100%;
}

.cd-list__image svg {
  width: 100%;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 4rem;
  max-height: 4rem;
  fill: var(--cd-ocha-blue);
}

.cd-list__container {
  flex: 1;
}

.cd-list__footer {
  flex: 1 0 100%;
  margin-top: 1rem;
  text-align: right;
}

@media (min-width: 576px) {

  .cd-list li {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .cd-list__image {
    max-width: 4rem;
    max-height: 4rem;
  }

  .cd-list__image svg {
    max-width: 4rem;
    max-height: 4rem;
  }

  .cd-list__date {
    flex: 0 0 50%;
    padding: 0.5rem 1rem 0.5rem 0;
  }

  .cd-list__footer {
    display: flex;
    align-items:center;
    flex: 0 1 auto;
    padding-right: 0;
    margin-top: 0;
  }
}

@media (min-width: 767px) {
  .cd-layout-sidebar-first .cd-list li {
    flex-wrap: wrap;
  }

  .cd-layout-sidebar-first .cd-list__image {
    width: 3rem;
    max-height: 3rem;
  }

  .cd-layout-sidebar-first .cd-list__footer {
    flex: 1 0 100%;
    display: block;
  }

  .cd-layout-sidebar-first .cd-list__link {
    text-align: right;
    padding-left: 0;
  }
}
