<div class="cd-global-header">
  <div class="cd-container cd-global-header__inner">

    {% block ocha %}
      {% include '@common_design/cd/cd-header/cd-ocha.html.twig' %}
    {% endblock %}

    {{ page.header_top }}

  </div>
</div>
