{% if inline_search %}

  <div class="cd-search--inline">
    <button type="button" id="cd-search-btn" class="cd-search_btn" data-toggle="dropdown" aria-expanded="false" aria-label="Search">
      <svg class="cd-icon cd-icon--search">
        <use xlink:href="#cd-icon--search"></use>
      </svg>
      <span class="cd-search_btn-text">{% trans %}Search{% endtrans %}</span>
    </button>

    {{ page.header_search }}

  </div>

  {% else %}

  <div class="cd-search">
    <button type="button" class="cd-search_btn" data-toggle="dropdown" id="cd-search-btn">
      <svg class="cd-icon cd-icon--search">
        <use xlink:href="#cd-icon--search"></use>
      </svg>
      <span class="cd-search_btn-text">{% trans %}Search{% endtrans %}</span>
    </button>

  {{ page.header_search }}

  </div>

{% endif %}

