<div class="cd-site-header">
  <div class="cd-container cd-site-header__inner">

    {{ page.header_logo }}

    <div class="cd-site-header__actions">

      {{ page.header_search }}

      {% include '@ocha_basic_d8/cd/cd-header/cd-navigation.html.twig' %}

    </div>
  </div>
</div>
