:root {
  --cd-grid--item-size: 4rem;
}

.cd-image-grid > * {
  display: inline-block;
  /* Padding is a 16th of the grid item size */
  padding: calc(var(--cd-grid--item-size, 0.25rem) / 16);
}

@supports (display: flex) {
  .cd-image-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .cd-image-grid > * {
    display: flex;
    flex: 0 0 var(--cd-grid--item-size, 4rem);
    align-items: center;
    justify-content: center;
  }

  /* Prevent img stretching in IE11 */
  .cd-image-grid > * img {
    flex-shrink: 0;
  }
}

.cd-image-grid img,
.cd-image-grid svg {
  width: inherit;
  max-width: var(--cd-grid--item-size, 4rem);
  height: inherit;
  max-height: var(--cd-grid--item-size, 4rem);
}

@supports (display: grid) {
  .cd-image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--cd-grid--item-size, 4rem), 1fr));
    grid-gap: 1rem;
  }
}
