<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-image-grid.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-image-grid">
    <div><img class="" src="https://via.placeholder.com/68" alt=""></div>
    <div><img class="" src="https://via.placeholder.com/296" alt=""></div>
    <div>
      <svg class="icon icon--group">
        <use xlink:href="#group"></use>
      </svg>
    </div>
    <div>
      <svg class="icon icon--doc-default">
        <use xlink:href="#doc-default"></use>
      </svg>
    </div>
    <div><img class="" src="https://via.placeholder.com/320x420" alt=""></div>
    <div><img class="" src="https://via.placeholder.com/50x50" alt=""></div>
    <div>
      <svg class="icon icon--file-json">
        <use xlink:href="#file-json"></use>
      </svg>
    </div>
    <div><img class="" src="https://via.placeholder.com/100" alt=""></div>
    <div><img class="" src="https://via.placeholder.com/48" alt=""></div>
  </div>
</div>
