<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-image-grid.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div>
    <img class="" src="https://via.placeholder.com/68" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/296" alt="thumbnail">
  </div>
  <div>
    <svg class="cd-icon cd-icon--user" width="120" height="120">
      <use xlink:href="#cd-icon--user"></use>
    </svg>
  </div>
  <div>
    <svg class="cd-icon cd-icon--search" width="120" height="120">
      <use xlink:href="#cd-icon--search"></use>
    </svg>
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/320x420" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/50x50" alt="thumbnail">
  </div>
  <div>
    <svg class="cd-icon cd-icon--alert" width="120" height="120">
      <use xlink:href="#cd-icon--alert"></use>
    </svg>
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/100" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/48" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/68" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/296" alt="thumbnail">
  </div>
  <div>
    <svg class="cd-icon cd-icon--user" width="120" height="120">
      <use xlink:href="#cd-icon--user"></use>
    </svg>
  </div>
  <div>
    <svg class="cd-icon cd-icon--search" width="120" height="120">
      <use xlink:href="#cd-icon--search"></use>
    </svg>
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/320x420" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/50x50" alt="thumbnail">
  </div>
  <div>
    <svg class="cd-icon cd-icon--alert" width="120" height="120">
      <use xlink:href="#cd-icon--alert"></use>
    </svg>
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/100" alt="thumbnail">
  </div>
  <div>
    <img class="" src="https://via.placeholder.com/48" alt="thumbnail">
  </div>
</div>
