<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-article-teaser.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">
    <article role="article" class="cd-article-teaser node--view-mode-teaser">

      <div class="cd-article-teaser__image">
        <img src="https://via.placeholder.com/100x120" alt="image example">
      </div>
      <div class="cd-article-teaser__container">
        <h3 class="cd-article-teaser__title">
          <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
        </h3>

        <div class="cd-article-teaser__description node__content">
          <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
        </div>

        <dl class="cd-article-teaser__fields">
          <dt>Document type:</dt>
          <dd>Other</dd>
          <dt>Product category:</dt>
          <dd>Protection from Sexual Abuse and Exploitation</dd>
          <dt>Authoring bodies:</dt>
          <dd>IASC Task Team on Accountability to Affected Populations and Protection from Sexual
Exploitation and Abuse (AAP/PSEA)</dd>
          <dt class="cd-article-list__date">Date</dt>
          <dd>07 Feb 2018</dd>
        </dl>

      </div>
    </article>

    <article role="article" class="cd-article-teaser node--view-mode-teaser">

      <div class="cd-article-teaser__image">
        <img src="https://via.placeholder.com/100x120" alt="image example">
      </div>
      <div class="cd-article-teaser__container">
        <h3 class="cd-article-teaser__title">
          <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
        </h3>

        <div class="cd-article-teaser__description node__content">
          <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
        </div>

        <dl class="cd-article-teaser__fields">
          <dt>Document type:</dt>
          <dd>Other</dd>
          <dt>Product category:</dt>
          <dd>Protection from Sexual Abuse and Exploitation</dd>
          <dt>Authoring bodies:</dt>
          <dd>IASC Task Team on Accountability to Affected Populations and Protection from Sexual
  Exploitation and Abuse (AAP/PSEA)</dd>
          <dt class="cd-article-list__date">Date</dt>
          <dd>07 Feb 2018</dd>
        </dl>

      </div>
    </article>

    <article role="article" class="cd-article-teaser node--view-mode-teaser">

      <div class="cd-article-teaser__container">
        <h3 class="cd-article-teaser__title">
          <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
        </h3>

        <div class="cd-article-teaser__description node__content">
          <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
        </div>

        <dl class="cd-article-teaser__fields">
          <dt>Document type:</dt>
          <dd>Other</dd>
          <dt>Product category:</dt>
          <dd>Protection from Sexual Abuse and Exploitation</dd>
          <dt>Authoring bodies:</dt>
          <dd>IASC Task Team on Accountability to Affected Populations and Protection from Sexual
  Exploitation and Abuse (AAP/PSEA)</dd>
          <dt class="cd-article-list__date">Date</dt>
          <dd>07 Feb 2018</dd>
        </dl>

      </div>
    </article>


  </div>
</div>
