<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-utilities/cd-utilities.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-typography/cd-typography.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-author/cd-author.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-article.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-block-title.css" type="text/css" media=screen>

<div class="cd-page-layout-container">
  <div class="cd-layout-example">
    <h1 class="cd-page-title cd-article__page-title">This is an example article with a sidebar</h1>

    <article class="cd-article">

      <footer class="cd-author">
        <div class="cd-author__content">
          Submitted by
          <span class="cd-author__name">
            <a title="View user profile." href="#" class="username">username</a>
          </span>
          on
          <span class="cd-author__date">19 August 2009</span>
        </div>
      </footer>

      <div class="cd-layout">

        <div class="cd-layout__content">

          <p>This is an example article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue a arcu sed aliquet. Vestibulum pretium lacus dolor, vitae luctus magna rhoncus eget. Fusce suscipit porttitor euismod. Vivamus turpis augue, sagittis ac risus in, dignissim posuere velit. Duis vestibulum dui non tellus luctus dignissim. Cras semper vitae magna vitae egestas. Aliquam erat volutpat. Ut neque arcu, euismod nec laoreet et, scelerisque vel tortor. Integer ut ligula eros. Sed in enim bibendum, dictum metus et, vehicula ante. Aliquam vitae vulputate odio, vel pretium mi. Integer dapibus pharetra eros, at placerat ante bibendum in.</p>

          <p>Etiam fermentum sit amet metus sed hendrerit. Aenean quis hendrerit augue, in congue enim. Aenean at nisi nec tortor mollis vehicula et at nulla. Pellentesque sodales, sapien a congue placerat, enim purus blandit neque, non mattis ex magna eu enim. Maecenas sed lobortis tortor, ut tristique libero. Fusce laoreet eros et tristique hendrerit. Fusce non augue ac libero consequat molestie ac sed diam. Ut sed sodales orci. In hac habitasse platea dictumst. Ut ut justo eget lectus bibendum viverra eu sit amet velit. Vivamus non diam nec lorem pulvinar tempor. Cras non ante libero.</p>

          <ul>
            <li>This is a list item in the main content</li>
            <li>This is another list item</li>
            <li>This is the third list item in the main content</li>
          </ul>

          <p>In hac habitasse platea dictumst. Sed semper metus erat, vel consectetur nisi fermentum sed. Nulla vulputate, ipsum in auctor ullamcorper, sapien erat sollicitudin purus, quis pellentesque magna tortor ac magna. Vivamus massa diam, sollicitudin id fermentum ut, pretium eu tortor. Praesent in tortor velit. Ut a leo quis tortor dignissim ultricies ut vel lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin auctor, mauris eu ultrices porttitor, enim ex ultricies quam, sed lobortis dolor ligula vel lectus. Duis commodo neque a molestie aliquam.</p>

        </div>

        <aside class="cd-layout__sidebar cd-layout__sidebar--first">
          <p>This is a sidebar in the article element.</p>

          <div class="cd-block">
            <h2 class="cd-block-title">This is a block title</h2>
            <ul>
              <li>This is a list item in the sidebar</li>
              <li>This is another list item</li>
              <li>This is the third list item in the sidebar</li>
            </ul>
          </div>
          <div class="cd-block">
            <h2 class="cd-block-title">This is a second block</h2>
            <ul>
              <li>This is a list item in the sidebar</li>
              <li>This is another list item</li>
              <li>This is the third list item in the sidebar</li>
            </ul>
          </div>
        </aside>

      </div>

    </article>

  </div>

  <hr>

  <div class="cd-layout-example">
    <h1 class="cd-page-title cd-article__page-title">This is an example article with a compact sidebar</h1>

    <article class="cd-article">

      <footer class="cd-author">
        <div class="cd-author__content">
          Submitted by
          <span class="cd-author__name">
            <a title="View user profile." href="#" class="username">username</a>
          </span>
          on
          <span class="cd-author__date">19 August 2009</span>
        </div>
      </footer>

      <div class="cd-layout">

        <div class="cd-layout__content">

          <p>This is an example article. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue a arcu sed aliquet. Vestibulum pretium lacus dolor, vitae luctus magna rhoncus eget. Fusce suscipit porttitor euismod. Vivamus turpis augue, sagittis ac risus in, dignissim posuere velit. Duis vestibulum dui non tellus luctus dignissim. Cras semper vitae magna vitae egestas. Aliquam erat volutpat. Ut neque arcu, euismod nec laoreet et, scelerisque vel tortor. Integer ut ligula eros. Sed in enim bibendum, dictum metus et, vehicula ante. Aliquam vitae vulputate odio, vel pretium mi. Integer dapibus pharetra eros, at placerat ante bibendum in.</p>

          <p>Etiam fermentum sit amet metus sed hendrerit. Aenean quis hendrerit augue, in congue enim. Aenean at nisi nec tortor mollis vehicula et at nulla. Pellentesque sodales, sapien a congue placerat, enim purus blandit neque, non mattis ex magna eu enim. Maecenas sed lobortis tortor, ut tristique libero. Fusce laoreet eros et tristique hendrerit. Fusce non augue ac libero consequat molestie ac sed diam. Ut sed sodales orci. In hac habitasse platea dictumst. Ut ut justo eget lectus bibendum viverra eu sit amet velit. Vivamus non diam nec lorem pulvinar tempor. Cras non ante libero.</p>

          <ul>
            <li>This is a list item in the main content</li>
            <li>This is another list item</li>
            <li>This is the third list item in the main content</li>
          </ul>

          <p>In hac habitasse platea dictumst. Sed semper metus erat, vel consectetur nisi fermentum sed. Nulla vulputate, ipsum in auctor ullamcorper, sapien erat sollicitudin purus, quis pellentesque magna tortor ac magna. Vivamus massa diam, sollicitudin id fermentum ut, pretium eu tortor. Praesent in tortor velit. Ut a leo quis tortor dignissim ultricies ut vel lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin auctor, mauris eu ultrices porttitor, enim ex ultricies quam, sed lobortis dolor ligula vel lectus. Duis commodo neque a molestie aliquam.</p>

        </div>

        <aside class="cd-layout__sidebar cd-layout__sidebar--first cd-content--compact">
          <p>This is a sidebar in the article element.</p>

          <div class="cd-block">
            <h2 class="cd-block-title">This is a block title</h2>
            <ul>
              <li>This is a list item in the sidebar</li>
              <li>This is another list item</li>
              <li>This is the third list item in the sidebar</li>
            </ul>
          </div>
          <div class="cd-block">
            <h2 class="cd-block-title">This is a second block</h2>
            <ul>
              <li>This is a list item in the sidebar</li>
              <li>This is another list item</li>
              <li>This is the third list item in the sidebar</li>
            </ul>
          </div>
        </aside>

      </div>

    </article>

  </div>

</div>

