<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-date.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">

    <div class="cd-date">
      <div class="cd-date-day-wrapper">
        <span class="cd-date-day">20</span>
      </div>
      <div class="cd-date-wrapper">
        <span class="cd-date-month">Sep,</span>
        <span class="cd-date-year">2020</span>
      </div>
    </div>

  </div>
</div>
