.cd-date {
  float: left;
  overflow: hidden;
  min-width: 5.5rem;
  text-align: center;
  border: 1px solid var(--cd-blue-grey--light);
  border-radius: 0.25rem;
  background-color: var(--cd-white);
}

.cd-date__wrapper {
  padding: 0 0.5rem;
  background: var(--cd-ocha-blue);
}

.cd-date__day {
  word-spacing: -0.5rem;
  color: var(--cd-white);
  font-size: 3rem;
  font-weight: 700;
}

.cd-date__month,
.cd-date__year {
  text-transform: uppercase;
  color: var(--cd-ocha-blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.cd-date__wrapper + .cd-date__wrapper {
  padding: 0.25rem 0.5rem;
  background: transparent;
}
