{{ attach_library('common_design/cd-date') }}

<div class="cd-date">
  <div class="cd-date__wrapper">
    <span class="cd-date__day">20</span>
  </div>
  <div class="cd-date__wrapper">
    <span class="cd-date__month">Sep</span>
    <span class="cd-date__year">2020</span>
  </div>
</div>
