.cd-date {
  overflow: hidden;
  background-color: var(--cd-white);
  border: 1px solid var(--cd-blue-grey--light);
  text-align: center;
  float: left;
  border-radius: 0.25rem;
  width: 5.5rem;
}

.cd-date-day-wrapper {
  background: var(--cd-ocha-blue);
  padding: 0 0.5rem;
}

.cd-date-day {
  font-size: 3rem;
  color: var(--cd-white);
  font-weight: bold;
}

.cd-date-month,
.cd-date-year {
  color: var(--cd-ocha-blue);
  text-transform: uppercase;
  font-size: 0.875rem;
}

.cd-date-wrapper {
  padding: 0.25rem 0.5rem;
}
