{{ attach_library('common_design/cd-date') }}

<div class="cd-date cd-date-wrapper">
  <div class="cd-date-month-wrapper">
    <span class="cd-date-month">Jul</span>
  </div>
  <div class="cd-date-day-wrapper">
    <span class="cd-date-day">15-16</span>
  </div>
  <div class="cd-date-year-wrapper">
    <small class="cd-date-year">2019</small>
  </div>
</div>

<p style="clear:both"></p>
