{{ attach_library('common_design/cd-date') }}

<div class="cd-date">
  <div class="cd-date-day-wrapper">
    <span class="cd-date-day">20</span>
  </div>
  <div class="cd-date-wrapper">
    <span class="cd-date-month">Sep</span>
    <span class="cd-date-year">2020</span>
  </div>
</div>
