/* https://piccalil.li/cube-css */

/* CUBE CSS is a CSS methodology */
/* orientated towards simplicity, pragmatism and consistency */
/* Composition Utility Block Exception */

.cd-flow > * + * {
  margin-top: var(--cd-flow-space, 1em);
}

[dir='ltr'] .cd-bumper > * + * {
  padding-left: var(--cd-bumper-space, 1em);
}

/*[dir='ltr'] .cd-bumper > *:not(:last-child) {*/
/*  padding-right: var(--cd-bumper-space, 1em);*/
/*}*/

[dir='rtl'] .cd-bumper > * + * {
  padding-right: var(--cd-bumper-space, 1em);
}
