<div class="cd-footer__section cd-footer__section--copyright">
  <div class="cd-footer-copyright">
    <span class="cd-footer-copyright__text">{% trans %}Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a> International license.{% endtrans %}</span>
    <a class="cd-footer-copyright__link" href="https://creativecommons.org/licenses/by/4.0/">
      <span class="visually-hidden">{{ 'Creative Commons BY 4.0'|t }}</span>
      <svg class="cd-icon cd-icon--cc" width="32" height="32" aria-hidden="true" focusable="false">
        <use xlink:href="#cd-icon--creative-commons"></use>
      </svg>
    </a>
  </div>
</div>
