{# Displays the site footer #}

<footer class="cd-footer" role="contentinfo">
  <div class="cd-container cd-footer__inner">

    {% block footer_content %}
      {% include '@common_design/cd/cd-footer/cd-footer-menu.html.twig' %}
      {% include '@common_design/cd/cd-footer/cd-social-menu.html.twig' %}
      {% include '@common_design/cd/cd-footer/cd-mandate.html.twig' %}
      {% include '@common_design/cd/cd-footer/cd-copyright.html.twig' %}
    {% endblock %}

  </div>
</footer>
