<div class="cd-footer__section cd-footer__section--social">

  {% block social_media %}

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">Facebook</span>

    <svg class="cd-icon cd-icon--facebook">
      <use xlink:href="#cd-icon--sm-fb-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--facebook hover-style">
      <use xlink:href="#cd-icon--sm-fb-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">Twitter</span>

    <svg class="cd-icon cd-icon--twitter">
      <use xlink:href="#cd-icon--sm-tt-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--twitter hover-style">
      <use xlink:href="#cd-icon--sm-tt-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">YouTube</span>

    <svg class="cd-icon cd-icon--youtube">
      <use xlink:href="#cd-icon--sm-yt-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--youtube hover-style">
      <use xlink:href="#cd-icon--sm-yt-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">LinkedIn</span>

    <svg class="cd-icon cd-icon--linkedin">
      <use xlink:href="#cd-icon--sm-ln-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--linkedin hover-style">
      <use xlink:href="#cd-icon--sm-ln-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">Instagram</span>

    <svg class="cd-icon cd-icon--instagram">
      <use xlink:href="#cd-icon--sm-ig-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--instagram hover-style">
      <use xlink:href="#cd-icon--sm-ig-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">Github</span>

    <svg class="cd-icon cd-icon--github">
      <use xlink:href="#cd-icon--sm-gh-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--github hover-style">
      <use xlink:href="#cd-icon--sm-gh-full"></use>
    </svg>
  </a>
  {% endblock %}

</div>
