<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-typography/cd-typography.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-tag.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">

    <div class="cd-tags">
      <div class="taxonomy-term vocabulary-tags cd-tag" title="Default Tag">Default</div>
    </div>

    <div class="cd-tags">
      <div class="taxonomy-term vocabulary-tags cd-tag" title="Tag 1 Extended Name">Tag 1</div>
      <div class="taxonomy-term vocabulary-tags cd-tag" title="Tag 2 Extended Name">Tag 2</div>
    </div>

    <div class="cd-tags">
      <div class="taxonomy-term vocabulary-tags cd-tag cd-tag--rounded" title="Rounded Tag">Rounded</div>
    </div>

  </div>
</div>
