//——————————————————————————————————————————————————————————————————————————————
// Button styles
//——————————————————————————————————————————————————————————————————————————————

button,
input[type='submit'] {
  -webkit-appearance: none;
  @include font-size($cd-font-size-base);
  color: $cd-dark-grey;
  background: none;
  border: 0 none;
  box-shadow: none;
  font-family: $cd-font;
}

.btn-primary,
.form-actions input[type='submit'] {
  display: inline-block;
  border-radius: 4px;
  background: $cd-ocha-blue;
  text-transform: uppercase;
  text-decoration: none;
  color: $cd-white;
  padding: $cd-base-unit * 1.5;
  transition: background 0.3s ease;

  &:hover,
  &:focus {
    background: darken($cd-ocha-blue, 10%);
    color: $cd-white;
  }
}

.btn-primary {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
