//——————————————————————————————————————————————————————————————————————————————
// Default table styles
//——————————————————————————————————————————————————————————————————————————————

table {
  width: 100%;
  margin-bottom: $cd-base-unit;

  th,
  td {
    padding: $cd-base-unit;
    background: $cd-light-bluey-grey;
    border-bottom: 1px solid $cd-white;
  }

  th {
    color: $cd-ocha-blue;
    text-transform: uppercase;
    text-align: left;
  }
}
