{#
/**
 * @file
 * Default theme implementation to display the current search string.
 *
 * @todo review template suggestions
 * Accepts suggestions as: facets-source-summary-facet--{facet_id}.
 *
 * Available variables:
 * - label: The label configured by the user.
 * - search_string: The current search string.
 */
#}
{% if is_active %}
  <span class="facet-item__status js-facet-deactivate">
    <span class="visually-hidden">{% trans %}Remove{% endtrans %}</span>
    <span class="facet-api--remove-icon">
      <svg viewBox="0 0 48 48" aria-hidden="true" focusable="false">
        <path d="M29.66,24,45.83,7.83a4,4,0,0,0-5.66-5.66L24,18.34,7.83,2.17A4,4,0,0,0,2.17,7.83L18.34,24,2.17,40.17a4,4,0,0,0,5.66,5.66L24,29.66,40.17,45.83a4,4,0,0,0,5.66-5.66Z"></path>
      </svg>
    </span>
  </span>
{% endif %}
<span class="facet-item__value">{{ value }}</span>
{% if show_count %}
  <span class="facet-item__count">({{ count }})</span>
{% endif %}
