
.cd-teaser {
  --cd-bumper-space: 2em;
  border-bottom: 1px solid var(--cd-site-bg-color);
  padding-bottom: 1rem;
}

.cd-teaser__image {
  display: flex;
  justify-content: center;
}

.cd-teaser__image img {
  /* width: 100%; */
  max-width: 100%;
}

.cd-teaser__container {
  flex: 1 1 0%;
}

.cd-teaser dt {
  font-weight: 600;
}

.cd-teaser dd {
  padding-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .cd-teaser {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cd-teaser__image {
    max-width: 16rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cd-teaser__footer {
    align-self: flex-end;
  }

  .cd-teaser dl {
    display: flex;
    flex-wrap: wrap;
  }

  .cd-teaser dt {
    flex: 0 0 25%;
    width: 25%;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .cd-teaser dd {
    flex: 0 0 75%;
    width: 75%;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .cd-teaser__image {
    max-width: 24rem;
  }
}
