.cd-grid .cd-teaser {
  flex-wrap: wrap;
}

.cd-teaser__image {
  width: 100%;
  padding-bottom: 1rem;
}

.cd-teaser__image img {
  width: 100%;
}

.cd-teaser__container {
  padding: 1rem 1rem 0;
}

.cd-teaser__title {
  margin: 0 0 0.5rem;
}

.cd-teaser__title a {
  font-weight: 600;
  font-size: 1rem;
  display: block;
}

.cd-teaser__description {
  margin: 0 0 1rem;
}

.cd-teaser__date {
  padding: 0 0 1rem;
}

.cd-teaser__footer {
  display: flex;
  align-items: center;
}

.cd-teaser__link {
  text-align: right;
}
