.cd-teaser {
  border-bottom: 1px solid var(--cd-site-bg-color);
  padding-bottom: 1rem;
}

.cd-teaser__image {
  max-width: 6rem;
}

.cd-teaser__image img {
  width: 100%;
  max-width: 100%;
}

.cd-teaser__container {
  flex: 1;
}

.cd-teaser__image + .cd-teaser__container {
  /* padding: 0 1rem 0 7rem; */
}

.cd-teaser__title {
  /* margin: 0 0 0.5rem; */
}

/* .cd-teaser__title a {
  font-weight: 600;
  font-size: 1rem;
} */

.cd-teaser__description {
  /* margin: 0 0 1rem; */
}

.cd-teaser dt {
  font-weight: 600;
}

.cd-teaser dd {
  padding-bottom: 0.5rem;
}

@media (min-width: 576px) {

  .cd-teaser {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cd-teaser__image {
    max-width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cd-teaser__footer {
    align-self: flex-end;
  }

  .cd-teaser dl {
    display: flex;
    flex-wrap: wrap;
  }

  .cd-teaser dt {
    flex: 0 0 25%;
    width: 25%;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .cd-teaser dd {
    flex: 0 0 75%;
    width: 75%;
    margin-left: auto;
  }
}
