<link rel=stylesheet href="../cd-grid/cd-grid.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-teaser.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container cd-grid">
    <article role="article" class="cd-teaser node--view-mode-teaser">

      <div class="cd-teaser__image">
        <img src="https://via.placeholder.com/320x240" alt="banner image example">
      </div>
      <div class="cd-teaser__container">
        <div class="cd-teaser__date">
          30 Jul 2019
        </div>

        <h3 class="cd-teaser__title">
          <a href="#" rel="bookmark">Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh</a>
        </h3>

        <div class="cd-teaser__description node__content">
          <p>Sed dapibus, lectus sit amet adipiscing egestas, mauris est viverra nibh (iaculis pretium sem orci aliquet mauris). Nulla auctor eleifend turpis consequat pharetra. Nulla vel magna sit amet dui lobortis commodo vitae vel nulla sit amet ante hendrerit tempus. Donec a congue leo? </p>
        </div>
      </div>

    </article>


    <div>Grid item</div>
    <div>Grid item</div>
    <div>Grid item</div>

  </div>
</div>
