table {
  width: 100%;
  margin-bottom: 1rem;
}

caption {
  margin-bottom: 0.5rem;
}

th {
  text-align: left;
}

th,
td {
  padding: 0 0.25rem 0 0;
}

th.hidden,
td.hidden {
  display: none;
}

.cd-table {
  margin: 0 auto 1rem;
  border-collapse: collapse;
  width: 100%;
}

.cd-table caption {
  margin-top: 1rem;
  margin-bottom: 0;
  caption-side: bottom;
  text-align: left;
  background: var(--cd-blue-grey);
  padding: 0.25rem 0.5rem;
}

.cd-table th,
.cd-table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: bottom;
}

.cd-table td:not(:empty) {
  min-width: 6rem;
}

.cd-table th {
  color: var(--cd-ocha-blue);
  border-bottom: 1px solid white;
  background: var(--cd-blue-grey);
}

.cd-table td  {
  border-bottom: 1px solid var(--cd-blue-grey);
}

.cd-table a {
  word-break: break-word;
}

@media (min-width: 576px) {
  .cd-table th[data-sort-type="numeric"],
  .cd-table td[class*="amount"] {
    text-align: right;
    white-space: nowrap;
  }
}

*[class*="total"] {
  font-weight: bold;
}

.cd-table--date {
  font-weight: bold;
}

.cd-table tfoot {
  font-weight: bold;
}

/* Row numbers */
.cd-table--row-numbers {
  counter-reset: rowNumber;
}

.cd-table--row-numbers tbody tr {
  counter-increment: rowNumber;
}

.cd-table--row-numbers tbody tr td.cd-table--row-num:first-child::before {
  content: counter(rowNumber);
  min-width: 1rem;
  margin-right: 0.5rem;
  font-weight: normal;
}

/* Striping */
.cd-table--striped tr:nth-child(odd) {
  background: white;
}

.cd-table--striped tr:nth-child(even) {
  background: var(--cd-grey--light);
}

/* Row that looks like a heading */
td.cd-table--row-heading {
  padding: 2rem 0.25rem 0.25rem;
  font-weight: bold;
  border-bottom: 2px solid var(--cd-ocha-blue);
}

/* Readmore link with SVG icon */
.cd-table .cd-table--readmore:not(:empty)  {
  min-width: unset;
}

.cd-table--readmore svg {
  width: 1rem;
  height: 1rem;
  fill: var(--cd-ocha-blue);
}

.cd-table--readmore svg:hover {
  fill: var(--cd-blue--dark);
}
