{{ attach_library('common_design/cd-table') }}

<h1>Example styled table</h1>
<table class="cd-table row-numbers cd-table--responsive cd-table--striped">
  <caption>This is the table caption</caption>
  <thead>
  <tr>
    <th data-sort-type="disabled" class="cd-table--row-num"></th>
    <th data-sort-type="alfa" data-sort-order="ASC" class="cd-table--name">Name</th>
    <th data-sort-type="alfa" data-sort-order="" class="cd-table--type">Type</th>
    <th data-sort-type="numeric" data-sort-order="" class="cd-table--amount">Paid</th>
    <th data-sort-type="numeric" data-sort-order="" class="cd-table--amount">Pledged</th>
    <th data-sort-type="numeric" data-sort-order="" class="cd-table--amount">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="cd-table--row-num"></td>
    <td class="cd-table--name">This Name</td>
    <td class="cd-table--type"><a href="#">This Type that is also a link</a></td>
    <td class="cd-table--amount">1,000,000</td>
    <td class="cd-table--amount">0</td>
    <td class="cd-table--amount-total">1,000,000</td>
  </tr>
  <tr>
    <td class="cd-table--row-num"></td>
    <td class="cd-table--name">That Name</td>
    <td class="cd-table--type">That Type</td>
    <td class="cd-table--amount">1,000,000</td>
    <td class="cd-table--amount">500,000</td>
    <td class="cd-table--amount-total">1,500,000</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">Total</td>
    <td data-content="Paid" class="cd-table--amount-total">2,000,000</td>
    <td data-content="Pledged" class="cd-table--amount-total">500,000</td>
    <td data-content="Total" class="cd-table--amount-total">2,500,000</td>
  </tr>
  </tfoot>
</table>


<h1>Example simple table</h1>
<table>
  <caption>This is the table caption</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Paid</th>
    <th>Pledged</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>This Name</td>
    <td><a href="#">This Type that is also a link</a></td>
    <td>1,000,000</td>
    <td>0</td>
    <td>1,000,000</td>
  </tr>
  </tbody>
</table>
