/**
 * CD Card Clickable
 */

/**
 * Card container
 */
.cd-card-clickable {
  height: 100%;
  border: 1px solid var(--brand-grey);

  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

/**
 * Card title
 */
.cd-card-clickable__title {
  margin-inline: 1rem;
  font-size: var(--cd-font-size--base);
  font-weight: 700;
}

/**
 * Card summary text
 */
.cd-card-clickable__summary {
  margin-block-start: 0;
  margin-inline: 1rem;
}

/**
 * Clickable element
 *
 * The hyperlink within the title of each card uses an invisible pseudo-element
 * that stretches over the top of each card so that the entire surface is
 * clickable/tappable. It ensures fewer redundant elements, and by using the
 * hyperlinked Card Title instead of a generic "read more" link, we gain a11y
 * and UX benefits associated with descriptive inner-text, e.g. screen readers,
 * or when the mouse pointer is used to hover or drag the card.
 *
 * Therefore we will unset the properties of the title link and make it look
 * like plain text. We even do this for hover/focus because the card itself will
 * sport those styles.
 */
.cd-card-clickable__link {
  color: inherit;
  text-decoration: none;
}

.cd-card-clickable__link:hover {
  color: inherit;
}

.cd-card-clickable__link:focus {
  color: inherit;
  outline: none;
}

/* Create and style the clickable pseudo-element. */
.cd-card-clickable__link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Provide hover/focus styles on clickable pseudo-element. */
.cd-card-clickable__link:hover::after {
  outline: 3px solid var(--brand-grey);
}

.cd-card-clickable__link:focus::after,
.cd-card-clickable__link:active::after {
  outline: 3px solid black;
}

/**
 * Card image
 *
 * Images appear first in visual order, but for a11y/UX reasons should appear
 * below the title/text in HTML source order. We move it using Flexbox.
 */
.cd-card-clickable > .field--type-image {
  order: -1;
  line-height: 0;
}

.cd-card-clickable > .field--type-image img {
  width: 100%;
}
