//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  width: 52px;

  // Logo for mobile.
  // sass-lint:disable no-duplicate-properties
  @include max-width(md) {
    background: url('../img/logos/ocha-logo-blue@53x37.png') center no-repeat;
    background: linear-gradient(transparent, transparent), url('../img/logos/ocha-logo-blue.svg') center no-repeat;
  }

  @include tablet {
    width: 186px; // width may need to be adjusted depending on logo width.
  }
}
