.cd-read-more {
  display: block;
  font-size: 0.875rem;
}

.cd-read-more svg {
  width: 0.5rem;
  height: 0.5rem;
  fill: var(--brand-primary);
}

[dir="rtl"] .cd-read-more svg {
  transform: scale(-1, 1);
}
