//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

//—— Web Fonts —————————————————————————————————————————————————————————————————
/*! system-font.css v2.0.2 | CC0-1.0 License | github.com/jonathantneal/system-font-css */
@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-Light"),
    local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Light"),
    local("Ubuntu Light"),
    local("Roboto-Light"),
    local("DroidSans"),
    local("Tahoma");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-LightItalic"),
    local(".HelveticaNeueDeskInterface-Italic"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Light Italic"),
    local("Ubuntu Light Italic"),
    local("Roboto-LightItalic"),
    local("DroidSans"),
    local("Tahoma");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-Regular"),
    local(".HelveticaNeueDeskInterface-Regular"),
    local(".LucidaGrandeUI"),
    local("Segoe UI"),
    local("Ubuntu"),
    local("Roboto-Regular"),
    local("DroidSans"),
    local("Tahoma");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-Italic"),
    local(".HelveticaNeueDeskInterface-Italic"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Italic"),
    local("Ubuntu Italic"),
    local("Roboto-Italic"),
    local("DroidSans"),
    local("Tahoma");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-Medium"),
    local(".HelveticaNeueDeskInterface-MediumP4"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Semibold"),
    local("Ubuntu Medium"),
    local("Roboto-Medium"),
    local("DroidSans-Bold"),
    local("Tahoma Bold");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-MediumItalic"),
    local(".HelveticaNeueDeskInterface-MediumItalicP4"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Semibold Italic"),
    local("Ubuntu Medium Italic"),
    local("Roboto-MediumItalic"),
    local("DroidSans-Bold"),
    local("Tahoma Bold");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-Bold"),
    local(".HelveticaNeueDeskInterface-Bold"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Bold"),
    local("Ubuntu Bold"),
    local("Roboto-Bold"),
    local("DroidSans-Bold"),
    local("Tahoma Bold");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src:
    local(".SFNSText-BoldItalic"),
    local(".HelveticaNeueDeskInterface-BoldItalic"),
    local(".LucidaGrandeUI"),
    local("Segoe UI Bold Italic"),
    local("Ubuntu Bold Italic"),
    local("Roboto-BoldItalic"),
    local("DroidSans-Bold"),
    local("Tahoma Bold");
  font-weight: 700;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--cd-default-text-color);
  font-family: var(--cd-font--roboto);
  font-weight: 500;
  line-height: 1.2;

  .cd-content--spacious & {
    margin: 2em 0 .5em 0;
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;

  .cd-content--spacious & {
    margin-top: 0;
  }
}

h1 {
  color: var(--cd-default-text-color);
  font-size: var(--cd-font-size--2xbase);
  font-weight: 700;

  .cd-content--spacious & {
    font-size: var(--cd-font-size--2xmedium);
    margin: 1.5em 0 .75em 0;

    @include desktop {
      font-size: var(--cd-font-size--2xlarge);
    }
  }
}

h2 {
  font-size: var(--cd-font-size--2xbase);

  .cd-content--spacious & {
    font-size: var(--cd-font-size--2xbase);

    @include desktop {
      font-size: var(--cd-font-size--2xmedium);
    }
  }
}

h3 {
  font-size: var(--cd-font-size--large);

  .cd-content--spacious & {
    font-size: var(--cd-font-size--large);

    @include desktop {
      font-size: var(--cd-font-size--2xbase);
    }
  }
}

h4 {
  font-size: var(--cd-font-size--medium);

  .cd-content--spacious & {
    font-size: var(--cd-font-size--medium);

    @include desktop {
      font-size: var(--cd-font-size--large);
    }
  }
}

h5 {
  font-size: var(--cd-font-size--base);

  .cd-content--spacious & {
    font-size: var(--cd-font-size--base);

    @include desktop {
      font-size: var(--cd-font-size--medium);
    }
  }
}

h6 {
  font-size: var(--cd-font-size--ref);

  .cd-content--spacious & {
    font-size: var(--cd-font-size--ref);

    @include desktop {
      font-size: var(--cd-font-size--base);
    }
  }
}

a {
  color: var(--brand-primary--dark);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--brand-primary);
  }
}

ol {
  list-style: decimal;
}

ol,
dl {
  margin-bottom: 1rem;
}

@include tablet {
  ol,
  dl {
    margin-bottom: 1.5rem;
  }
}

.cd-content--spacious ol,
.cd-content--spacious ul {
  margin: 1.5em 0;
}

.cd-content--spacious {
  dl dt,
  dl dd,
  ol li + li,
  ul li + li {
    margin-top: calc(var(--cd-font-size--ref) / 2);
  }
}

.cd-content--spacious p {
  line-height: 1.75;
}

em {
  font-style: italic;
}

.cd-content--spacious strong {
  font-weight: 900;
}

// The Unarticulated Annotation.
u {
  text-decoration: none;
  font-weight: 700;
}
