//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

//—— Web Fonts —————————————————————————————————————————————————————————————————
/*! system-font.css v2.0.2 | CC0-1.0 License | github.com/jonathantneal/system-font-css */
@font-face {
  font-family: system-ui;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: system-ui;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
  font-weight: 700;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $cd-default-text-color;
  font-family: $cd-font--roboto;
  font-weight: 500;
  line-height: 1.2;
}

[lang="ar"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $cd-font--noto-kufi-arabic;
    font-weight: 400;
  }
}

[lang="ru"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $cd-font--noto-sans;
    font-weight: 400;
  }
}

// @TODO ZH might need special attention.
[lang="zh-hans"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $cd-font--noto-sc;
    font-weight: 400;
  }
}

h1 {
  color: $cd-default-text-color;
  font-size: $cd-font-size--2xmedium;
  font-weight: 700;

  @include desktop {
    font-size: $cd-font-size--2xlarge;
  }
}

ol,
dl {
  margin-bottom: 1rem;
}

@include tablet {
  ol,
  dl {
    margin-bottom: 1.5rem;
  }
}

h2 {
  font-size: $cd-font-size--2xbase;

  @include desktop {
    font-size: $cd-font-size--2xmedium;
  }
}

h3 {
  font-size: $cd-font-size--large;

  @include desktop {
    font-size: $cd-font-size--2xbase;
  }
}

h4 {
  font-size: $cd-font-size--medium;

  @include desktop {
    font-size: $cd-font-size--large;
  }
}

h5 {
  font-size: $cd-font-size--base;

  @include desktop {
    font-size: $cd-font-size--medium;
  }
}

h6 {
  font-size: 1rem;

  @include desktop {
    font-size: $cd-font-size--base;
  }
}

a {
  color: $cd-blue--dark;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $cd-ocha-blue;
  }
}

ol {
  list-style: decimal;
}

em {
  font-style: italic;
}

// The Unarticulated Annotation.
u {
  text-decoration: none;
  font-weight: 700;
}
