//——————————————————————————————————————————————————————————————————————————————
// Typography
//——————————————————————————————————————————————————————————————————————————————

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-weight: bold;
  color: $cd-ocha-blue;
}

h1 {
  color: $cd-ocha-blue;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
ol,
dl {
  margin-bottom: $cd-base-unit;
}


h4,
h5 {
  font-weight: 400;
}

.page-title {
  padding-bottom: $cd-base-unit * 1.5;
  border-bottom: 1px solid $cd-mid-bluey-grey;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: $cd-default-text-color;

  @include sm {
    font-size: 2.5rem;
  }
}

a {
  color: $cd-dark-blue;

  &:hover,
  &:focus {
    color: $cd-ocha-blue;
    text-decoration: none;
  }
}

ol {
  list-style: decimal;
}

em {
  font-style: italic;
}

u {
  text-decoration: none;
  font-weight: bold;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: $cd-base-unit;
}

@include min-width(sm) {

  h2 {
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  ol,
  dl {
    margin-bottom: $cd-base-unit * 2;
  }
}
