.cd-filter {
  margin-bottom: 1rem;
}

.cd-filter__btn {
  width: 100%;
  background: var(--cd-grey--light);
  color: var(--cd-grey--dark);
}

.cd-filter__btn svg {
  fill: var(--cd-grey--dark);
}

.cd-filter__btn:hover {
  background: var(--cd-grey--dark);
  color: var(--cd-grey--light);
}

.cd-filter__btn:hover svg {
  fill: var(--cd-white);
}

.cd-filter__btn:focus {
  color: var(--cd-white);
  background: var(--cd-grey--dark);
}

.cd-filter__btn:focus svg {
  fill: var(--cd-white);
}

.cd-filter__form {
  background: var(--cd-grey--light);
  width: 100%;
  padding: 1rem;
}

.cd-filter__form label {
  display: block;
  margin: 0 0 0.5rem;
}

.cd-filter__group {
  margin: 0 0 1rem;
}

.cd-filter__form select {
  width: 100%;
  max-width: 100%;
}

.cd-filter__form fieldset ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cd-filter__input[type='search'],
.cd-filter__input[type='text'] {
  color: var(--cd-grey--dark);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.cd-filter__input[type='search']:focus,
.cd-filter__input[type='text']:focus {
  outline: 0;
  /* RGBA and custom properties? */
  box-shadow: 0 0 4px rgba(var(--cd-grey--mid), 0.7);
  box-shadow: 0 0 4px var(--cd-highlight-red);
}

.cd-filter__input::-webkit-input-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-filter__input::-moz-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-filter__input:-ms-input-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-filter__input:-moz-placeholder {
  color: var(--cd-grey--dark);
  font-style: italic;
}

.cd-filter__input::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

/* Safari fix */
.cd-filter__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media (min-width: 768px) {
  .cd-filter {
    margin-bottom: 2rem;
  }

  .cd-filter__form form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .cd-filter__group {
    padding-right: 1rem;
  }

  .cd-export {
    margin-left: auto;
    margin-bottom: 1rem;
    text-align: right;
  }

  /* Quantity queries */
  /* https://alistapart.com/article/quantity-queries-for-css */

  /* If one element */
  .cd-filter__group:only-of-type,
  /* If two elements */
  .cd-filter__group:nth-last-child(2):first-child,
  .cd-filter__group:nth-last-child(2):first-child ~ .cd-filter__group,
  .cd-filter__group:nth-last-child(2):first-child ~ .cd-export,
  /* If three elements */
  .cd-filter__group:nth-last-child(3):first-child,
  .cd-filter__group:nth-last-child(3):first-child ~ .cd-filter__group,
  .cd-filter__group:nth-last-child(3):first-child ~ .cd-export {
    flex: 1 0 33%;
    max-width: 33%;
  }

  .cd-filter__group:nth-last-child(2):first-child ~ .cd-filter__group:last-child,
  .cd-filter__group:nth-last-child(3):first-child ~ .cd-filter__group:last-child {
    padding-right: 0;
  }

  /* If four elements */
  .cd-filter__group:nth-last-child(4):first-child,
  .cd-filter__group:nth-last-child(4):first-child ~ .cd-filter__group,
  .cd-filter__group:nth-last-child(4):first-child ~ .cd-export {
    flex: 1 0 25%;
    max-width: 25%;
  }

  .cd-filter__group:nth-last-child(4):first-child ~ .cd-filter__group:last-child {
    padding-right: 0;
  }

  /* If five elements */
  .cd-filter__group:nth-last-child(5):first-child,
  .cd-filter__group:nth-last-child(5):first-child ~ .cd-filter__group,
  .cd-filter__group:nth-last-child(5):first-child ~ .cd-export {
    flex: 1 0 20%;
    max-width: 20%;
  }

  .cd-filter__group:nth-last-child(5):first-child ~ .cd-filter__group:last-child {
    padding-right: 0;
  }
}

/*This is needed for IE11
No support for CSS custom properties means
--dropdown: false; property on filter container is not recognised
so the cd-dropdown.js creates a toggler button on desktop
This hides it when that happens.*/
@media (min-width: 768px) and (-ms-high-contrast: none) {
  .cd-filter__btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  .cd-filter__btn svg {
    width: 22px;
    height: 22px;
    padding: 0 0 0 4px;
  }

  .cd-filter__btn-text {
    display: block;
  }
}

.no-js .cd-filter__form {
  display: block;
}
