{{ attach_library('common_design/cd-button') }}

<button type="button" class="cd-button">
  <span class="cd-button__text">Button</span>
</button>

<p></p>

<button type="button" class="cd-button cd-button--style">
  <span class="cd-button__text">Button</span>
</button>

<p></p>

<button type="button" class="cd-button cd-button--style cd-button--icon">
  <svg class="cd-icon cd-icon--creative-commons">
    <use xlink:href="#cd-icon--creative-commons"></use>
  </svg>
  <span class="cd-button__text">Button</span>
</button>

<p></p>
