.cd-card {
  display: flex;
  flex-direction: column;
  /* Override grid background color from grid */
  background-color: var(--cd-white) !important;
  border: 2px solid var(--cd-site-bg-color);
}

.cd-card__image img {
  display: block;
  width: 100%;
}

/* For IE 11 and 15 when cd-object-fit.js is in use */
.cd-ie-object-fit {
  background-size: cover;
  background-position: center center;
  height: 205px;
}

.cd-ie-object-fit img {
/*hide image if object fit is not supported - opacity to 0 for the link area*/
  opacity: 0;
}

@supports (object-fit: cover) {
  .cd-card__image img {
    height: 205px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.cd-card__image--rounded {
  min-width: 105px;
  min-height: 105px;
  max-width: 205px;
  max-height: 205px;
  margin-top: 1rem;
}

.cd-card__image + .cd-card__container {
  padding: 1rem 2rem;
}

.cd-card__container {
  flex-grow: 1;
  padding: 2rem 2rem 1rem;
}

.cd-card__footer {
  flex-shrink: 0;
  padding: 0 2rem 2rem;
}

.cd-card__title {
  margin: 0 0 1rem;
}

.cd-card__title a {
  font-weight: 600;
  font-size: 1rem;
  display: block;
}

.cd-card__description p:last-child {
  margin-bottom: 0;
}

.cd-card__link {
  padding: 1rem 0 0;
  border-top: 1px solid var(--cd-site-bg-color);
}
