/**
 * CD Card
 *
 * Is capable of several variants:
 *  - Optional image
 *  - Image can be rectangular or rounded
 *  - Optional footer
 */


/**
 * Card container
 */
.cd-card {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid var(--brand-grey);
  background-color: var(--cd-white);
}

/**
 * Card image
 */
.cd-card__image img {
  width: 100%;
  height: 13rem;
}

@supports (object-fit: cover) {
  .cd-card__image img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.cd-card__image--rounded {
  min-width: 7rem;
  min-height: 7rem;
  max-width: 13rem;
  max-height: 13rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.cd-card__image + .cd-card__container {
  padding: 1rem 2rem;
}

/**
 * Card contents
 */
.cd-card__container {
  flex-grow: 1;
  padding: 2rem 2rem 1rem;
}

.cd-card__title,
.cd-card__title a {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.cd-card__description p:last-child {
  margin-bottom: 0;
}

/**
 * Card footer
 */
.cd-card__footer {
  flex-shrink: 0;
  padding: 0 2rem 2rem;
}

.cd-card__link {
  padding: 1rem 0 0;
  border-top: 1px solid var(--brand-grey);
}
