/**
 * CD Page Title
 */

.cd-page-title {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--brand-grey);
}

.cd-page-title--landing {
  text-transform: uppercase;
  font-size: var(--cd-font-size--2xbase);
  font-weight: 700;
}
