{{ attach_library('common_design/cd-page-title') }}
{{ attach_library('common_design/cd-utilities') }}

<h1 class="cd-page-title cd-page-title--landing cd-align--center">
  Landing page title
</h1>

<hr>

<h1 class="cd-page-title">
  This is an example of an article page title
</h1>
