:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   */
  --brand-primary: var(--cd-ocha-blue);
  --brand-primary--light: var(--cd-blue--bright);
  --brand-primary--dark: var(--cd-blue--dark);
  --brand-highlight: var(--cd-highlight-red);
  --brand-grey: var(--cd-blue-grey);

  /**
   * Site logos
   *
   * Specify the logo dimensions here. To change the image URL, edit this file:
   *
   * @see common_design_subtheme/libraries/cd/cd-header/cd-logo.css
   */
  --brand-logo-mobile-width: 52px;
  --brand-logo-desktop-width: 186px;

  /* DEPRECATED: this variable will be removed in the future */
  --brand-logo-width: var(--brand-logo-desktop-width);
}
