:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the entire CD Header/Footer plus all Components in
   * the design system will re-color themselves to your brand.
   */
  --brand-primary: var(--cd-ocha-blue);
  --brand-primary-light: var(--cd-blue--bright);
  --brand-primary-dark: var(--cd-blue--dark);
  --brand-highlight: var(--cd-highlight-red);
  --brand-grey: var(--cd-blue-grey);
  --brand-logo-width: 186px;
}
