<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-typography.css" type="text/css" media=screen>


<div class="cd-page-layout-container">
  <main role="main" id="main-content" class="cd-layout cd-container">
    <div class="cd-layout__content">

      <article class="cd-article cd-max-width">
        <h1 class="cd-page-title cd-article__page-title">This is a sample of text</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <p>Maecenas vulputate purus eu rutrum faucibus. Duis vehicula leo felis, at ullamcorper dolor gravida sed. Donec eget posuere arcu, quis ultricies turpis. Nunc eget risus tortor. Quisque a urna odio. Maecenas sagittis, ex nec pellentesque molestie, enim turpis sagittis lorem, vel tempus lacus purus nec purus. Fusce ut erat id ipsum egestas porttitor.</p>

        <ul>
          <li>Duis vehicula, ex vitae semper iaculis</li>
          <li>justo nulla dictum neque</li>
          <li>sit amet tristique nibh orci at dui</li>
        </ul>

        <p>Nam et tellus non velit elementum condimentum vitae semper tortor. Praesent vitae porttitor ante. Donec rutrum magna sed enim gravida sagittis.</p>

        <h1>This is heading 1 (30px, 38px desktop)</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <h2>This is heading 2 (30px)</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <h3>This is heading 3 (26px)</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <h4>This is heading 4 (22px)</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <h5>This is heading 5 (18px)</h5>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <h6>This is heading 6 (16px)</h6>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor leo risus, in consequat ipsum viverra eget. Vivamus non auctor nisi, et commodo diam. Sed aliquet lectus nec nulla pretium lacinia. Vestibulum maximus urna in aliquet eleifend. Nunc eu mi euismod, viverra lacus non, mollis augue. Praesent dignissim sollicitudin elit id efficitur. In ultricies est ex, in imperdiet lacus faucibus ut. Suspendisse fermentum iaculis facilisis. Cras dapibus convallis urna, et placerat elit sagittis eget.</p>

        <blockquote>Maecenas vulputate purus eu rutrum faucibus. Duis vehicula leo felis, at ullamcorper dolor gravida sed. Donec eget posuere arcu, quis ultricies turpis. Nunc eget risus tortor. Quisque a urna odio. Maecenas sagittis, ex nec pellentesque molestie, enim turpis sagittis lorem, vel tempus lacus purus nec purus. Fusce ut erat id ipsum egestas porttitor.</blockquote>

        <p>Morbi lobortis tellus lacinia est accumsan maximus et eget felis. Etiam sollicitudin sapien quis varius finibus. Suspendisse feugiat auctor sapien, suscipit accumsan ex pharetra vitae. Nulla porttitor imperdiet dictum. Aliquam purus magna, consequat ut efficitur et, tempor sit amet leo. Donec scelerisque tellus eu lectus placerat, vitae congue dui laoreet. Fusce eget velit rutrum, dapibus ipsum eu, auctor massa. Aenean tempus risus nec nisl scelerisque gravida. Phasellus neque nisl, bibendum ac velit ac, suscipit aliquam quam. Donec ut est eget nisl fermentum tincidunt et ac arcu. Nulla tempus orci vitae justo sodales, sit amet imperdiet sem vestibulum. </p>

        <p>Morbi lobortis tellus lacinia est accumsan maximus et eget felis. Etiam sollicitudin sapien quis varius finibus. Suspendisse feugiat auctor sapien, suscipit accumsan ex pharetra vitae. Nulla porttitor imperdiet dictum. Aliquam purus magna, consequat ut efficitur et, tempor sit amet leo. Donec scelerisque tellus eu lectus placerat, vitae congue dui laoreet. Fusce eget velit rutrum, dapibus ipsum eu, auctor massa. Aenean tempus risus nec nisl scelerisque gravida. Phasellus neque nisl, bibendum ac velit ac, suscipit aliquam quam. Donec ut est eget nisl fermentum tincidunt et ac arcu. Nulla tempus orci vitae justo sodales, sit amet imperdiet sem vestibulum. </p>

        <ol>
          <li>Example point one</li>
          <li>Example point two</li>
          <li>Example point three</li>
        </ol>

        <p>Maecenas vulputate purus eu rutrum faucibus. Duis vehicula leo felis, at ullamcorper dolor gravida sed. Donec eget posuere arcu, quis ultricies turpis. Nunc eget risus tortor. Quisque a urna odio. Maecenas sagittis, ex nec pellentesque molestie, enim turpis sagittis lorem, vel tempus lacus purus nec purus. Fusce ut erat id ipsum egestas porttitor.</p>

        <h3>Definition list</h3>
        <dl>
          <dt>Beast of Bodmin</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>Morgawr</dt>
          <dd>A sea serpent.</dd>

          <dt>Owlman</dt>
          <dd>A giant owl-like creature.</dd>
        </dl>

      </article>

    </div>
  </main>
</div>
