article p,
.cd-max-width {
  max-width: var(--cd-max-content-width);
}

hr {
  margin: 3.5rem auto;
  border: none;
  border-top: 2px solid var(--cd-grey--light);
  max-width: var(--cd-max-content-width);
}

blockquote {
  margin: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #707070;
}
