/**
 * Class to allow the content to bleed to the edges of the body.
 */
:root {
  /* This will be set up by javascript after the document is loaded as we cannot
   * determine it via css only... */
  /* stylelint-disable-next-line length-zero-no-unit */
  --cd-bleed-scrollbar-width: 0px;
}

/**
 * Bleed the content and the background if any.
 */
.cd-bleed {
  margin-right: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  margin-left: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
}

/**
 * Bleed the background only.
 */
.cd-bleed--background-only {
  position: relative;
  z-index: 1;
  background-color: var(--cd-ocha-blue);
}

.cd-bleed--background-only:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin-right: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  margin-left: calc(50% - 50vw + var(--cd-bleed-scrollbar-width) / 2);
  content: "";
  background-color: inherit;
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  /* Avoid overflow due to scrollbars */
  body {
    overflow-x: hidden;
  }
}
