{{ attach_library('common_design/cd-banner') }}
{{ attach_library('common_design/cd-caption') }}
{{ attach_library('common_design/cd-bleed') }}

<div class="cd-banner">
  <img class="cd-banner__image" src="https://via.placeholder.com/1920x687" alt="banner placeholder">
</div>
<div class="cd-caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>

<hr/>
<div class="cd-banner cd-bleed">
  <img class="cd-banner__image" src="https://via.placeholder.com/1920x687" alt="banner placeholder">
</div>
<div class="cd-caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>

<hr/>

<div class="cd-banner cd-bleed cd-bleed--background-only">
  <img class="cd-banner__image" src="https://via.placeholder.com/1280x400" alt="banner placeholder">
</div>
<div class="cd-caption">
  Cras molestie risus a enim convallis vitae luctus libero lacinia
</div>

