{% embed 'page.html.twig' %}

  {% block main %}
    <main role="main" class="cd-container">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="cd-layout-content">
        <h1 class="page-title">404</h1>
        <p>{% trans %}Sorry, the page you are looking for cannot be found.{% endtrans %}</p>
      </div>{# /.layout-content #}

    </main>
  {% endblock %}

{% endembed %}



