{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-byline') }}

<div class="cd-byline">
  <div class="cd-byline__wrapper cd-max-width [ cd-bumper ]">

    <div class="cd-byline__image cd-byline__image--rounded">
      <img src="/themes/contrib/common_design/components/cd-byline/mark-lowcock.jpg" alt="Mark Lowcock">
    </div>

    <div class="cd-byline__content">
      <div class="cd-byline__name">Mark Lowcock</div>

      <div class="cd-byline__text">Under-Secretary-General for Humanitarian Affairs and Emergency Relief Coordinator, United Nations</div>
    </div>
  </div>
</div>
