{{ attach_library('common_design/cd-flow') }}
{{ attach_library('common_design/cd-utilities') }}
{{ attach_library('common_design/cd-typography') }}
{{ attach_library('common_design/cd-block-title') }}

<h3 class="cd-block-title">
  Example of a block title
</h3>
