{{ attach_library('common_design/cd-block-title') }}

<div class="cd-block-title">
  Example of a block title as a div
</div>

<h2 class="cd-block-title">
	Example of a block title as Heading 2
</h2>

<h3 class="cd-block-title">
	Example of a block title as Heading 3
</h3>
