/**
 * CD Block Title
 */

.cd-block-title {
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.path-frontpage .cd-block-title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--brand-highlight);
}
