/**
 * CD Block Title
 */

.cd-block-title {
  margin: 0 0 1rem 0;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.cd-block-title--underline {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--brand-grey);
}

.cd-layout-sidebar-first .cd-block-title--underline,
.cd-layout-sidebar-second .cd-block-title--underline {
  border-bottom: 1px solid var(--brand-primary);
}

.cd-content--compact .cd-block-title {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 0 none;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
}

/**
 * Optional rules for Frontpage block titles using brand colours.
 * Copy into sub theme.
 */
 /*
.path-frontpage .cd-block-title--underline {
  border-bottom: 1px solid var(--brand-highlight);
}

.path-frontpage .cd-layout-sidebar-first .cd-block-title--underline,
.path-frontpage .cd-layout-sidebar-second .cd-block-title--underline {
  border-bottom: 1px solid var(--brand-primary);
}
*/
