{{ attach_library('common_design/cd-block-title') }}

<div class="cd-block-title">
	Example of a block title as a div
</div>

<h2 class="cd-block-title cd-block-title--underline">
	Example of a block title as Heading 2 with underline
</h2>

<h3 class="cd-block-title">
	Example of a block title as Heading 3
</h3>

<h2 class="cd-content--compact cd-block-title">
	Example of a block title as Heading 2 compact
</h3>

