ul.tabs {
  display: block;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid var(--cd-blue-grey);
}

/* Clearfix */
ul.tabs::after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
}

ul.tabs > li {
  display: block;
  margin: 0;
}

ul.tabs > li > a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.25rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cd-ocha-blue);
  border: 0 none;
  border-bottom: 2px solid var(--cd-blue-grey);
  border-radius: 0;
  background: none;
  font-weight: 700;
}

@media (min-width: 576px) {
  ul.tabs > li {
    position: relative;
    /* Height of border bottom. */
    margin-bottom: -2px;
  }

  [dir="ltr"] ul.tabs > li {
    float: left;
    margin-right: 0.5rem;
  }

  [dir="rtl"] ul.tabs > li {
    float: right;
    margin-left: 0.5rem;
  }
}

@media (min-width: 768px) {
  ul.tabs > li > a {
    min-width: 7rem; /* 112px */
  }
}

ul.tabs > li > a.is-active,
ul.tabs > li > a:hover {
  color: var(--cd-ocha-blue);
  border: 0 none !important;
  border-bottom: 2px solid var(--cd-blue-grey) !important;
  background-color: var(--cd-blue-grey);
}

ul.tabs > li > a.is-active {
  background-color: var(--cd-grey--light);
}

ul.tabs > li > a:focus {
  outline: 3px solid var(--cd-blue--bright);
  background: var(--cd-blue-grey);
}
