{{ attach_library('common_design/cd-tabs') }}

<nav class="tabs" role="navigation" aria-label="Tabs">
  <h2 class="visually-hidden">Primary tabs</h2>
  <ul class="tabs primary">
    <li class="is-active">
      <a href="#" class="is-active">View<span class="visually-hidden">(active tab)</span></a>
    </li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</nav>
