<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-tabs.css" type="text/css" media=screen>

<div class="cd-page-layout-container">
  <div class="cd-container">

    <nav class="tabs" role="navigation" aria-label="Tabs">

      <h2 class="visually-hidden">Primary tabs</h2>
      <ul class="tabs primary">
        <li class="is-active">
          <a href="#" class="is-active">View<span class="visually-hidden">(active tab)</span></a>
        </li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Delete</a></li>
      </ul>

    </nav>

  </div>
</div>
