.cd-article-teaser {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--cd-site-bg-color);
  clear: left;
  overflow: hidden;
}

.cd-article-teaser__image {
  float: left;
  max-width: 6rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.cd-article-teaser__image img {
  width: 100%;
}

.cd-article-teaser__image + .cd-article-teaser__container {
  padding: 0 1rem 0 7rem;
}

.cd-article-teaser__title {
  margin: 0 0 0.5rem;
}

.cd-article-teaser__title a {
  font-weight: 600;
  font-size: 1rem;
}

.cd-article-teaser__description {
  margin: 0 0 1rem;
}

.cd-article-teaser dt {
  font-weight: 600;
}

.cd-article-teaser dd {
  padding-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .cd-article-teaser dl {
    display: flex;
    flex-wrap: wrap;
  }

  .cd-article-teaser dt {
    flex: 0 0 25%;
    width: 25%;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .cd-article-teaser dd {
    flex: 0 0 75%;
    width: 75%;
    margin-left: auto;
  }
}
