{{ attach_library('common_design/cd-hero') }}

<figure class="cd-hero">
  <img class="cd-hero__image" src="https://via.placeholder.com/1280x720" alt="">
  <figcaption class="cd-hero__container">
    <h3 class="cd-hero__title">
      Cras molestie risus a enim convallis vitae luctus libero lacinia
    </h3>
    <div class="cd-hero__description">Aliquam nisl enim&hellip; tristique tempus placerat at, posuere in lectus. Aliquam tincidunt velit sit amet <a href='#'>ante hendrerit</a> tempus.</div>
    <div class="cd-hero__footer">
      <div class="cd-hero__date">
        31 May 2018
      </div>
      <a class="cd-hero__link" href="#">
        Learn more
      </a>
    </div>
  </figcaption>
</figure>
