{{ attach_library('common_design/cd-bullet-list') }}

<ul class="cd-bullet-list">
  <li>
    <a href="#" rel="tag">
      <svg class="cd-icon cd-icon--arrow-right">
        <use xlink:href="#cd-icon--arrow-right"></use>
      </svg>
      Menu item title
    </a>
  </li>

  <li>
    <a href="#" rel="tag">
      <svg class="cd-icon cd-icon--arrow-right">
        <use xlink:href="#cd-icon--arrow-right"></use>
      </svg>
      Menu item title
    </a>
  </li>

  <li>
    <a href="#" rel="tag">
      <svg class="cd-icon cd-icon--arrow-right">
        <use xlink:href="#cd-icon--arrow-right"></use>
      </svg>
      Menu item title
    </a>
  </li>

</ul>
