<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-bullet-list.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">
    <ul class="cd-bullet-list cd-bullet-list--icon [ cd-flow ]">
      <li>
        <a href="#">
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
          Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh
        </a>
      </li>

      <li>
        <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
          <use xlink:href="#cd-icon--arrow-right"></use>
        </svg>
        Sed dapibus lectus sit amet
      </li>

      <li>
        <a href="#">
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
          Adipiscing egestas mauris est viverra nibh
        </a>
      </li>
    </ul>

    <ul class="cd-bullet-list [ cd-flow ]">
      <li>
        <a href="#">
          Sed dapibus lectus sit amet adipiscing egestas mauris est viverra nibh
        </a>
      </li>

      <li>
        Sed dapibus lectus sit amet
      </li>

      <li>
        <a href="#">
          Adipiscing egestas mauris est viverra nibh
        </a>
      </li>
    </ul>

  </div>
</div>
