.cd-bullet-list {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

.cd-bullet-list li {
  text-indent: -1.25em;
  position: relative;
  text-decoration: none;
}

[dir="ltr"] .cd-bullet-list li {
  padding-left: 1.25em;
}

[dir="rtl"] .cd-bullet-list li {
  padding-right: 1.25em;
}

.cd-bullet-list li::before {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
}

[dir="ltr"] .cd-bullet-list li::before {
  margin-right: 0.5rem;
}

[dir="rtl"] .cd-bullet-list li::before {
  transform: scale(-1, 1);
  margin-left: 0.5rem;
  background-position: 100% 0;
}

/* When using an SVG element as icon */
[dir="ltr"] .cd-bullet-list--icon li::before,
[dir="rtl"] .cd-bullet-list--icon li::before {
  content: none;
}

.cd-bullet-list--icon svg {
  fill: var(--cd-highlight-red);
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
}

[dir="ltr"] .cd-bullet-list--icon svg {
  margin-right: 0.5rem;
}

[dir="rtl"] .cd-bullet-list--icon svg {
  margin-left: 0.5rem;
}

[dir="rtl"] .cd-bullet-list--icon .cd-icon--arrow-right {
  transform: scale(-1, 1);
}
