//——————————————————————————————————————————————————————————————————————————————
// Common Design: CSS Resets
//——————————————————————————————————————————————————————————————————————————————

.cd-header,
.cd-footer {
  // Setup font
  font-family: $cd-font;
  @include font-size($cd-font-size-tiny);
  font-weight: 300;

  // Set box-sizing
  box-sizing: border-box;

  html[lang='ar'] &,
  html[lang='ru'] &,
  html[lang='zh'] & {
    font-family: $cd-font--noto;
  }

  // box-sizing on all child elements
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Reset button styles.
  button {
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none;
    @include font-size($cd-font-size-tiny);
    font-weight: 300;

    html[lang='ar'] &,
    html[lang='ru'] &,
    html[lang='zh'] & {
      font-family: $cd-font--noto;
    }

    &[data-cd-toggler] {
      background-color: transparent;
    }
  }
}
