//——————————————————————————————————————————————————————————————————————————————
// SVG icon styles
//——————————————————————————————————————————————————————————————————————————————

// SVG sprite palced before end of body in html.tpl.php
svg.icons-sprite {
  @extend .hidden;

  overflow: hidden;
}

svg.icon {
  display: inline-block;
  pointer-events: none;
}

.cd-icon {
  width: 0.5rem;
  height: 0.5rem;
}
