//——————————————————————————————————————————————————————————————————————————————
// Common Design: CSS Resets
//——————————————————————————————————————————————————————————————————————————————

.cd-header,
.cd-footer {

  // Set box-sizing
  box-sizing: border-box;
  // Setup font
  font-family: $cd-font;
  font-size: $cd-font-size--tiny;
  font-weight: 300;

  // box-sizing on all child elements
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Reset button styles.
  button {
    border-radius: 0;
    box-shadow: none;
    font-size: $cd-font-size--tiny;
    font-weight: 300;
    -webkit-appearance: none;

    &[data-cd-toggler] {
      background-color: transparent;
    }
  }
}
