{% embed '@common_design/cd/cd-footer/cd-social-menu.html.twig' %}

  {% block social_media %}

  <a href="https://www.facebook.com/UNOCHA" class="cd-footer-social__link">
    <span class="visually-hidden">Facebook</span>

    <svg class="cd-icon cd-icon--facebook" aria-hidden="true" focusable="false" width="32" height="32">
      <use xlink:href="#cd-icon--sm-fb-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--facebook hover-style" aria-hidden="true" focusable="false" width="32" height="32">
      <use xlink:href="#cd-icon--sm-fb-full"></use>
    </svg>
  </a>

  <a href="https://twitter.com/unocha" class="cd-footer-social__link">
    <span class="visually-hidden">Twitter</span>

    <svg class="cd-icon cd-icon--twitter" aria-hidden="true" focusable="false" width="32" height="32">
      <use xlink:href="#cd-icon--sm-tt-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--twitter hover-style" aria-hidden="true" focusable="false" width="32" height="32">
      <use xlink:href="#cd-icon--sm-tt-full"></use>
    </svg>
  </a>

  <a href="https://www.youtube.com/user/ochafilms" class="cd-footer-social__link">
    <span class="visually-hidden">YouTube</span>

    <svg class="cd-icon cd-icon--youtube" aria-hidden="true" focusable="false" width="32" height="32">
      <use xlink:href="#cd-icon--sm-yt-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--youtube hover-style" aria-hidden="true" focusable="false" width="32" height="32">
      <use xlink:href="#cd-icon--sm-yt-full"></use>
    </svg>
  </a>
  {% endblock %}

{% endembed %}
