{% embed '@common_design/cd/cd-footer/cd-social-menu.html.twig' %}

  {% block social_media %}

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">Facebook</span>

    <svg class="cd-icon cd-icon--facebook">
      <use xlink:href="#cd-icon--sm-fb-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--facebook hover-style">
      <use xlink:href="#cd-icon--sm-fb-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">Twitter</span>

    <svg class="cd-icon cd-icon--twitter">
      <use xlink:href="#cd-icon--sm-tt-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--twitter hover-style">
      <use xlink:href="#cd-icon--sm-tt-full"></use>
    </svg>
  </a>

  <a href="###" class="cd-footer-social__link">
    <span class="visually-hidden">YouTube</span>

    <svg class="cd-icon cd-icon--youtube">
      <use xlink:href="#cd-icon--sm-yt-def"></use>
    </svg>

    <svg class="cd-icon cd-icon--youtube hover-style">
      <use xlink:href="#cd-icon--sm-yt-full"></use>
    </svg>
  </a>

  {% endblock %}

{% endembed %}
