/**
 * CD Form: Preview display mode
 */

.node-preview-container,
.term-preview-container {
  padding: 0;
}
.node-preview-container header,
.term-preview-container header {
  position: sticky;
  height: 40px;
  text-align: center;
  color: var(--cd-white);
  background: var(--cd-red);
}
.node-preview-container header h3,
.term-preview-container header h3 {
  height: 40px;
  margin: 0;
  color: var(--cd-white);
  line-height: 40px;
}
.node-preview-container .form-type-select,
.term-preview-container .form-type-select {
  margin-left: 0;
}
.node-preview-form-select .node-preview-backlink,
.term-preview-form-select .term-preview-backlink {
  position: absolute;
  z-index: 1000;
  top: 40px; /* Height of Preview header */
  left: 50%;
  display: inline-block;
  padding: 2px 8px 4px;
  transform: translateX(-50%);
  color: var(--cd-white);
  border-radius: 0 0 10px 10px;
  background: var(--cd-black);
  font-size: var(--cd-font-size--small);
  font-weight: 500;
}
.node-preview-form-select .node-preview-backlink:hover,
.term-preview-form-select .term-preview-backlink:hover {
  background: var(--brand-primary--dark);
}
.node-preview-form-select .form-item-view-mode,
.term-preview-form-select .form-item-view-mode {
  /* Or hide View mode select element */
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.node-preview-form-select .form-item-view-mode label,
.term-preview-form-select .form-item-view-mode label {
  flex: 1 0 auto;
  margin-inline-end: 0.5rem;
  color: var(--cd-black);
}
/* Push whole containing element down so header can be sticky */
.dialog-off-canvas-main-canvas {
  padding-top: 40px; /* Height of Preview header */
}
