<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Common Design: Figure list component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
    <link rel=stylesheet href="cd-figure-list.css" type="text/css" media=screen>
  </head>
  <body>
    <h3 class="visually-hidden">Needs and Requirements</h3>
    <ul class="cd-figure-list">
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">People in Need</div>
        <div class="cd-figure-list__value">18.4 million</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">People targeted</div>
        <div class="cd-figure-list__value">15.7 million</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">Requirements <small>(US$)</small></div>
        <div class="cd-figure-list__value">1.3 billion</div>
      </li>
    </ul>

    <hr>

    <h3 class="visually-hidden">Needs and Requirements</h3>
    <ul class="cd-figure-list cd-figure-list--large">
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">People in Need</div>
        <div class="cd-figure-list__value">18.4 million</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">People targeted</div>
        <div class="cd-figure-list__value">15.7 million</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">Requirements <small>(US$)</small></div>
        <div class="cd-figure-list__value">1.3 billion</div>
      </li>
    </ul>

    <h3 class="visually-hidden">Additional figures</h3>
    <ul class="cd-figure-list cd-figure-list--small">
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">Total Population</div>
        <div class="cd-figure-list__value">38.9 million</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">Income level</div>
        <div class="cd-figure-list__value">Low income</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">INFORM Severity Index</div>
        <div class="cd-figure-list__value">4.6 / Very High</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">Consecutive appeals</div>
        <div class="cd-figure-list__value">2009 – 2021</div>
      </li>
      <li class="cd-figure-list__item">
        <div class="cd-figure-list__label">People reached (2020)</div>
        <div class="cd-figure-list-item__value">10 million</div>
      </li>
    </ul>
  </body>
</html>
