/**
 * CD Tabs
 *
 * They form full-width buttons on mobile, and a wrappable row of auto-width
 * buttons once space allows. They work with all reading directions.
 */

:root {
  --cd-tabs-border-width: 2px;
}

/**
 * Mobile tabs (default)
 */
ul.tabs {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
  border-bottom: var(--cd-tabs-border-width) solid var(--brand-grey);
}

ul.tabs > li {
  display: block;
  flex: 0 0 100%;
  align-self: flex-end;
  margin: 0;
  margin-bottom: calc(var(--cd-tabs-border-width) * -1);
}

ul.tabs > li > a {
  display: block;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--brand-primary--dark);
  border: 0 none;
  border-bottom: var(--cd-tabs-border-width) solid var(--brand-grey);
  border-radius: 0;
  background: none;
  font-weight: 700;
}

ul.tabs > li > a.is-active,
ul.tabs > li > a:hover {
  color: var(--brand-primary);
  background-color: var(--brand-grey);
}

ul.tabs > li > a:focus {
  color: var(--cd-white);
  outline: 3px solid var(--brand-highlight);
  background: var(--brand-primary--dark);
}

/**
 * Standard tabs.
 *
 * Once we have enough room, expand tabs to a wrappable row and remove borders.
 */
@media (min-width: 576px) {
  ul.tabs {
    gap: 0.5rem;
  }
  ul.tabs > li {
    flex-basis: auto;
    margin-bottom: 0;
  }
  ul.tabs > li > a {
    padding: 0.25rem 1rem;
    border-bottom: 0;
  }
}
