{{ attach_library('common_design/cd-tabs') }}

<nav class="tabs" aria-label="{{ 'Primary tabs'|t }}">
  <ul class="tabs primary" role="list">
    <li class="is-active">
      <a href="#" class="is-active">View<span class="visually-hidden"> (active tab)</span></a>
    </li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</nav>
