{{ attach_library('common_design/cd-read-more') }}

<a href="#" class="cd-read-more">
  Learn more
  <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
    <use xlink:href="#cd-icon--arrow-right"></use>
  </svg>
</a>
