.cd-social-links {
  color: #1f1f1f;
  width: 100%;
  z-index: 5; /* keep them clickable */
}
.cd-social-links__wrapper {
  position: relative;
}
.cd-social-links ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
@media (min-width: 576px) {
  .cd-social-links ul {
    position: absolute;
    padding-left: inherit;
    padding-right: inherit;
  }
  html[dir='ltr'] .cd-social-links ul  {
    right: 0;
  }
  html[dir='rtl'] .cd-social-links ul  {
    left: 0;
  }
}
.cd-social-links li {
  flex: 0 0 14px;
  list-style-type: none;
  margin: 0;
}
html[dir='ltr'] .cd-social-links li + li {
  margin-left: 8px;
}
html[dir='rtl'] .cd-social-links li + li {
  margin-right: 8px;
}
.cd-social-links__link {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
}
.cd-social-links__link--twitter {
  width: 17.2px;
}
.cd-social-links__link--pdf {
  width: 19.25px;
}
.cd-social-links svg,
.cd-social-links .cls-1 {
  fill: #1f1f1f;
  width: 100%;
  height: 100%;
}

/**
 * Copy URL to Clipboard
 *
 * When the button is used, it has a little tooltip for user feedback.
 *  - :before is the message bubble containing text
 *  - :after is the little triangle below the message bubble
 */
.cd-social-links__link--copy {
  position: relative;
}
.cd-social-links__link--copy::before,
.cd-social-links__link--copy::after {
  position: absolute;
  top: -27px;
  z-index: 4;
  opacity: 0;
  transition: .1666s ease-in-out;
  transition-property: opacity, transform;
}
.cd-social-links__link--copy::before {
  content: attr(data-message);
  display: inline-block;
  background: black;
  color: white;
  width: auto;
  font-size: 14px;
  padding: .2em .4em;
  white-space: nowrap;
  border-radius: 5px;
}
[dir="ltr"] .cd-social-links__link--copy::before {
  transform: translateX(-40%);
  left: 7px;
}
[dir="rtl"] .cd-social-links__link--copy::before {
  transform: translateX(40%);
  right: 7px;
}
@media screen and (min-width: 576px) {
  [dir="ltr"] .cd-social-links__link--copy::before {
    transform: translateX(-89%);
    left: 7px;
  }
  [dir="rtl"] .cd-social-links__link--copy::before {
    transform: translateX(89%);
    right: 7px;
  }
}
@media screen and (min-width: 768px) {
  [dir="ltr"] .cd-social-links__link--copy::before {
    transform: translateX(-89%);
    left: 16px;
  }
  [dir="rtl"] .cd-social-links__link--copy::before {
    transform: translateX(89%);
    right: 16px;
  }
}
.cd-social-links__link--copy::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  top: -2px;
}
[dir="ltr"] .cd-social-links__link--copy::after {
  transform: translateX(-50%);
  left: 7px;
}
[dir="rtl"] .cd-social-links__link--copy::after {
  transform: translateX(50%);
  right: 7px;
}
.cd-social-links__link--copy.is--showing-message::before,
.cd-social-links__link--copy.is--showing-message::after {
  opacity: 1;
}
[dir="ltr"] .cd-social-links__link--copy.is--showing-message::before {
  transform: translateX(-40%) translateY(-10px);
}
[dir="rtl"] .cd-social-links__link--copy.is--showing-message::before {
  transform: translateX(40%) translateY(-10px);
}
@media screen and (min-width: 576px) {
  [dir="ltr"] .cd-social-links__link--copy.is--showing-message::before {
    transform: translateX(-89%) translateY(-10px);
  }
  [dir="rtl"] .cd-social-links__link--copy.is--showing-message::before {
    transform: translateX(89%) translateY(-10px);
  }
}
[dir="ltr"] .cd-social-links__link--copy.is--showing-message::after {
  transform: translateX(-50%) translateY(-10px);
}
[dir="rtl"] .cd-social-links__link--copy.is--showing-message::after {
  transform: translateX(50%) translateY(-10px);
}
