<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-social-links.css" type="text/css" media=screen>

<footer class="cd-social-links">
  <div class="cd-social-links__wrapper">
    <ul>
      <li>
        <a class="cd-social-links__link cd-social-links__link--twitter" href="https://twitter.com/intent/tweet?text=Message%0A%0Ahttps://un.org">
          <span class="visually-hidden">Share on Twitter</span>
          <svg class="cd-icon cd-icon--social-links--twitter" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--social-links--twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://un.org">
          <span class="visually-hidden">Share on Facebook</span>
          <svg class="cd-icon cd-icon--social-links--facebook" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--social-links--facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&summary=Message&title={{ label|render|striptags|trim }}&url=https://un.org">
          <span class="visually-hidden">Share on LinkedIn</span>
          <svg class="cd-icon cd-icon--social-links--linkedin" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--social-links--linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--copy" href="https://un.org" data-message="URL copied to clipboard">
          <span class="visually-hidden">Copy URL to clipboard</span>
          <svg class="cd-icon cd-icon--copyurl" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--copyurl"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--pdf" href="https://un.org">
          <span class="visually-hidden">Download PDF</span>
          <svg class="cd-icon cd-icon--pdf" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--pdf"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
