<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-social-links.css" type="text/css" media=screen>

<footer class="cd-social-links">
  <div class="cd-social-links__wrapper">
    <ul>
      <li>
        <a class="cd-social-links__link cd-social-links__link--twitter" href="https://twitter.com/intent/tweet?text=Message%0A%0Ahttps://un.org">
          <span class="visually-hidden">Share on Twitter</span>
          <img src="./img/icon--twitter.svg" height="14" alt="Share on Twitter">
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://un.org">
          <span class="visually-hidden">Share on Facebook</span>
          <img src="./img/icon--facebook.svg" height="14" alt="Share on Facebook">
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&summary=Message&title={{ label|render|striptags|trim }}&url=https://un.org">
          <span class="visually-hidden">Share on LinkedIn</span>
          <img src="./img/icon--linkedin.svg" height="14" alt="Share on LinkedIn">
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--copy" href="https://un.org" data-message="URL copied to clipboard">
          <span class="visually-hidden">Copy URL to clipboard</span>
          <img src="./img/icon--copyurl.svg" height="14" alt="Copy URL to clipboard">
        </a>
      </li>
      <li>
        <a class="cd-social-links__link cd-social-links__link--pdf" href="https://un.org">
          <span class="visually-hidden">Download PDF</span>
          <img src="./img/icon--pdf.svg" height="14" alt="Download PDF">
        </a>
      </li>
    </ul>
  </div>
</footer>
