{{ attach_library('common_design/cd-user-list') }}


<ul class="cd-user-list">
  <li>
    <div class="cd-user-list__image">
      <img src="https://via.placeholder.com/100" alt="placeholder image">
    </div>
    <div class="cd-user-list__name">
      Firstname Lastname
    </div>
    <div class="cd-user-list__position">
      Position
    </div>
    <div class="cd-user-list__organization">
      <a href="#">Organization</a>
    </div>
  </li>

  <li>
    <div class="cd-user-list__image">
      <img src="https://via.placeholder.com/100" alt="placeholder image">
    </div>
    <div class="cd-user-list__name">
      Firstname Lastname
    </div>
    <div class="cd-user-list__position">
      Position
    </div>
    <div class="cd-user-list__organization">
      <a href="#">Organization</a>
    </div>
  </li>

  <li>
    <div class="cd-user-list__image">
      <img src="https://via.placeholder.com/100" alt="placeholder image">
    </div>
    <div class="cd-user-list__name">
      Firstname Lastname
    </div>
    <div class="cd-user-list__position">
      Position
    </div>
    <div class="cd-user-list__organization">
      <a href="#">Organization</a>
    </div>
  </li>

</ul>
