{% embed '@common_design/layout/page.html.twig' %}
  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main aria-label="{{ 'Page content'|t }}" id="main-content" class="cd-container">

      {{ page.page_title }}

      <div class="cd-layout">
        <div class="cd-layout__content">
          {{ page.content }}
        </div>{# /.cd-layout__content #}
      </div>

    </main>
  {% endblock %}
{% endembed %}



