{% embed 'page.html.twig' %}

  {% block main %}
    {# Link to skip to the main content is in html.html.twig #}
    <main role="main" id="main-content" class="cd-container">

      <div class="cd-layout-content">
        {{ page.content }}
      </div>{# /.layout-content #}

    </main>
  {% endblock %}

{% endembed %}



