<link rel=stylesheet href="../cd-base.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-flow/cd-flow.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-utilities/cd-utilities.css" type="text/css" media=screen>
<link rel=stylesheet href="../cd-block-title/cd-block-title.css" type="text/css" media=screen>
<link rel=stylesheet href="cd-title-list.css" type="text/css" media=screen>

<div class="cd-layout-container">
  <div class="cd-container">
    <h3 class="cd-block-title">
      Challenges
    </h3>

    <ul class="cd-title-list [ cd-flow ]">
      <li class="cd-title-list__item">
        <a href="/#" class="cd-title-list__link">
          <span class="cd-title-list__title">Historic Economic Decline is Reversing Development Gains</span>
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
        </a>
      </li>
      <li class="cd-title-list__item">
        <a href="#" class="cd-title-list__link">
          <span class="cd-title-list__title">Conflicts Continue to Take a Heavy Toll on Civilians</span>
          <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
            <use xlink:href="#cd-icon--arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
