name: Run tests

on: [pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '^18.16.1'

      - name: Get deps for base-theme
        run: |
          npm install

      - name: Run tests on base-theme
        run: |
          npm run css:lint && npm run js:lint

      - name: Get deps for sub-theme
        run: |
          cd common_design_subtheme && npm install

      - name: Run tests on sub-theme
        run: |
          cd common_design_subtheme && pwd && npm run css:lint && npm run js:lint
